# configuration bits for mod_rpmize
# syntax:
# <begin [x]section>
# <end [x]section>
#
# x an be $ for a string or % for a hash.
# if a hash is being used, you can add sub-sections with
# <begin sub-section>
# <end sub-section>


<begin $DESCRIPTION>
%package [LABEL]
Group: System Environment/BlueOnyx
Summary: [LABEL] for [VENDOR]-[SERVICE].
[AUTOFILL]
[BUILDARCH]

%description [LABEL]
The [VENDOR]-[SERVICE]-[LABEL] package contains the [LABEL]
information for [VENDOR]-[SERVICE].

<end $DESCRIPTION>

<begin %PREP>
<end %PREP>

<begin %SETUP>
<end %SETUP>

<begin %BUILD>
<end %BUILD>

<begin %INSTALL>
<end %INSTALL>

<begin %FILES>
<begin HEADER>
%files [LABEL]
%defattr(-,root,root)
<end HEADER>

<begin locale>
[AUTOFILL]

<end locale>

<begin glue>
[AUTOFILL]

<end glue>

<begin ui>
[AUTOFILL]
%{RootDir}/ui/web/robots.txt
%{RootDir}/ui/web/libImage/*
%{RootDir}/ui/web/.adm/*
%{RootDir}/ui/web/.htaccess
%{RootDir}/ui/web/index.php
%config(noreplace) %{RootDir}/ui/web/.adm/styles/customer/customer.css
%{RootDir}/ui/chorizo/ci/*
/usr/share/doc/blueonyx-release-520XR/CHORIZO-readme.txt
%{RootDir}/ui/chorizo/ci/CHORIZO-readme.txt
%attr(0700,admserv,admserv) %{RootDir}/capcache

<end ui>

<begin capstone>
%{RootDir}/capstone/%{Vendor}-%{Service}.cap
/etc/sysconfig/firstboot
[AUTOFILL]

<end capstone>
<end %FILES>

<begin %POST-INSTALL>
<begin HEADER>
%post [LABEL]
<end HEADER>

<begin capstone>
# capstone post-install
/usr/sausalito/constructor/base/alpine/12_handle_sl_repos.pl
<end capstone>

<begin glue>
# glue post-install 
<end glue>
<begin ui>
# ui post-install

# Set random number for $config['encryption_key'] in the CodeIgniter config:
RANDNUMA=`/usr/bin/od -vAn -N8 -tx8 < /dev/urandom | /bin/sed -e 's/^\s//'`;
RANDNUMB=`/usr/bin/od -vAn -N8 -tx8 < /dev/urandom | /bin/sed -e 's/^\s//'`;
/bin/sed -i -e "s/cf81d0da4acb2dbf276413111e8e4d48/$RANDNUMA$RANDNUMB/" /usr/sausalito/ui/chorizo/ci/application/config/config.php

if [ -d /usr/sausalito/ui/chorizo/ci/application/modules/compass ]; then
        /bin/rm -Rf /usr/sausalito/ui/chorizo/ci/application/modules/compass
fi

# Yeah, this shouldn't be here. Nothing to see. Move along. Thanks.
if [ -f /usr/sausalito/constructor/virtbiz/branding/initial_site.pl ]; then
        /usr/sausalito/constructor/virtbiz/branding/initial_site.pl
fi

# This is a horrible script that old versions of the blueonyx-cd-installer might have
# brought aboard. We need to remove it:
if [ -f /usr/sausalito/constructor/base/blueonyx/51_set_default_services.pl ];then
  /bin/rm -f /usr/sausalito/constructor/base/blueonyx/51_set_default_services.pl
fi

<end ui>
<begin locale>
# locale post-install

<end locale>
<end %POST-INSTALL>

<begin %POST-UNINSTALL>
<begin HEADER>
%postun [LABEL]
<end HEADER>

<begin glue>
# glue post-uninstall

<end glue>
<begin ui>
# ui post-uninstall

<end ui>
<begin locale>
# locale post-uninstall

<end locale>
<end %POST-UNINSTALL>

<begin $CHANGELOG>

* Mon Mar 21 2016 Michael Stauber <mstauber@solarspeed.net> 1.2-1BX059
- Updated Italian locales added as provided by Simone Capra.
- Added MIME types 'csr', 'cert' and 'crt' to ci/application/config/mimes.php

* Fri Mar 18 2016 Michael Stauber <mstauber@solarspeed.net> 1.2-1BX058
- As the BlueOnyx Wiki now has an SSL certificate I modified the Wiki
  button at the GUI page bottom to use HTTPS instead of HTTP if someone
  is using the GUI via HTTPS.

* Thu Jan 14 2016 Michael Stauber <mstauber@solarspeed.net> 1.2-1BX057
- Memcache rollback.

* Tue Jan 12 2016 Michael Stauber <mstauber@solarspeed.net> 1.2-1BX056
- Need for speed initiative.
- Makefile edited to add capcache
- Modified templates/rpmdefs.tmpl to add capcache
- Bugfixes in ci/application/modules/base/gui/controllers/*.php
- Extended ci/application/libraries/CceClient.php with Debug logging to log all CCEd transactions.
- Extended ci/application/libraries/ServerScriptHelper.php with Debug logging.
- Modified ci/application/libraries/ServerScriptHelper.php to use a cache for Capabilities.
- Modified ci/application/modules/base/login/controllers/login.php to clean up capcache.
- Lots of streamlining in ci/application/libraries/BxPage.php

* Tue Jan 12 2016 Michael Stauber <mstauber@solarspeed.net> 1.1-1BX055
- Modified ci/application/libraries/BxPage.php for smarter/faster AM checks.

* Thu Dec 24 2015 Michael Stauber <mstauber@solarspeed.net> 1.1-1BX054
- Added requirement for perl-LWP-Protocol-https

* Thu Dec 24 2015 Michael Stauber <mstauber@solarspeed.net> 1.1-1BX053
- Added requirement for base-memcache-capstone.

* Tue Dec 15 2015 Hisao SHIBUYA <hisao@smack.jp> 1.1-1BX052 
- Add memcache capability.

* Thu Dec 03 2015 Michael Stauber <mstauber@solarspeed.net> 1.1-1BX051
- Finally. Finally I found a way to suppress the progress bar overlay 
  when the form validation failed and instead show a constructive error
  message instead. What a birth. 
- Modified ci/application/libraries/BxPage.php to show unminimized styles
  if /etc/DEBUG is present. 
- Modified ci/application/libraries/uifc/PagedBlock.php to always show a
  hidden ('display_none') error message related to form validation failure.
- Modified ci/application/views/validation_view.php 'form: function()' to
  show or hide the progress overlay or form validation error message
  dependent on the success or failure of the form validation. Yay.
- Modifed ci/application/views/neutral_footer_view.php and
  ci/application/views/footer_view.php to remove the jQuery code that was
  used to show the loading overlay. As now validation_view.php does that
  job we no longer need it there.
- Modified ci/application/views/header_view.php and neutral_header_view.php
  to show the CSS based on what BxPage.php tells it to show.
- Extended locales with the new error message.

* Thu Nov 05 2015 Michael Stauber <mstauber@solarspeed.net> 1.1-1BX050
- Modified ci/application/libraries/uifc/FormFieldBuilder.php to change
  function makeBxDivider() to override the CSS property line-height to
  18 px. That way we can use BxDivider in getMultiChoice().

* Tue Oct 27 2015 Michael Stauber <mstauber@solarspeed.net> 1.1-1BX049
- Added support for forcing protocols for GUI access to HTTPS (and HTTP).
- Modified ci/application/modules/base/login/controllers/login.php
- Modified ci/application/libraries/BxPage.php
- Modified ci/application/modules/base/login/views/login_view.php
- Added ci/application/modules/base/login/views/login_view_solo.php

* Fri Oct 23 2015 Michael Stauber <mstauber@solarspeed.net> 1.1-1BX048
- Added configurable timeout to function areWeOnline(). Default = 10 secs.

* Thu May 28 2015 Michael Stauber <mstauber@solarspeed.net> 1.1-1BX047
- Modified ci/application/libraries/BxPage.php for better error handling
  by suppressing duplicate errors.
- Small fix to ci/application/libraries/CCE.php
- Changed almost all line indentations from tabs to spaces.

* Tue May 26 2015 Michael Stauber <mstauber@solarspeed.net> 1.1-1BX046
- Added UIFC class GeoIP.

* Thu May 21 2015 Michael Stauber <mstauber@solarspeed.net> 1.1-1BX045
- Modified ci/application/modules/base/login/controllers/login.php to
  set auto-detected locale immediately to cookie. This is the only way
  how we can get i18n behave correctly for Japanese users on the login
  page prior to authentication.

* Sat Mar 28 2015 Michael Stauber <mstauber@solarspeed.net> 1.1-1BX044
- Modified ci/application/libraries/BxPage.php to manually tack on the Logout
  menu entry to the end of 'Personal Profile' for regular users.

* Sat Mar 14 2015 Michael Stauber <mstauber@solarspeed.net> 1.1-1BX043
- Small fix in ci/application/modules/base/gui/controllers/processFrame.php
  If we have an empty $message, we rather should show a generic error message.

* Mon Mar 09 2015 Michael Stauber <mstauber@solarspeed.net> 1.1-1BX042
- Modified ci/application/libraries/uifc/ScrollList.php again to dynamically
  create inline CSS for DataTables if the columns have a width defined.

* Mon Mar 09 2015 Michael Stauber <mstauber@solarspeed.net> 1.1-1BX041
- Small fix in ci/application/libraries/I18nNative.php's i18n_interpolate()
  function. It wasn't handling substitutions of more than one VAR correctly.
- Merged in Michael Aronoff's CSS improvements:
- Modified ci/application/libraries/uifc/CompositeFormField.php
- Modified ci/application/libraries/uifc/FormFieldBuilder.php
- Modified ci/application/libraries/uifc/ScrollList.php
- Added web/.adm/styles/adminica/maronoff.css
- Fixed a small improperly escaped comment at the end of maronoff.css
- Added web/.adm/styles/adminica/maronoff-mini.css
- Merged maronoff.css into web/.adm/styles/adminica/combined-common.css
- Merged maronoff-mini.css into web/.adm/styles/adminica/combined-common-mini.css
- Partial rollback of the ci/application/libraries/uifc/ScrollList.php changes.
  When setWidth is used, we set the style manually. When it is not used, we use
  td class instead of td style.

* Fri Feb 20 2015 Michael Stauber <mstauber@solarspeed.net> 1.1-1BX040
- It is time to merge the alpine.mod from 5209R/5208R/5207R into a single
  module that works on all the Chorizo platforms.
- Modified constructor/setup_capabilities.pl to add a platform check before
  setting the reseller caps. 5209R has two extra caps to deal with the new
  PHP implementation. So we set them only on 5209R.

* Fri Feb 20 2015 Michael Stauber <mstauber@solarspeed.net> 1.1-1BX039
- Small fix in ci/application/libraries/CCE.php
- Updated the CSS files to remove the 10 pixel spacing below .alert
  elements:
- Modified web/.adm/styles/adminica/combined-common-mini.css
- Modified web/.adm/styles/adminica/combined-common.cs

* Thu Feb 12 2015 Michael Stauber <mstauber@solarspeed.net> 1.1-1BX038
- Modified ci/application/libraries/CCE.php to fix ccephp_get() to make
  sure that $oid is not empty, not an array and really is a string.
  Otherwise return -1 to indicate a failure.
- Modified ci/application/libraries/I18nNative.php as it wasn't properly
  replacing [[VAR.hostname]] and other substitutions in some places.

* Thu Feb 05 2015 Michael Stauber <mstauber@solarspeed.net> 1.1-1BX037
- Another fix to ci/application/libraries/CCE.php in regards to escaping
  of values that we submit to CODB. This should make sure that passwords
  (and other data) can contain the full range of special characters found
  on the en_US keyboard. This doesn't include umlauts, accents Pound or
  Euro-sign, as CODB won't accept them without transposition anyway.

* Tue Feb 03 2015 Michael Stauber <mstauber@solarspeed.net> 1.1-1BX036
- One more fix for ci/application/libraries/CCE.php. A sucky regular
  expression in _parse_response() was responsible for numeric values
  in responses to trigger the set ['info'] field with an array that
  has no key, but the partial value from the CODB database field.
  Fixes this by preventing the set of the ['info'] array if we have
  no valid key. And the bug only triggered because the timestamp of
  this moment actually matches the regular expression we're looking
  for. That's what we call a timebomb. 'Bomb defused, counter-terrorists
  win.'

* Tue Feb 03 2015 Michael Stauber <mstauber@solarspeed.net> 1.1-1BX035
- More fixes in ci/application/libraries/CCE.php. Two issues here:
- ['info'] sometimes contains garbage after a successful transaction.
  That raises an Error object. Added change that a successful 
  transaction wipes out the ['info'] field now.
- Sometimes we have weird GET transaction without OID. Probably the
  result of getObject() calls to Objects to which we're not privileged.
  Modified ccephp_get() to ignore requests without OID and to return
  a "-1" instead.

* Tue Feb 03 2015 Michael Stauber <mstauber@solarspeed.net> 1.1-1BX034
- Added /home check into platform/alpine.mod/perl/HomeDir.pm to get
  better support for situations where we don't have a /home partition.

* Mon Feb 02 2015 Michael Stauber <mstauber@solarspeed.net> 1.1-1BX033
- Modified ci/application/libraries/ServerScriptHelper.php to hardwire
  timeZone if we don't get one from CODB.

* Sat Jan 31 2015 Michael Stauber <mstauber@solarspeed.net> 1.1-1BX032
- Bugfix in ci/application/libraries/uifc/TimeStamp.php. AM told me that
  a service had been running fine since January 32. That kinda stuck out.

* Sat Jan 31 2015 Michael Stauber <mstauber@solarspeed.net> 1.1-1BX031
- Modified platform/alpine.mod/ci/application/libraries/BxPage.php. Newer
  Firefox versions sometimes don't show the icons. Added a fixed width
  and height of 24 pixels to the HTML IMG tag of all icons.

* Fri Jan 30 2015 Michael Stauber <mstauber@solarspeed.net> 1.1-1BX030
- Added platform/alpine.mod/web/.adm/index.html

* Thu Jan 29 2015 Michael Stauber <mstauber@solarspeed.net> 1.1-1BX029
- Modified ci/application/libraries/CCE.php as it wasn't properly handling
  '305 WARN' messages from CCEd.
- Modified ci/application/libraries/I18nNative.php as it had issues to 
  interpolate domains without a dot. But worse: If a magicstring had
  dots in it (like an IP) the regular expression for it wouldn't fire.
  Instead of fixing the complicated regular expression I did something
  that will probably bite us in the ass again later. But it seems to work
  for now.

* Thu Jan 29 2015 Michael Stauber <mstauber@solarspeed.net> 1.1-1BX028
- Modified constructor/setup_capabilities.pl to add the Reseller
  Capabilities for the new 5209R PHP options.

* Sun Jan 25 2015 Michael Stauber <mstauber@solarspeed.net> 1.1-1BX027
- Modified ci/application/libraries/CCE.php as authkey wouldn't return
  the sessionId during first ccephp_authkey() call. Additionally 
  ccephp_whoami() might encounter an empty array and therefore get
  indexing problems. Fixed as well.

* Thu Jan 22 2015 Michael Stauber <mstauber@solarspeed.net> 1.1-1BX026
- Modified ci/application/libraries/uifc/PagedBlock.php to move error
  message display aray further up so that errors are visible even if
  they are on an inactive tab.

* Mon Dec 22 2014 Michael Stauber <mstauber@solarspeed.net> 1.1-1BX025
- Fun and games. Various cookie related fixes regarding cookie path and
  expiration dates.
- Modified ci/application/libraries/CCE.php
- Modified ci/application/modules/base/login/controllers/login.php

* Mon Dec 22 2014 Michael Stauber <mstauber@solarspeed.net> 1.1-1BX024
- Bugfix in CCE.php: ccephp_get() sometimes gets an $oid that is an array
  instead of a string. Added is_array() check. If it is an array, then we 
  only process the first element of the get request.

* Mon Dec 08 2014 Michael Stauber <mstauber@solarspeed.net> 1.1-1BX023
- Another fix in post-install.

* Thu Dec 04 2014 Michael Stauber <mstauber@solarspeed.net> 1.1-1BX022
- Several bugfixes regarding the native CCE Class. It return the expected
  result when CCEd was down. Fixed ci/application/libraries/CCE.php
- Small fix in ci/application/libraries/ServerScriptHelper.php
- Modified ci/application/modules/base/login/controllers/login.php to
  restart CCEd in case it's down. Due to the nature of how we call
  CceClient.php in the login script ServerScriptHelper.php wasn't doing
  that for us.
- Removed call to Stylist in ci/application/libraries/ReportHelper.php
  as we're no longer really needing that. And it was the source of the
  'undefined index' errors on first UI access to the statistics.

* Tue Dec 02 2014 Michael Stauber <mstauber@solarspeed.net> 1.1-1BX021
- Product string in locales replaced with placeholder.
- Updated ci/application/views/header_view.php to overhaul profile box.
  Now shows Hostname above login name. Removed logout link, as we already
  have that elsewhere.
- Updated glue post-install to run branding constructor.

* Sun Nov 23 2014 Michael Stauber <mstauber@solarspeed.net> 1.1-1BX020
- Small fixes in ci/application/libraries/I18n.php
- Mighty overhaul of ci/application/libraries/I18nNative.php
- Removed debugging print_rp() in ci/application/libraries/uifc/Number.php

* Sat Nov 22 2014 Michael Stauber <mstauber@solarspeed.net> 1.1-1BX019
- BlueOnyx web/favicon.ico added

* Fri Nov 21 2014 Michael Stauber <mstauber@solarspeed.net> 1.1-1BX018
- Bugfix in ci/application/libraries/I18nNative.php

* Fri Nov 21 2014 Michael Stauber <mstauber@solarspeed.net> 1.1-1BX017
- Bugfix in ci/application/libraries/I18nNative.php

* Fri Nov 21 2014 Michael Stauber <mstauber@solarspeed.net> 1.1-1BX016
- Preparational build for 5209R with CCEd/i18n/cracklib related changes.
- ci/application/helpers/blueonyx_helper.php: Support for cracklib/StupidPass
- ci/application/helpers/uifc_ng_helper.php: Locale fixes for getBar()
- ci/application/libraries/CCE.php: Fixed password escaping.
- ci/application/libraries/I18n.php: Various fixes.
- ci/application/libraries/I18nNative.php: Added and interpolate fixed.
- ci/application/libraries/uifc/Bar.php: Locale fixes.
- ci/application/libraries/uifc/PagedBlock.php: Object pre-declaration added.
- ci/application/modules/base/gui/controllers/check_password.php: Modified to
  use either cracklib or fallback to StupidPass if no cracklib is available.
  As is the settings for StupidPass are pretty anal-retentive. This will sure
  cause an uproar unless toned down a little.
- Added ci/application/libraries/StupidPass.php
- Added ci/application/libraries/stupid-pass/LICENSE.txt
- Added ci/application/libraries/stupid-pass/README.md
- Added ci/application/libraries/stupid-pass/StupidPass.class.php
- Added ci/application/libraries/stupid-pass/StupidPass.default.dict
- Added ci/application/libraries/stupid-pass/test.php
- Notes: This build makes Chorizo independent of the underlying PHP version,
  as cracklib.so, cce.so and i18n.so are now complemented/replaced by native
  PHP classes that are used if AdmServ's PHP doesn't have said modules loaded.
  However: We still heavily discourage usage of PHP versions that Chorizo wasn't
  specifically built for or tested against. If you do and find bugs, you can
  keep them.

* Wed Nov 19 2014 Michael Stauber <mstauber@solarspeed.net> 1.1-1BX015
- Bump from 1.0 to 1.1 for general (but transparent) API changes.
- Release number continues and will do so through the Chorizo life-cycle.
- In preparation for 5209R I modified ci/application/libraries/CceClient.php
  to check for the presence of a loaded cce.so PHP module for AdmServ. If
  that module is loaded, we will use it to let CceClient communicate with
  CCEd. If the module is not present, then the new Class CCE.php will be
  used instead.
- Added ci/application/libraries/CCE.php to use PHP methods to natively
  talk with CCEd via the Unix socket. Please see the description in the
  header of said Class for more information about the How and Why.

* Wed Nov 19 2014 Michael Stauber <mstauber@solarspeed.net> 1.0-1BX014
- Modified ci/application/libraries/uifc/PagedBlock.php for better 
  variable handling in error messages.

* Tue Nov 11 2014 Michael Stauber <mstauber@solarspeed.net> 1.0-1BX013
- Modified ci/application/helpers/blueonyx_helper.php to add the cURL
  option 'CURLOPT_TIMEOUT' to catch if an URL is unresponsive.

* Sun Oct 12 2014 Michael Stauber <mstauber@solarspeed.net> 1.0-1BX012
- Modified ci/application/helpers/bxapi_helper.php to implement the new
  handling of creating/destroying MySQL users and databases. Also added
  a lot more debugging.

* Mon Oct 06 2014 Michael Stauber <mstauber@solarspeed.net> 1.0-1BX011
- Updated ci/application/helpers/amdetail_helper.php. It still had a split()
  in it, which naturally is deprecated. Incredible.

* Thu Aug 28 2014 Michael Stauber <mstauber@solarspeed.net> 1.0-1BX010
- The API was a trainwreck and got derailed somewhere along the lines due
  to later code changes. Should be working now.
- Massive fixes in ci/application/helpers/bxapi_helper.php

* Sat Aug 09 2014 Michael Stauber <mstauber@solarspeed.net> 1.0-1BX09
- UIFC function getBoolean() didn't support the 'nolabel' parameter.
- Fixed in ci/application/libraries/uifc/FormFieldBuilder.php
- Fixed in ci/application/libraries/uifc/Boolean.php

* Thu Jul 31 2014 Michael Stauber <mstauber@solarspeed.net> 1.0-1BX08
- Today my grandmother would have had her 87th birthday. Sadly she passed
  away earlier this year. Rest in peace, Anneliese Stauber. You're gone,
  but not forgotten.
- More PHP related timeZone madness: date_default_timezone_set() does not
  recognize 'UTC' as valid timezone and throws an E_WARNING. Crazy. 
- Fixed ci/application/libraries/ServerScriptHelper.php
- Fixed ci/application/libraries/uifc/TimeStamp.php
- Both fixes involve silencing the warnings by running the commands with
  the @-prefix. That'll work unltil they change it from E_WARNING to E_ERROR.

* Wed Jul 23 2014 Michael Stauber <mstauber@solarspeed.net> 1.0-1BX07
- Modified ci/application/libraries/Capabilities.php as our fast check
  on systemAdministrator capabilities was excluding the possibility
  that we might ask for the Caps of another OID than ourselves.

* Mon Jul 21 2014 Michael Stauber <mstauber@solarspeed.net> 1.0-1BX06
- Renamed 'compass' module directory to 'Compass' for compatability 
  reasons.

* Wed Jul 16 2014 Michael Stauber <mstauber@solarspeed.net> 1.0-1BX05
- Added /userguide/ to Wiki-basepath.

* Sun Jul 13 2014 Michael Stauber <mstauber@solarspeed.net> 1.0-1BX04
- Added requirement for php-mcrypt

* Sun Jul 13 2014 Michael Stauber <mstauber@solarspeed.net> 1.0-1BX03
- Chorizo-fied base-alpine: This module now contains enough changes to
  warrant a complete name change. I resisted that urge. It now contains
  the CodeIgniter base-install and configuration, various modifications
  to CodeIgniter, the UIFC classes, helpers and libraries of Chorizo and
  some base modules such as the ones for /gui and /login.
- Added CHORIZO-readme.txt
- Added randomized encryption_key for ci/application/config/config.php

* Tue Apr 29 2014 Michael Stauber <mstauber@solarspeed.net> 1.0-1BX02
- Modified constructor/setup_capabilities.pl to add 'CapabilityGroup' 
  'reseller' for an extended reseller management.

* Sat Apr 26 2014 Michael Stauber <mstauber@solarspeed.net> 1.0-1BX01
- Major version number bump for 520XR.

* Fri Apr 04 2014 Michael Stauber <mstauber@solarspeed.net> 0.3-1BX05
- Modified web/login.php to use libPhp/BXBrowserLocale.php to properly
  detect the browser locale.

* Thu Apr 03 2014 Michael Stauber <mstauber@solarspeed.net> 0.3-1BX04
- Added improved Japanese translation as provided by Hiroyuki Sasahide.
- Modified web/login.php to hard wire charset to UTF-8.

* Sat Mar 22 2014 Michael Stauber <mstauber@solarspeed.net> 0.3-1BX03
- Modified constructor/setup_capabilities.pl to add ACL 'serverConfig'
  to 'menuServerSecurity'.
- Added improved French translation as provided by Meaulnes Legler.

* Wed Mar 12 2014 Michael Stauber <mstauber@solarspeed.net> 0.3-1BX02
- Modified constructor/setup_capabilities.pl to add ACL 'siteDNS' to admin.

* Tue Feb 25 2014 Michael Stauber <mstauber@solarspeed.net> 0.3-1BX01
- Major version number bump to tell this apart from the 510XR tree.

* Wed Feb 05 2014 Michael Stauber <mstauber@solarspeed.net> 0.2-1BX06
- Added cleaned up French translation as provided by Meaulnes Legler.

* Sat Dec 21 2013 Michael Stauber <mstauber@solarspeed.net> 0.2-1BX05
- Modified constructor/setup_capabilities.pl as our Capabilities for 
  'admin' have been shot six ways 'til Sunday. Added Capability group 
  'admin' that contains all the missing extra Capabilities that 'admin' 
  has. The whole Capabilities management for 5207R/5208R needed a full 
  overhaul anyway, as we can't haggle with Globals and assumptions. 
  Better to do it the right way and load 'admin' with really all 
  Capabilities that he should have instead of just waving him through.

* Sat Dec 15 2013 Michael Stauber <mstauber@solarspeed.net> 0.2-1BX04
- Merged in locales for the Netherlands ('nl_NL').
- Other non-English locales had the PO-headers missing. Fixed.

* Thu Dec 12 2013 Michael Stauber <mstauber@solarspeed.net> 0.2-1BX03
- Small fix to constructor/setup_capabilities.pl

* Sun Dec 08 2013 Michael Stauber <mstauber@solarspeed.net> 0.2-1BX02
- Various charset fixes.

* Tue Dec 03 2013 Michael Stauber <mstauber@solarspeed.net> 0.2-1BX01
- Preparational build for 5207R/5208R. Doesn't include new GUI yet.
- Platform strings still set to 5107R/5108R at this time.
- Cleaned out 'REQUIRED' list in Makefile.
- Merged in new locales from 5207R ("es_ES", "fr_FR", "it_IT", "pt_PT").
- Dropped all two character locales.
- Converted "ja_JP" from EUC-JP to UTF-8.
- Merged in new capabilities from Hisao Shibuya's 5200R code branch.
- Modified web/intro.html.ja from EUC-JP to UTF-8.

* Tue Aug 14 2012 Michael Stauber <mstauber@solarspeed.net> 0.1-85BX43
- Updated locale/de_DE/alpine.po as the German locales were claiming this to be 5106R.

* Mon Aug 13 2012 Michael Stauber <mstauber@solarspeed.net> 0.1-85BX42
- Added 12_handle_sl_repos.pl to switch sl-release YUM repository files from hard
  coded versions to 6x, which is the actual release. This is for more seamless 
  automated updates to the latest versions.

* Sat Mar 31 2012 Michael Stauber <mstauber@solarspeed.net> 0.1-85BX41
- Added dependencies for RPMs from YUM Group 'Japanese Support' to Makefile

* Tue Mar 20 2012 Michael Stauber <mstauber@solarspeed.net> 0.1-85BX40
- Converted locale encoding from UTF-8 to ISO-8859-1.

* Thu Aug 11 2011 Michael Stauber <mstauber@solarspeed.net> 0.1-85BX39
- Updated web/login.php to remove the doctype from first line. Must not be set here or we cannot redirect from inside the PHP script.

* Thu Aug 11 2011 Michael Stauber <mstauber@solarspeed.net> 0.1-85BX38
- Replaced web/login.php with Stephanie's fully xhtml transitional 1.0 compliant version.
- That should also fix the login problems on mobile devices, as we removed the Netscape onresize stuff.

* Thu Jul 28 2011 Michael Stauber <mstauber@solarspeed.net> 0.1-85BX37
- Added manuals/manual-en_US.pdf
- Updated locales for that purpose

* Fri Jun 04 2010 Michael Stauber <mstauber@solarspeed.net> 0.1-85BX36
- Copied 'en' locales to 'en_US'

* Fri Jun 04 2010 Michael Stauber <mstauber@solarspeed.net> 0.1-85BX35
- PHP 5.3 issue: web/redirector.php line 11 - Assigning the return value of new by reference is deprecated

* Fri Jun 04 2010 Michael Stauber <mstauber@solarspeed.net> 0.1-85BX34
- Fixed typo in web/login.php

* Wed Jun 02 2010 Michael Stauber <mstauber@solarspeed.net> 0.1-85BX33
- web/login.php was using deprecated ereg()
- web/login.php was using printPage, which doesn't work. Didn't even work on 5106R!

* Wed Jun 02 2010 Michael Stauber <mstauber@solarspeed.net> 0.1-85BX32
- Locales: Product changed from '5106R' to '5107R/5108R'

* Mon Apr 05 2009 Michael Stauber <mstauber@solarspeed.net> 0.1-85BQ31
- English License text in locale/en/product.po was still too rough and gramatically incorrect. 

* Sun Mar 08 2009 Michael Stauber <mstauber@solarspeed.net> 0.1-85BQ30
- The static error message pages in web/error/ exist in multiple languages.
  However, whatever mechanism is supposed to copy or link them to the default 
  ones: It's not working. Ultimately we would need a constructor that checks
  which locale the server is set to and then copies the static pages over. Or
  re-creates the correct symbolic links. Which would still be undesireable, as 
  the user using the GUI may have a different locale. Why show a Danish user the 
  German error messages? Or the English ones? I think in the long run we need
  dynamically created error pages. 
- Copied English error pages over to defaults for now.

* Mon Mar 02 2009 Michael Stauber <mstauber@solarspeed.net> 0.1-85BQ29
- Found an old instance of 5102R naming in locale/de_DE/alpine.po
- Changed that string to 5106R as it should be.

* Wed Dec 03 2008 Michael Stauber <mstauber@solarspeed.net> 0.1-85BQ27
- Renamed to BlueOnyx.
- New default admin password 'blueonyx' needed to be added to the intro.html pages.

* Wed Nov 19 2008 Michael Stauber <mstauber@solarspeed.net> 0.1-85BQ26
- Added images for BlueOnyx skin
- Modified images for BlueOnyx product type

* Wed Nov 19 2008 Michael Stauber <mstauber@solarspeed.net> 0.1-85BQ25
- Further modification of web/login.php to clear $target on CSS instead of exiting.

* Wed Nov 19 2008 Michael Stauber <mstauber@solarspeed.net> 0.1-85BQ24
- Modified web/login.php to prevent cross site scripting attacks.

* Wed Nov 19 2008 Michael Stauber <mstauber@solarspeed.net> 0.1-85BQ23
- Added web/robots.txt to prevent search engines from indexing AdmServ pages.

* Thu May 28 2008 Michael Stauber <mstauber@solarspeed.net> 0.1-85BQ22
- New default admin password 'bluequartz' needed to be added to the intro.html pages.

* Sun Jan 27 2008 Michael Stauber <mstauber@solarspeed.net> 0.1-85BQ21
- German locales added.

* Tue Jan 22 2008 Michael Stauber <mstauber@solarspeed.net> 0.1-85BQ20
- Danish locales added. Thanks to Jes Klittum!

* Mon Jun 25 2007 Hisao SHIBUYA <shibuya@bluequartz.org> 0.1-85BQ19
- Fixed duplicate include issue.

* Sun Oct 29 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 0.1-85BQ18
- reimport libImage/* and manuals/* to fix curruption issues.

* Thu Oct 12 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 0.1-85BQ17
- modify setup_capabilities.pl, re-setup capability group.

* Tue Aug 14 2006 Brian Smith <brian@nuonce.net> 0.1-85BQ16
- Missing comma added to "setup_capabilities.pl" script

* Sat Aug 12 2006 Brian Smith <brian@nuonce.net> 0.1-85BQ15
- modify setup_capabilities.pl, added dnsAdmin

* Fri Apr 07 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 0.1-85BQ14
- modify login.php to be enabled secure login by default.

* Sun Dec 25 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 0.1-85BQ13
- modified intro.html for BlueQuartz by Anders.

* Sat Dec 24 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 0.1-85BQ12
- login.php checks to accept license.

* Fri Dec 23 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 0.1-85BQ11
- change splash_G_top_left.gif for BlueQuartz by Anders.

* Sun Nov 27 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 0.1-85BQ10
- rebuild with devel-tools 0.5.1-0BQ7.

* Mon Oct 18 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 0.1-85BQ9
- rebuild with devel-tools 0.5.1

* Sun Oct 02 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 0.1-85BQ8
- fixed typo message.

* Thu Aug 18 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 0.1-85BQ7
- modified locale file to provide BlueQuartz and BlueQuartz for the other locale.

* Fri Aug 12 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 0.1-85BQ6
- modified Group tag in rpmdefs.tmpl.

* Fri Aug 12 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 0.1-85BQ5
- add serial number.

* Thu Aug 11 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 0.1-85BQ4
- clean up spec file.
<end $CHANGELOG>
