# configuration bits for mod_rpmize
# syntax:
# <begin [x]section>
# <end [x]section>
#
# x an be $ for a string or % for a hash.
# if a hash is being used, you can add sub-sections with
# <begin sub-section>
# <end sub-section>


<begin $DESCRIPTION>
%package [LABEL]
Group: CCE/[VENDOR]
Summary: [LABEL] for [VENDOR]-[SERVICE].

[AUTOFILL]
[BUILDARCH]
[PROVIDES]

%description [LABEL]
The [VENDOR]-[SERVICE]-[LABEL] package contains the [LABEL]
information for [VENDOR]-[SERVICE].

<end $DESCRIPTION>

<begin %PREP>
<end %PREP>

<begin %SETUP>
<end %SETUP>

<begin %BUILD>
<end %BUILD>

<begin %INSTALL>
<end %INSTALL>

<begin %FILES>
<begin HEADER>
%files [LABEL]
%defattr(-,root,root)
<end HEADER>

<begin locale>
[AUTOFILL]

<end locale>

<begin glue>
[AUTOFILL]
<end glue>

<begin ui>
[AUTOFILL]

<end ui>

<begin capstone>
%{RootDir}/capstone/%{Vendor}-%{Service}.cap
[AUTOFILL]

<end capstone>
<end %FILES>

<begin %POST-INSTALL>
<begin HEADER>
%post [LABEL]
<end HEADER>

<begin glue>
# glue post-install

# Restart CCEd:
touch /usr/sausalito/yumcce/restart

<end glue>
<begin ui>
# ui post-install
# this is somewhat nasty, but it always makes sure that there's a
# default .html file in case the browser doesn't specify a locale
if [ x"[DEFLOCALE]" != x ]; then
	for dir in `find [CCEWEB] -type d`; do 
		(cd $dir; 
		if [ x"`ls *.htm[l].[DEFLOCALE] 2> /dev/null`" != x ]; then
			for file in `ls *.htm[l].[DEFLOCALE]`; do
				base=`basename $file .[DEFLOCALE]`
				if [ ! -f $base ]; then
					ln -s $file $base
 				fi
			done
		fi)
	done
fi

<end ui>
<begin locale>
# locale post-install

<end locale>
<end %POST-INSTALL>

<begin %POST-UNINSTALL>
<begin HEADER>
%postun [LABEL]
<end HEADER>

<begin glue>
# glue post-uninstall

<end glue>
<begin ui>
# ui post-uninstall

<end ui>
<begin locale>
# locale post-uninstall

<end locale>
<end %POST-UNINSTALL>

<begin $CHANGELOG>

* Mon Mar 21 2016 Michael Stauber <mstauber@solarspeed.net> 1.1.0-0BX05
- Updated Italian locales added as provided by Simone Capra.

* Thu Dec 04 2014 Michael Stauber <mstauber@solarspeed.net> 1.1.0-0BX04
- Some Systemd love in post-install script.

* Tue Oct 14 2014 Michael Stauber <mstauber@solarspeed.net> 1.1.0-0BX03
- Version number bump due to up-port of old GUI ui/web/index.php with the
  new MySQL handling.

* Thu Aug 28 2014 Michael Stauber <mstauber@solarspeed.net> 1.1.0-0BX02
- The API was a trainwreck and got derailed somewhere along the lines due
  to later code changes. Should be working now.
- Massive fixes in ui/chorizo/web/controllers/apiindex.php

* Fri Jul 11 2014 Michael Stauber <mstauber@solarspeed.net> 1.1.0-0BX01
- Chorizo GUI added, old GUI disabled.

* Sat Mar 08 2014 Michael Stauber <mstauber@solarspeed.net> 1.0.0-0BX08
- Updated main API page, as JSON encoded client details contained too
  much garbage we didn't need. This would sometimes exceed the max
  length of stuff that we can POST that way. Cut it down to firstname,
  lastname and email. Rest is not needed.

* Wed Feb 05 2014 Michael Stauber <mstauber@solarspeed.net> 1.0.0-0BX07
- Added cleaned up French translation as provided by Meaulnes Legler.

* Sun Dec 15 2013 Michael Stauber <mstauber@solarspeed.net> 1.0.0-0BX06
- Itallian locales were missing. Re-added them.

* Sat Dec 14 2013 Michael Stauber <mstauber@solarspeed.net> 1.0.0-0BX05
- Merged in locales for the Netherlands ('nl_NL').

* Sun Dec 08 2013 Michael Stauber <mstauber@solarspeed.net> 1.0.0-0BX04
- Changed required capabilities to 'serverServerDesktop' to prevent resellers from using the API.

* Wed Dec 04 2013 Michael Stauber <mstauber@solarspeed.net> 1.0.0-0BX03
- Preparational build for 5207R/5208R. Doesn't include new GUI yet.
- Converted "ja_JP" from EUC-JP to UTF-8.

* Sat Jul 13 2013 Michael Stauber <mstauber@blueonyx.it> 1.0.0-0BX02
- Updated ui/web/index.php with various fixes. WHMCS may not hand us
  a FQDN, so we have to so some haggling and run some checks and
  plain dead asumptions to determine if we are dealing with a FQDN
  or hostname. Additionally the Auto-DNS is now correctly handled
  during package upgrades/downgrades.

* Sat Jul 13 2013 Michael Stauber <mstauber@blueonyx.it> 1.0.0-0BX01
- Initial Build

<end $CHANGELOG>

