# configuration bits for mod_rpmize
# syntax:
# <begin [x]section>
# <end [x]section>
#
# x an be $ for a string or % for a hash.
# if a hash is being used, you can add sub-sections with
# <begin sub-section>
# <end sub-section>


<begin %DESCRIPTION>
<begin glue>
%package [LABEL]
Group: System Environment/BlueQuartz
Summary: [LABEL] for [VENDOR]-[SERVICE].
[AUTOFILL]
[BUILDARCH]

%description [LABEL]
The [VENDOR]-[SERVICE]-[LABEL] package contains the [LABEL]
information for [VENDOR]-[SERVICE].

<end glue>

<begin capstone>
%package [LABEL]
Group: System Environment/BlueQuartz
Summary: [LABEL] for [VENDOR]-[SERVICE].
[AUTOFILL]
[BUILDARCH]
Requires: php-mbstring

%description [LABEL]
The [VENDOR]-[SERVICE]-[LABEL] package contains the [LABEL]
information for [VENDOR]-[SERVICE].

<end capstone>
<end %DESCRIPTION>

<begin %INSTALL>
<begin glue>
<end glue>
<end %INSTALL>

<begin %FILES>
<begin HEADER>
%files [LABEL]
%defattr(-,root,root)
<end HEADER>

<begin locale>
[AUTOFILL]

<end locale>

<begin glue>
%dir /etc/locks
%config /etc/rc.d/init.d/*
%config(noreplace) /etc/sysconfig/bluequartz
%attr(0755,root,root) /usr/sausalito/sbin/*
%attr(0755,root,root) /usr/sausalito/scripts/*
%dir /usr/sausalito/runonce
%dir /usr/sausalito/configs
/usr/sausalito/configs/*
%dir /usr/sausalito/triggers
/usr/sausalito/triggers/*
/etc/build
/var/www/html/*
%dir /usr/share/doc/bluequartz-release-5200R
/usr/share/doc/bluequartz-release-5200R/*
<end glue>

<begin ui>
[AUTOFILL]

<end ui>

<begin capstone>
%{RootDir}/capstone/%{Vendor}-%{Service}.cap
[AUTOFILL]

<end capstone>
<end %FILES>

<begin %POST-INSTALL>
<begin HEADER>
%post [LABEL]
<end HEADER>

<begin glue>
# glue post-install
if [ $1 = 1 ]; then
  mkdir -p /usr/sausalito/runonce
  cd /usr/sausalito/scripts
  for FILE in *; do
    if [ -f $FILE ]; then
      ln -sf /usr/sausalito/scripts/$FILE /usr/sausalito/runonce/$FILE
    fi
  done
fi

# update product information
if [ $1 = 2 ] && [ -S /usr/sausalito/cced.socket ]; then
  /usr/sausalito/sbin/updateSystem.pl
fi

# update saslauthd
if [ -f /etc/sysconfig/saslauthd ]; then
  /usr/bin/perl -pi -e 's|^MECH=shadow|MECH=pam|g'  /etc/sysconfig/saslauthd
else
  echo 'MECH=pam' > /etc/sysconfig/saslauthd
fi

# sync email services
if [ -f /usr/sausalito/constructor/base/email/syncEmailService.pl ]; then
  /usr/sausalito/constructor/base/email/syncEmailService.pl
fi

# Register the bluequartz service
/sbin/chkconfig --add bluequartz

# install pgp key
/bin/rpm -q gpg-pubkey-dbeec7cc-4aa39876 > /dev/null 2>&1
if [ $? = 1 ]; then
  /bin/rpm --import /usr/share/doc/bluequartz-release-5200R/RPM-GPG-KEY-BlueQuartz-5200R
fi

if [ -f /etc/sysconfig/bluequartz ]; then 
  . /etc/sysconfig/bluequartz 
fi 

<end glue>
<begin ui>
# ui post-install

<end ui>
<begin locale>
# locale post-install

<end locale>
<end %POST-INSTALL>

<begin %POST-UNINSTALL>
<begin HEADER>
%postun [LABEL]
<end HEADER>

<begin glue>
# glue post-uninstall

<end glue>
<begin ui>
# ui post-uninstall

<end ui>
<begin locale>
# locale post-uninstall

<end locale>
<end %POST-UNINSTALL>

<begin $TRIGGERIN>
%triggerin glue -- sysklogd
/bin/cp /usr/sausalito/triggers/sysklogd/syslog.logrotate /etc/logrotate.d/syslog

%triggerin glue -- webalizer
/bin/cp /usr/sausalito/triggers/webalizer/webalizer.conf /etc/webalizer.conf

%triggerin glue -- httpd
if [ -f /etc/logrotate.d/httpd ]; then
  /bin/rm /etc/logrotate.d/httpd
fi
/usr/sausalito/scripts/initHttpd.sh

%triggerin glue -- mod_ssl
/usr/sausalito/scripts/initSSL.sh

%triggerin glue -- glibc
if [ -f /usr/sausalito/constructor/base/time/syncTimeZone.pl ]; then
  /usr/sausalito/constructor/base/time/syncTimeZone.pl
fi

%triggerin glue -- iptables
/bin/cp /usr/sausalito/triggers/iptables/iptables.init /etc/init.d/iptables
%triggerin glue -- initscripts
/bin/cp /usr/sausalito/triggers/initscripts/ifup /sbin/ifup

%triggerin glue -- dovecot
/bin/cat /etc/dovecot.conf | \
/bin/sed -e 's|#mail_location =|mail_location = mbox:~/mail/:INBOX=/var/spool/mail/%u|' \
-e 's|#pop3_uidl_format = %08Xu%08Xv|pop3_uidl_format = %08Xu%08Xv|' \
> /etc/dovecot.conf.new
/bin/mv /etc/dovecot.conf.new /etc/dovecot.conf

%triggerin glue -- majordomo
/bin/cp /usr/sausalito/triggers/majordomo/majordomo.cf.template /usr/lib/majordomo
<end $TRIGGERIN>

<begin $TRIGGERUN>

<end $TRIGGERUN>

<begin $CHANGELOG>
* Tue May 03 2011 Hisao SHIBUYA <shibuya@bluequartz.org> 1.20110503BQ39
- release 20110503.
- add new build number.

* Wed Dec 08 2010 Hisao SHIBUYA <shibuya@bluequartz.org> 1.20101208BQ38
- release 2010120801.
- add relay_domains configuration to /etc/postfix/main.cf to resolve mail route feature.

* Sun Sep 19 2010 Hisao SHIBUYA <shibuya@bluequartz.org> 1.20100919BQ37
- release 2010091901.
- add mysql module.

* Sun Aug 08 2010 Hisao SHIBUYA <shibuya@bluequartz.org> 1.20100808BQ36
- add -4 option for named to work only for IPv4.
- release 20100808.

* Thu Jul 22 2010 Hisao SHIBUYA <shibuya@bluequartz.org> 1.20100722BQ35
- general release 2010072201.

* Mon Jun 21 2010 Hisao SHIBUYA <shibuya@bluequartz.org> 0.20100621BQ34
- release 2010062101.

* Tue Jun 02 2010 Hisao SHIBUYA <shibuya@bluequartz.org> 0.20100602BQ33
- remove the post script to execute initProcmail.sh.

* Tue Jun 02 2010 Hisao SHIBUYA <shibuya@bluequartz.org> 0.20100602BQ32
- change mail_location to /var/spool/mail/%u.

* Mon May 31 2010 Hisao SHIBUYA <shibuya@bluequartz.org> 0.20100531BQ31
- change mail spool to /var/spool/mail.

* Sat May 29 2010 Hisao SHIBUYA <shibuya@bluequartz.org> 0.20100529BQ30
- resolved the issue that the administrator can su to root user without root access permission.

* Mon Apr 19 2010 Hisao SHIBUYA <shibuya@bluequartz.org> 0.20100419BQ29
- modified the initial script for postfix.

* Sun Mar 21 2010 Hisao SHIBUYA <shibuya@bluequartz.org> 0.20100321BQ28
- support Virtual environment and remove php configuration for all sites.

* Wed Mar 10 2010 Hisao SHIBUYA <shibuya@bluequartz.org> 0.20100310BQ27
- new Capabilities for admin.

* Mon Feb 22 2010 Hisao SHIBUYA <shibuya@bluequartz.org> 0.20100222BQ26
- add new platform for test as Fedora 12.

* Sun Jan 17 2010 Hisao SHIBUYA <shibuya@bluequartz.org> 0.20100117BQ25
- modified initPostfix.pl to use always smtpd_recipient_restrictions.

* Fri Jan 01 2010 Hisao SHIBUYA <shibuya@bluequartz.org> 0.20100101BQ24
- mofidy init script for postfix to add configuration for sender canonical.

* Wed Dec 23 2009 Hisao SHIBUYA <shibuya@bluequartz.org> 0.20091223BQ23
- add init script to copy sequencer for majordomo.

* Wed Dec 23 2009 Hisao SHIBUYA <shibuya@bluequartz.org> 0.20091223BQ22
- add majordomo.cf.template for majordomo trigger.

* Tue Dec 15 2009 Hisao SHIBUYA <shibuya@bluequartz.org> 0.20091215BQ21
- remove initialize .db with postmap from runonce script.

* Sun Dec 13 2009 Hisao SHIBUYA <shibuya@bluequartz.org> 0.20091213BQ20
- fix the issue that the virtual alias doesn't work.

* Thu Dec 10 2009 Hisao SHIBUYA <shibuya@bluequartz.org> 0.20091210BQ19
- fix the issue that webalizer doesn't work for virtual site.

* Sun Dec 06 2009 Hisao SHIBUYA <shibuya@bluequartz.org> 0.20091206BQ18
- modify initPostfix.sh to configure /usr/lib/sasl2/smtpd.conf.

* Sun Dec 06 2009 Hisao SHIBUYA <shibuya@bluequartz.org> 0.20091206BQ17
- modify init scripts for postfix and aliases to make db files.

* Sun Dec 06 2009 Hisao SHIBUYA <shibuya@bluequartz.org> 0.20091206BQ16
- modify init scripts for postfix not to display warning messages.

* Sun Nov 29 2009 Hisao SHIBUYA <shibuya@bluequartz.org> 0.20091129BQ15
- modify initPostfix.pl to add space for broken_sasl_auth_clients.

* Tue Nov 03 2009 Hisao SHIBUYA <shibuya@bluequartz.org> 0.20091103BQ14
- modify initPostfix.pl to configure home_mailbox and mailbox_size_limit.

* Tue Nov 03 2009 Hisao SHIBUYA <shibuya@bluequartz.org> 0.20091103BQ13
- add trigger for dovecot to configure dovecot.conf.

* Tue Nov 03 2009 Hisao SHIBUYA <shibuya@bluequartz.org> 0.20091103BQ12
- modify logrotate configuration for syslog to use postfix.

* Tue Nov 03 2009 Hisao SHIBUYA <shibuya@bluequartz.org> 0.20091103BQ11
- modify initPostfix.pl and initPostfix.sh to support transport_maps.

* Tue Nov 03 2009 Hisao SHIBUYA <shibuya@bluequartz.org> 0.20091103BQ10
- modify inintPostfix.pl to support fallback_relay.

* Sun Oct 18 2009 Hisao SHIBUYA <shibuya@bluequartz.org> 0.20091018BQ9
- modify initPostfix.pl to use /etc/sysconfig/network for setting myhostname.

* Sun Oct 18 2009 Hisao SHIBUYA <shibuya@bluequartz.org> 0.20091018BQ8
- check the script that is installed before execting for trigger.

* Sun Oct 18 2009 Hisao SHIBUYA <shibuya@bluequartz.org> 0.20091018BQ7
- remove trigger for sendmail.
- remove init script for sendmail.
- modify initAliases.sh for postfix.

* Sat Oct 17 2009 Hisao SHIBUYA <shibuya@bluequartz.org> 0.20091017BQ6
- add vixie-cron to requries.

* Mon Oct 12 2009 Hisao SHIBUYA <shibuya@bluequartz.org> 0.20091012BQ5
- use hash type for access.db for init script.

* Mon Oct 12 2009 Hisao SHIBUYA <shibuya@bluequartz.org> 0.20091012BQ4
- add require to postfix
- make access.db in init script, if it isn't exit.

* Tue Oct 06 2009 Hisao SHIBUYA <shibuya@bluequartz.org> 0.20091006BQ3
- add init script for postfix.

* Sun Oct 04 2009 Hisao SHIBUYA <shibuya@bluequartz.org> 0.20091004BQ2
- remove db_checkpoint.cron.
- add init script for postfix.

* Sun Sep 06 2009 Hisao SHIBUYA <shibuya@bluequartz.org> 0.20090906BQ1
- merge from 5100R between r970 with r1218.

* Tue Jan 01 2008 Hisao SHIBUYA <shibuya@bluequartz.org> 0.20080101BQ1
- build for 5200R on CentOS5.

* Thu Oct 12 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.20061012BQ75
- fixed capability issue on dnsAdmin.

* Mon Sep 18 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.20060918BQ74
- move trigger settings to glue package instead of capstone.

* Sat Sep 09 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.20060909BQ73
- change date for release.

* Mon Aug 28 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.20060828BQ72
- modified sendmail.mc to be commented out some settings.

* Thu Aug 17 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.20060815BQ71
- glue package requires base-email-capstone.

* Mon Aug 14 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.20060815BQ70
- Added trigger for sendmail to copy popauth.m4.

* Thu Aug 10 2006 Brian N. Smith <brian@nuonce.net> 1.20060618BQ69
- Removed "-t" from sendmail.mc line: FEATURE(local_procmail.  Would leave emails stranded in Mail Queue.
- Added blackwholes into sendmail.mc.  They are commented out, but have directions on how to set them up

* Sat Jun 17 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.20060618BQ68
- add smtp.sendmail for pam configuration file for trigger.

* Sat Jun 17 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.20060618BQ67
- add trigger for dovecot to initialize dovecot.conf.

* Sat Jun 17 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.20060618BQ66
- modify trigger scripts to restart sendmail after copying aliases file.

* Sat Jun 17 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.20060618BQ65
- modify trigger scripts to make db file after copying aliases file.

* Sat Jun 17 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.20060618BQ64
- modify initSendmail.sh to make db file after copying aliases file.

* Sat Jun 17 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.20060618BQ63
- modify initSendmail.sh to use aliases.rpmsave, if it is exist.

* Sat Jun 17 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.20060617BQ62
- add triggerin for sendmail to check /etc/mail/aliases

* Sat Jun 17 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.20060617BQ61
- add triggerpostun for sendmail to check /etc/mail/aliases

* Thu Jun 15 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.20060615BQ60
- add initProcmail.sh and initialize procmail and sendmail, if updating is not finished for update.
- modify yum config to remove sendmail, procmail and imap from exclude list.

* Mon Jun 12 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.20060612BQ59
- clean up gtriggerin section.

* Mon Jun 12 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.20060612BQ58
- to make /etc/sysconfig/saslauthd, if it is not exist.

* Sun Jun 11 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.20060611BQ57
- add trigger for ifup to support static route.

* Sun Jun 11 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.20060611BQ56
- modify sendmail.mc to remove uncorrect strings.
- use pam for saslauthd instead of shadow.

* Sat Jun 10 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.20060610BQ55
- modify sendmail.mc to support SMTP Auth.

* Tue May 30 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.20060530BQ54
- modify sendmail.mc to support SMTP Auth, submission port and smtps.

* Fri May 05 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.20060505BQ53
- add triggers for iptables.

* Sun Mar 26 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.20060401BQ52
- modify yum settings to add sendmail and procmail in exclude option.

* Sat Mar 25 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.20060401BQ51
- modify updateSystem.pl to change version numver to 1.

* Sat Mar 25 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.20060401BQ50
- modify addPkg.pl for constructor to change version numver to 1.

* Sat Mar 25 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.20060401BQ49
- remove run once scripts for sendmail and procmail.
- modify sendmail.mc to change place of status file in /var/log/mail.
- change version number to 1 for 1.0 release.

* Tue Mar 14 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 0.20060314BQ48
- modify triggerin for mod_ssl.

* Tue Mar 14 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 0.20060314BQ47
- modify triggerin for httpd to execute initHttpd.sh.

* Tue Mar 14 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 0.20060314BQ46
- add initNamed.sh to fix permission and add symlink by Brian.
- make /etc/locks directory for CMU by Brian.
- add initPam.sh to allow passwords to be changed by 'passwd' command by Brian.
- modify initSendmail.sh to touch /etc/mail/statistics by Brian.

* Mon Mar 13 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 0.20060313BQ45
- modify initSendmail.sh to touch /etc/mail/virthosts.

* Mon Mar 06 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 0.20060306BQ44
- add webalizer config for fc1.

* Sun Mar 05 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 0.20060305BQ43
- modify triggers CentOS-Base.rep for CentOS4.
- add yum.conf for CentOS3 and FC1.

* Sat Mar 04 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 0.20060304BQ42
- add triggerin for httpd to remove logrotate config.

* Sat Mar 04 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 0.20060304BQ41
- add triggerins for centos-yumconf, sysklogd and wenalizer.
- add initProamail.sh and initSendmail.sh for run once.

* Thu Mar 02 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 0.20060302BQ40
- add runonce script and directory.
- move scripts in post to run once.

* Sun Jan 15 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 0.20060115BQ39
- build for new release.

* Sat Dec 24 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 0.20051216BQ38
- modified index.html to redirect admserv page.

* Fri Dec 16 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 0.20051216BQ37
- fixed Makefile typo.

* Fri Dec 16 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 0.20051216BQ36
- support CentOS4 alpha as 5105R.

* Tue Nov 29 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 0.20051130BQ35
- rebuild with devel-tools 0.5.1-0BQ7.

* Wed Nov 02 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 0.20051101BQ34
- add swatch to Requires.

* Tue Nov 01 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 0.20051101BQ33
- remove error pages.

* Mon Oct 31 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 0.20051031BQ32
- add error pages for Server document root.

* Thu Oct 20 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 0.20051020BQ31
- modified enableQuota.sh

* Tue Oct 18 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 0.20051018BQ30
- rebuild with devel-tools 0.5.1

* Thu Aug 18 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 0.20050818BQ29
- modified updateSystem.pl to update 'productName'.

* Mon Aug 15 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 0.20050815BQ28
- modified Group tag.

* Fri Aug 12 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 0.20050812BQ27
- modified Group tag in rpmdefs.tmpl.

* Fri Aug 12 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 0.20050812BQ26
- add serial number.

* Thu Aug 11 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 0.20050812BQ25
- clean up spec file.
<end $CHANGELOG>
