[Unit]
Description = CCEd - The Cobalt Configuration Engine Daemon
After=nss-lookup.target network.target plymouth-quit-wait.service
Before=cced.construct.service swatch.service blueonyx.service

[Service]
Type = simple
ExecStart = /usr/sausalito/sbin/cced -nd
Restart = on-failure

[Install]
WantedBy = multi-user.target
Alias=cced
