# configuration bits for mod_rpmize
# syntax:
# <begin [x]section>
# <end [x]section>
#
# x an be $ for a string or % for a hash.
# if a hash is being used, you can add sub-sections with
# <begin sub-section>
# <end sub-section>


<begin $DESCRIPTION>
%package [LABEL]
Group: System Environment/BlueQuartz
Summary: [LABEL] for [VENDOR]-[SERVICE].
[AUTOFILL]
[BUILDARCH]
[PROVIDES]

%description [LABEL]
The [VENDOR]-[SERVICE]-[LABEL] package contains the [LABEL]
information for [VENDOR]-[SERVICE].

<end $DESCRIPTION>

<begin %PREP>
<end %PREP>

<begin %SETUP>
<end %SETUP>

<begin %BUILD>
<end %BUILD>

<begin %INSTALL>
<end %INSTALL>

<begin %FILES>
<begin HEADER>
%files [LABEL]
%defattr(-,root,root)
<end HEADER>

<begin locale>
[AUTOFILL]

<end locale>

<begin glue>
[AUTOFILL]

<end glue>

<begin ui>
[AUTOFILL]

<end ui>

<begin capstone>
%{RootDir}/capstone/%{Vendor}-%{Service}.cap
[AUTOFILL]

<end capstone>
<end %FILES>

<begin %POST-INSTALL>
<begin HEADER>
%post [LABEL]
<end HEADER>

<begin glue>
# glue post-install
if [ -S /usr/sausalito/cced.socket ]; then
	# Force updated of sshd_config:
	/usr/sausalito/constructor/base/ssh/import_sshd_settings.pl
fi

<end glue>
<begin ui>
# ui post-install
# this is somewhat nasty, but it always makes sure that there's a
# default .html file in case the browser doesn't specify a locale
if [ x"[DEFLOCALE]" != x ]; then
	for dir in `find [CCEWEB] -type d`; do 
		(cd $dir; 
		if [ x"`ls *.htm[l].[DEFLOCALE] 2> /dev/null`" != x ]; then
			for file in `ls *.htm[l].[DEFLOCALE]`; do
				base=`basename $file .[DEFLOCALE]`
				if [ ! -f $base ]; then
					ln -s $file $base
 				fi
			done
		fi)
	done
fi

<end ui>
<begin locale>
# locale post-install

<end locale>
<end %POST-INSTALL>

<begin %POST-UNINSTALL>
<begin HEADER>
%postun [LABEL]
<end HEADER>

<begin glue>
# glue post-uninstall

<end glue>
<begin ui>
# ui post-uninstall

<end ui>
<begin locale>
# locale post-uninstall

<end locale>
<end %POST-UNINSTALL>

<begin $CHANGELOG>

* Sun May 11 2014 Michael Stauber <mstauber@solarspeed.net> 2.0-0BX01
- Major version number bump for 520XR.
- Added SSH key/cert managament to the GUI. This is the first rought draft
  which is still missing some bits and pieces.
- Modified glue/schemas/ssh.schema for new CODB database fields.
- Modified glue/conf/ssh.conf
- Modified constructor/import_sshd_settings.pl to read in more sshd_config
  parameters to store them in CODB.
- Modified glue/handlers/sshd_handler.pl to write a new sshd_config with our
  added parameters.
- Added improved French locales as provided by Meaulness Legler. Although I had
  to add the new locale strings for the SSH key managements to it. So if in doubt:
  The part where spelling and grammar suck is all mine and courtesy of Google 
  Translate.
- Added new locale strings to all locales.

* Sun Apr 06 2014 Michael Stauber <mstauber@solarspeed.net> 1.1-0BX06
- Added call to constructor/base/ssh/import_sshd_settings.pl on RPM post
  install to force an update of the sshd_config and a SSHd restart.

* Sun Apr 06 2014 Michael Stauber <mstauber@solarspeed.net> 1.1-0BX05
- Modified glue/handlers/sshd_handler.pl to disable 'AllowTcpForwarding' 
  and 'X11Forwarding' by default. This is a security related fix to
  prevent SPAM sending via SSH tunnel. Reminder: Users do NOT need a
  valid shell to create a SSH tunnel. Tunneled SPAM then gets sent from
  'localhost', which circumvents the usual relay checks. For more info
  see [BlueOnyx:15092].

* Thu Feb 27 2014 Michael Stauber <mstauber@solarspeed.net> 1.1-0BX04
- Merged in better locales for Japanese as provided by Hiroyuki Sasahide.
- Added missing locale headers to some non-Enlish locales.

* Fri Dec 27 2013 Michael Stauber <mstauber@solarspeed.net> 1.1-0BX03
- German locale had incorrect charset.

* Sat Dec 14 2013 Michael Stauber <mstauber@solarspeed.net> 1.1-0BX02
- Merged in locales for the Netherlands ('nl_NL').

* Sat Dec 07 2013 Michael Stauber <mstauber@solarspeed.net> 1.1-0BX01
- Preparational build for 5207R/5208R. Doesn't include new GUI yet.
- Merged in new locales from 5207R ("es_ES", "fr_FR", "it_IT", "pt_PT").
- Dropped all two character locales.
- Converted "ja_JP" from EUC-JP to UTF-8.
- New Capabilities for admin. 

* Tue Mar 20 2012 Michael Stauber <mstauber@solarspeed.net> 1.0-11BX15
- Converted locale encoding from UTF-8 to ISO-8859-1.

* Fri Jun 04 2010 Michael Stauber <mstauber@solarspeed.net> 1.0-11BX14
- Copied 'en' locales to 'en_US'

* Fri Jun 04 2010 Michael Stauber <mstauber@solarspeed.net> 1.0-11BX13
- Version number bump

* Thu Dec 04 2008 Michael Stauber <mstauber@solarspeed.net> 1.0-11BQ12
- Fixed snafu in glue/handlers/sshd_handler.pl

* Thu Dec 04 2008 Michael Stauber <mstauber@solarspeed.net> 1.0-11BQ11
- Modified glue/handlers/sshd_handler.pl and ui/extensions/20_SSH.php.shell.System
- Added ability to import SSH port from sshd_config that's not in the list of supported ports.

* Thu Dec 04 2008 Michael Stauber <mstauber@solarspeed.net> 1.0-11BQ10
- Modified ui/extensions/20_SSH.php.shell.System to change output into a composite field. Looks better.

* Thu Dec 04 2008 Michael Stauber <mstauber@solarspeed.net> 1.0-11BQ9
- Ability to set SSH to different ports, to allow root access, modify protocols and to edit /root/.bashrc.
- Extended glue/schemas/ssh.schema with new entries.
- Added constructor/import_sshd_settings.pl to determine current sshd config.
- Extended glue/conf/ssh.conf to handle new events.
- Extended ui/extensions/20_SSH.php.shell.System to provide UI for new switches.
- Added glue/handlers/sshd_handler.pl to modify /etc/ssh/sshd_config and /root/.bashrc.
- Modified English, German, Danish and Japanese locales for new strings.
- German translation complete. Danish and Japanese have the new strings in English for now.

* Wed Dec 03 2008 Michael Stauber <mstauber@solarspeed.net> 1.0-11BQ8
- Rebuilt for BlueOnyx.

* Sun Jan 27 2008 Michael Stauber <mstauber@solarspeed.net> 1.0-11BQ7
- German locales added.

* Tue Jan 22 2008 Michael Stauber <mstauber@solarspeed.net> 1.0-11BQ6
- Danish locales added. Thanks to Jes Klittum!

* Tue Nov 29 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.0-11BQ5
- rebuild with devel-tools 0.5.1-0BQ7.

* Fri Oct 21 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.0-11BQ4
- comment out active monitor setting

* Tue Oct 18 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.0-11BQ3
- rebuild with devel-tools 0.5.1

* Fri Aug 12 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.0-11BQ2
- clean up spec file.
<end $CHANGELOG>
