# COnfiguration bits for mod_rpmize
# syntax:
# <begin [x]section>
# <end [x]section>
#
# x an be $ for a string or % for a hash.
# if a hash is being used, you can add sub-sections with
# <begin sub-section>
# <end sub-section>


<begin $DESCRIPTION>
%package [LABEL]
Group: System Environment/BlueOnyx
Summary: [LABEL] for [VENDOR]-[SERVICE].
[AUTOFILL]
[BUILDARCH]
Obsoletes: nuonce-solarspeed-yumgui

%description [LABEL]
The [VENDOR]-[SERVICE]-[LABEL] package contains the [LABEL]
information for [VENDOR]-[SERVICE].

<end $DESCRIPTION>

<begin %PREP>
<end %PREP>

<begin %SETUP>
<end %SETUP>

<begin %BUILD>
<end %BUILD>

<begin %INSTALL>
<end %INSTALL>

<begin %FILES>
<begin HEADER>
%files [LABEL]
%defattr(-,root,root)
<end HEADER>

<begin locale>
[AUTOFILL]

<end locale>

<begin glue>
%attr(0700,root,root)%{RootDir}/sbin/grab_updates.pl
%attr(0700,root,root)%{RootDir}/sbin/pkg_install.pl
%attr(0700,root,root)%{RootDir}/sbin/pkg_prepare.pl
%attr(0700,root,root)%{RootDir}/sbin/pkg_uninstall.pl
%attr(0700,root,root)%{RootDir}/sbin/swupdate_tmp_clean.pl
%attr(0644,root,root)%{RootDir}/perl/SWUpdate.pm
%attr(0644,root,root)%config /etc/cron.d/swupdate_tmp_clean.cron
%attr(0700,root,root)%dir /root/.gnupg
%attr(0644,root,root)%config /root/.gnupg/pubring.gpg
%attr(0600,root,root)%config /root/.gnupg/secring.gpg
%attr(0644,root,root)%config /root/.gnupg/trustdb.gpg
[AUTOFILL]

<end glue>

<begin ui>
[AUTOFILL]

<end ui>

<begin capstone>
%{RootDir}/capstone/%{Vendor}-%{Service}.cap
[AUTOFILL]

<end capstone>
<end %FILES>

<begin %POST-INSTALL>
<begin HEADER>
%post [LABEL]
<end HEADER>

<begin glue>
# glue post-install

if [ ! -e /home/.pkg_install_tmp ]; then
  /bin/mkdir -p /home/.pkg_install_tmp
  /bin/chmod 755 /home/.pkg_install_tmp
fi
#if [ -e /usr/sausalito/ui/web/nuonce-solarspeed/yum/yumgui.php ]; then
#  /bin/rpm -e nuonce-solarspeed-yumgui >/dev/null 2>&1
#fi

# Restart CCEd:
if [ -S /usr/sausalito/cced.socket ]; then
    /etc/init.d/cced.init restart
fi

# Restart Crond:
/etc/init.d/crond restart

<end glue>
<begin ui>
# ui post-install

<end ui>
<begin locale>
# locale post-install

<end locale>
<end %POST-INSTALL>

<begin %POST-UNINSTALL>
<begin HEADER>
%postun [LABEL]
<end HEADER>

<begin glue>
# glue post-uninstall

<end glue>
<begin ui>
# ui post-uninstall

<end ui>
<begin locale>
# locale post-uninstall

<end locale>
<end %POST-UNINSTALL>

<begin $CHANGELOG>

* Thu Mar 08 2012 Michael Stauber <mstauber@solarspeed.net> 1.3.0-1BX30
- Added requirement for perl-Sort-Versions to Makefile. We use it to compare version and release numbers.
- Modified glue/schemas/update.schema to change typedef 'versionType' to a better regular expression to
  handle 'versionType' with and without release. The new regular expresssion isn't perfect, as it also
  catches things like 'v1.000.1'. But it'll do as multiple leading zeros are caught later on in our 
  version number checks.
- Modified glue/sbin/SWUpdate.pm to use the Perl module 'Sort::Versions' for version number checking in
  sub 'compareVersion'. With the new and much simpler way it now also handles version numbers with and
  without release information. With this change 'Version' lines in PKG 'packing_list' may now use
  version numbers with release information.

* Tue Mar 06 2012 Michael Stauber <mstauber@solarspeed.net> 1.3.0-1BX29
- Modified glue/schemas/update.schema and glue/sbin/SWUpdate.pm to add 'Autoinstall' and 
  'Autoupdate' flags to PKG 'packing_list'. Key is either 'Yes' or 'No', defaults to 'No'.
  In CODB this is stored as boolean (1|0).
- Modified glue/sbin/pkg_install.pl and glue/sbin/pkg_uninstall.pl to support the flag 
  'rehashcce', which reloads CCEd instead of restartung it. This restarts CCEd without
  forcing it to run through the constructors, although it will still recognize new or 
  modified schema files.

* Fri Mar 02 2012 Greg Kuhnert 1.3.0-1BX28
- Moved 3rd party warning from ui/web/newList.php and ui/web/updatesList.php  to ui/web/manual.php
- Modified glue/schemas/update.schema to notify on all files at swupdate server by default
- Modified constructor/addSWUpdateServer.pl to set default newlinq server

* Fri Sep 23 2011 Michael Stauber <mstauber@solarspeed.net> 1.3.0-1BX27
- Updated locale/ja/swupdate.po with Japanese translation provided by Eiji Hamano. Many thanks.
- Modified constructor/addSWUpdateServer.pl to disable RHEL6 yum-autoupdate in /etc/sysconfig/yum-autoupdate.
  We already fetch YUM updates via base-swupdate and don't have to do this twice.

* Sun Sep 11 2011 Michael Stauber <mstauber@solarspeed.net> 1.3.0-1BX26
- Removed check filter_var() from ui/web/rss-news.php and ui/web/rss-article.php as it requires PHP-5.2 or better.

* Sun Sep 11 2011 Michael Stauber <mstauber@solarspeed.net> 1.3.0-1BX25
- Added ability to extract and view the news on an internal GUI page by adding ui/web/rss-article.php
- Modified ui/web/rss-news.php a bit to add a table row with the links to the internal articles.

* Sat Sep 10 2011 Michael Stauber <mstauber@solarspeed.net> 1.3.0-1BX24
- Added ui/web/rss-news.php and ui/menu/rssnews.xml to display BlueOnyx RSS newsfeed in the GUI.

* Wed Jul 20 2011 Michael Stauber <mstauber@solarspeed.net> 1.3.0-1BX23
- Rolled the last additions back out for now for further troubleshooting.

* Tue Jul 19 2011 Michael Stauber <mstauber@solarspeed.net> 1.3.0-1BX22
- Ported Rickard's additions to 5107R and distributed the new locale strings.
- Added provisions to 'chmod 644' /var/log/yum.log in a constructor.
  
* Mon Jul 18 2011 Rickard Osser <rickard.osser@bluapp.com> 1.3.0-1BX21
- Added repository handling in the GUI for YUM.

* Tue May 17 2011 Michael Stauber <mstauber@solarspeed.net> 1.2.0-1BX20
- Added glue/etc/cron.d/swupdate_tmp_clean.cron
- Added glue/sbin/swupdate_tmp_clean.pl
- These cronjob and script help us with restarting CCEd conditionally if PKGs were installed through the GUI.

* Mon Jun 07 2010 Michael Stauber <mstauber@solarspeed.net> 1.2.0-1BX19
- Various PHP-5.3 related fixes all over the place.

* Sat Jun 05 2010 Michael Stauber <mstauber@solarspeed.net> 1.2.0-1BX18
- Copied 'en' locales to 'en_US'

* Thu Jun 03 2010 Michael Stauber <mstauber@solarspeed.net> 1.2.0-1BX17
- Version number bump

* Sun Aug 16 2009 Michael Stauber <mstauber@solarspeed.net> 1.2.0-1BQ16
- Allowed limited wildcards in 'Product' fields again, but still blocking broad ones like '5...R'.
- Modified glue/sbin/SWUpdate.pm for this again.

* Wed Aug 12 2009 Michael Stauber <mstauber@solarspeed.net> 1.2.0-1BQ15
- Update to prevent people from breaking their servers by installing incompatible PKGs.
- Wildcard support for 'Product' in PKG packing_list's has been removed.
- Updated glue/sbin/SWUpdate.pm to remove wildcards in product field.
- Added README.txt with explanation to PKG makers.

* Tue Aug 11 2009 Michael Stauber <mstauber@solarspeed.net> 1.2.0-1BQ14
- Updated ui/web/yum.php to hide yum updates with empty names from generated 'Available Updates' output.

* Sat Mar 07 2009 Michael Stauber <mstauber@solarspeed.net> 1.2.0-1BQ13
- Fixed permission problem in yum-checker.sh, /tmp/yum.check-update was 444, works with 644
- Edited glue/sbin/SWUpdate.pm to fix incorrect -A switch to -U for submitting custom user agent.

* Tue Jan 13 2009 Michael Stauber <mstauber@solarspeed.net> 1.2.0-1BQ12
- Page ui/web/yum.php sometimes has issues accessing our tempfiles on aborted YUM updates.
- Added glue/handlers/yum-skiplock.pl to fix permissions on those tempfiles.
- Added trigger 'skiplock' to glue/conf/yum.conf to force calls of glue/handlers/yum-skiplock.pl on access of ui/web/yum.php
- Extended glue/schemas/yum.schema with the new trigger 'skiplock'.

* Wed Dec 24 2008 Michael Stauber <mstauber@solarspeed.net> 1.2.0-1BQ11
- Rephrased third party software warning based on Chris Gebhardt's suggestion.

* Wed Dec 03 2008 Michael Stauber <mstauber@solarspeed.net> 1.2.0-1BQ10
- Rebuilt for BlueOnyx.

* Thu Nov 27 2008 Michael Stauber <mstauber@solarspeed.net> 1.2.0-1BQ9
- Updated English, German and Danish locale to fix yumTitle_help msgid.

* Wed Nov 26 2008 Michael Stauber <mstauber@solarspeed.net> 1.2.0-1BQ8
- Updated ui/web/updatesList.php and ui/web/newList.php
- Modified 3rd party software warning to be more in line with the rest of the GUI.

* Fri Jul 06 2008 Michael Stauber <mstauber@solarspeed.net> 1.2.0-1BQ7
- Removed softwareUpdateSun.xml softwareNewSun.xml entirely as comment only blocks in menu xml files now throws errors

* Wed Jul 04 2008 Michael Stauber <mstauber@solarspeed.net> 1.2.0-1BQ6
- Updated yum.php for PHP5 usage (more explicit checking if files are present and readable)
- Reworked yum-checker.sh yum-update.sh once more for enforcing 644 permissions on /var/log/yum.log

* Sun Jan 27 2008 Michael Stauber <mstauber@solarspeed.net> 1.2.0-1BQ5
- German locales added.
- Danish locales updated. Thanks to Jes Klittum!
- Fixed a menu entry in yum.php so it gets localized

* Thu Jan 24 2008 Michael Stauber <mstauber@solarspeed.net> 1.2.0-1BQ4
- Modified updateLight.xml so that it now points to yum_gui

* Wed Jan 23 2008 Michael Stauber <mstauber@solarspeed.net> 1.2.0-1BQ3
- Different procedure to remove (obsolete) nuonce-solarspeed-yumgui

* Tue Jan 22 2008 Michael Stauber <mstauber@solarspeed.net> 1.2.0-1BQ2
- Danish locales added. Thanks to Jes Klittum!

* Fri Dec 21 2007 Brian Smith <brian@nuonce.net> 1.2.0-1BQ1
- Changed version number to reflect new features.

* Fri Dec 21 2007 Brian Smith <brian@nuonce.net> 1.1.0-120BQ16
- RPM Removal of nuonce-solarspeed-yumgui didn't work
- wrong path to the RPM tool

* Thu Dec 20 2007 Brian Smith <brian@nuonce.net> 1.1.0-120BQ15
- Changed BlueLinQ to Sofware Updates
- Removed BlueQuartz BlueLinQ menu
- Added 3rd party warning message
- Integrated YUM GUI written by; Michael Stauber & Brian Smith
- Added ability to exclude RPMs during yum update.

* Thu Sep 21 2006 Brian Smith <brian@nuonce.net> 1.1.0-120BQ14
- Modified the Manual*.php files to allow larger size package installs

* Mon Apr 17 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.1.0-120BQ13
- change temp directory on /home instead of /tmp by Brian.

* Sun Dec 18 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.1.0-120BQ12
- allow the BlueLinQ server is empty by Anders, BlackSun, Inc.
- adds the extra option of doing Hourly package (PKG) updates by Anders, BlackSun, Inc.

* Tue Nov 29 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.1.0-120BQ11
- rebuild with devel-tools 0.5.1-0BQ7.

* Tue Oct 18 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.1.0-120BQ10
- rebuild with devel-tools 0.5.1

* Thu Aug 18 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.1.0-120BQ9
- clean up locale file.

* Mon Aug 15 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.1.0-120BQ8
- modified Group tag.

* Sun Aug 14 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.1.0-120BQ7
- fix security problem that can be accessed unauthorized function.
- clean up spec file.
<end $CHANGELOG>
