# configuration bits for mod_rpmize
# syntax:
# <begin [x]section>
# <end [x]section>
#
# x an be $ for a string or % for a hash.
# if a hash is being used, you can add sub-sections with
# <begin sub-section>
# <end sub-section>


<begin $DESCRIPTION>
%package [LABEL]
Group: System Environment/BlueOnyx
Summary: [LABEL] for [VENDOR]-[SERVICE].
[AUTOFILL]
[BUILDARCH]

Obsoletes: majordomo
Obsoletes: base-maillist-capstone
Obsoletes: base-maillist-ui
Obsoletes: base-maillist-glue

%description [LABEL]
The [VENDOR]-[SERVICE]-[LABEL] package contains the [LABEL]
information for [VENDOR]-[SERVICE].

<end $DESCRIPTION>

<begin %PREP>
<end %PREP>

<begin %SETUP>
<end %SETUP>

<begin %BUILD>
<end %BUILD>

<begin %INSTALL>
<end %INSTALL>

<begin %FILES>
<begin HEADER>
%files [LABEL]
%defattr(-,root,root)
<end HEADER>

<begin locale>
[AUTOFILL]

<end locale>

<begin glue>
[AUTOFILL]

<end glue>

<begin ui>
[AUTOFILL]

<end ui>

<begin capstone>
%{RootDir}/capstone/%{Vendor}-%{Service}.cap
[AUTOFILL]

<end capstone>
<end %FILES>

<begin %POST-INSTALL>
<begin HEADER>
%post [LABEL]
<end HEADER>

<begin glue>
# glue post-install

# Fix sendmail.cf and sendmail.mc:
/usr/sausalito/scripts/initSendmail.sh
/etc/init.d/sendmail condrestart

# glue post-install
if [ -S /usr/sausalito/cced.socket ]; then
    /etc/init.d/cced.init restart
fi

<end glue>
<begin ui>
# ui post-install
if [ -d /etc/admserv/conf/ ]; then \
	if [ x"`grep \"alias /base/mailman/archives /home/mhonarc/data\" /etc/admserv/conf/httpd.conf`" = x"" ]; then \
		echo "alias /base/mailman/archives /home/mhonarc/data" >> /etc/admserv/conf/httpd.conf; fi; \
else \
	echo "WARNING:  /etc/admserv/conf/ is missing.  This may or may not be a problem."; \
fi;

<end ui>
<begin locale>
# locale post-install

<end locale>
<end %POST-INSTALL>

<begin %POST-UNINSTALL>
<begin HEADER>
%postun [LABEL]
<end HEADER>

<begin glue>
# glue post-uninstall

<end glue>
<begin ui>
# ui post-uninstall

<end ui>
<begin locale>
# locale post-uninstall

<end locale>
<end %POST-UNINSTALL>

<begin $CHANGELOG

* Tue Apr 26 2011 Michael Stauber <mstauber@solarspeed.net> 1.0.0-1BX07
- As MailMan requires a running daemon, we better add an ActiveMonitor component to monitor it:
- Added base-mailman-am to SRC tree. Added requirement for it to Makefile.
- Added glue/schemas/mailman-am.schema
- Added ui/web/mailman_amdetails.php
- Added glue/schemas/mailman-am.schema
- Added ui/web/mailman_amdetails.php
- Updated locales with new AM related keys.
- Modified constructor/configure_mailman.pl and glue/handlers/mailman_activate.pl to enable/disable AM monitoring of this component.

* Tue Apr 26 2011 Michael Stauber <mstauber@solarspeed.net> 1.0.0-1BX06
- Modified ui/web/mailmanMod.php: Added buttons to access MailMans native admin interface for lists and the archives.
- Modified glue/handlers/listmod_virtusertable.pl to get rid of build_maps error on list deletion.
- Updated locales to add new buttons and to fix a wrongly named key.

* Tue Apr 26 2011 Michael Stauber <mstauber@solarspeed.net> 1.0.0-1BX05
- Added ui/menu/system.xml
- Added ui/web/system.php ui/web/systemHandler.php and ui/web/redirector.php
- The new GUI pages allows to enable/disable mailman through the Network Services tab.

* Tue Apr 26 2011 Michael Stauber <mstauber@solarspeed.net> 1.0.0-1BX04
- Added constructor/add_module.pl to make it easier in the future to distinguish between Majordomo and MailMan installs on BX."

* Mon Apr 25 2011 Michael Stauber <mstauber@solarspeed.net> 1.0.0-1BX03
- Modified glue/handlers/handle_vsite.pl to handle renaming of lists on FQDN changes of the site.

* Mon Apr 25 2011 Michael Stauber <mstauber@solarspeed.net> 1.0.0-1BX02
- Changed all Schema keys from MailMan back MailList to avoid having to extend CMU.
- Also copied 'en' locales to 'en_US'.

* Sun Apr 24 2011 Michael Stauber <mstauber@solarspeed.net> 1.0.0-1BX01
- Due to a code donation from Leslie Herps we got jump started on the MailMan integration. Many thanks, Leslie!
- I cleaned up the initial code a little, renamed all instances of maillist to mailman in scripts and schemas.
- The donated locales got moved to the right directories, with their keys adjusted to the new module name.
- There are still a couple of loose ends to tie up, though, especially as we need to make a few adjustments to the basic mailman install, too.
- Done so far:
- Added System object MailManStatus and handler mailman_activate.pl to perform initial setup of MailMan.
- Added constructor/configure_mailman.pl to perform initial mailman setup
- host_name is now set in config. host_name, urlhost and emailhost distinguish between FQDNs with www and w/o.
- mailman config file dump is now properly deleted when the list is removed

<end $CHANGELOG>
