[Unit]
Description=CCEd - The Cobalt Configuration Engine Daemon
After=network.target remote-fs.target nss-lookup.target
Before=admserv.service netfs.service sendmail.service httpd.service sshd.service

[Service]
Type=forking

# Config file - if we ever want one it would go there:
EnvironmentFile=-/etc/sysconfig/cced

# Fun and games. Systemd doesn't support any non-standard parameters. Just the usual 
# stop, start, reload, condrestart and that's it. Yet they plan to bloat Systemd with
# nonsense such as a terminal service? Fuck, yeah. Screw them! We're just moving our 
# old InitV script to a different place and take it from there. That way our scripts
# can call /usr/sausalito/sbin/cced.init and issue a rehash or the other non-standard
# parameters that we might need:

ExecStart=/usr/sausalito/sbin/cced.init start
ExecReload=/usr/sausalito/sbin/cced.init reload
ExecStop=/usr/sausalito/sbin/cced.init stop

# We send a SIGTERM signal right after the ExecStop, which will kill CCEd for sure. 
KillSignal=SIGTERM
PrivateTmp=true

[Install]
WantedBy=multi-user.target
