# configuration bits for mod_rpmize

<begin $DESCRIPTION>
%package [LABEL]
Group: CCE/[VENDOR]
Summary: [LABEL] for [VENDOR]-[SERVICE].
[AUTOFILL]
[BUILDARCH]

%description [LABEL]
The [VENDOR]-[SERVICE]-[LABEL] package contains the [LABEL]
information for [VENDOR]-[SERVICE].

<end $DESCRIPTION>

<begin %INSTALL>
<begin glue>
# now we need lots of symlinks
cd $RPM_BUILD_ROOT

mkdir -p $RPM_BUILD_ROOT/etc/rc.d/rc0.d
mkdir -p $RPM_BUILD_ROOT/etc/rc.d/rc1.d
mkdir -p $RPM_BUILD_ROOT/etc/rc.d/rc2.d
mkdir -p $RPM_BUILD_ROOT/etc/rc.d/rc3.d
mkdir -p $RPM_BUILD_ROOT/etc/rc.d/rc5.d
mkdir -p $RPM_BUILD_ROOT/etc/rc.d/rc6.d
mkdir -p $RPM_BUILD_ROOT/sbin
mkdir -p $RPM_BUILD_ROOT/home/tmp
mkdir -p $RPM_BUILD_ROOT/etc/locks

# kill all process on shutdown
ln -s ../init.d/killall $RPM_BUILD_ROOT/etc/rc.d/rc0.d/K90killall
ln -s ../init.d/killall $RPM_BUILD_ROOT/etc/rc.d/rc6.d/K90killall

# halt/reboot
ln -s ../init.d/halt $RPM_BUILD_ROOT/etc/rc.d/rc0.d/S00halt
ln -s ../init.d/halt $RPM_BUILD_ROOT/etc/rc.d/rc6.d/S00reboot

# single user mode
ln -s ../init.d/single $RPM_BUILD_ROOT/etc/rc.d/rc1.d/S00single

# local stuff
ln -s ../rc.local $RPM_BUILD_ROOT/etc/rc.d/rc2.d/S99local
ln -s ../rc.local $RPM_BUILD_ROOT/etc/rc.d/rc3.d/S99local
ln -s ../rc.local $RPM_BUILD_ROOT/etc/rc.d/rc5.d/S99local

# interface control
ln -s /etc/sysconfig/network-scripts/ifup $RPM_BUILD_ROOT/sbin/ifup
ln -s /etc/sysconfig/network-scripts/ifdown $RPM_BUILD_ROOT/sbin/ifdown
<end glue>
<end %INSTALL>

<begin %FILES>
<begin HEADER>
%files [LABEL]
%defattr(-,root,root)
<end HEADER>

<begin locale>
[AUTOFILL]

<end locale>

<begin glue>
%dir /usr/sausalito/sbin
/usr/sausalito/sbin/selectLanguage
%dir %attr(1777,root,root) /home/tmp
%dir /etc/locks
/usr/local/sbin/maillog2commonlog.pl
/usr/local/sbin/split_logs
%dir /etc/sysconfig/network-scripts
/etc/sysconfig/clock
/etc/sysconfig/network-scripts/ifdown
/etc/sysconfig/network-scripts/ifup
%config /sbin/ifdown
%config /sbin/ifup
%config /etc/sysconfig/network-scripts/autoconf-net
%config /etc/sysconfig/network-scripts/ifcfg_to_cce
%config /etc/sysconfig/network-scripts/ifdown-post
%config /etc/sysconfig/network-scripts/network-functions
%config /etc/sysconfig/network-scripts/ifup-post
%config /etc/sysconfig/network-scripts/ifdhcpc-done
%config /etc/sysconfig/network-scripts/ifcfg-lo
%config /etc/sysconfig/network-scripts/ifdown-ppp
%config /etc/sysconfig/network-scripts/ifdown-sl
%config /etc/sysconfig/network-scripts/ifup-ppp
%config /etc/sysconfig/network-scripts/ifup-sl
%config /etc/sysconfig/network-scripts/ifup-routes
%config /etc/sysconfig/network-scripts/ifup-plip
%config /etc/inittab
%config /etc/rc.d/init.d/*
%config /etc/rc.d/rc
%config /etc/rc.d/rc.cced
%config /etc/rc.d/rc.local
%config /etc/rc.d/rc.sysinit
%config /etc/rc.d/rc.raid
%config /etc/rc.d/rc?.d/*
%config /etc/pam.d/*

<end glue>

<begin ui>
[AUTOFILL]

<end ui>

<begin capstone>
%{RootDir}/capstone/%{Vendor}-%{Service}.cap
[AUTOFILL]

<end capstone>
<end %FILES>

<begin %POST-INSTALL>
<begin HEADER>
%post [LABEL]
<end HEADER>

<begin glue>
chmod 755 $RPM_BUILD_ROOT/usr/sausalito/sbin/selectLanguage
if [ "$1" = 1 ]; then
	for file in random network inet; do
		/sbin/chkconfig --add $file
	done

	if [ ! -f /var/log/wtmp ]; then
		touch /var/log/wtmp
	fi

	if [ -f /etc/conf.modules ]; then
		mv -f /etc/conf.modules /etc/modules.conf
	fi
	grep -q bwmgmt /etc/modules.conf > /dev/null 2>&1
	if [ $? -ne 0 ]; then
cat >> /etc/modules.conf <<END 
# for the Cobalt Bandwidth Manager
alias bandwidth_mgr bwmgmt

# the default scsi adapter to look for when SCSI devices are requested
alias scsi_hostadapter off

# the default network card to look for in the PCI slot
alias eth2 off

# BSD compression for PPP
alias ppp-compress-21 bsd_comp

# items to disable
alias net-pf-4 off
alias net-pf-5 appletalk
alias ppp-compress-24 off
alias ppp-compress-26 off
END
	fi
fi

<end glue>
<end %POST-INSTALL>
