# configuration bits for mod_rpmize
# syntax:
# <begin [x]section>
# <end [x]section>
#
# x an be $ for a string or % for a hash.
# if a hash is being used, you can add sub-sections with
# <begin sub-section>
# <end sub-section>


<begin $DESCRIPTION>
%package [LABEL]
Group: System Environment/BlueQuartz
Summary: [LABEL] for [VENDOR]-[SERVICE].
[AUTOFILL]
[BUILDARCH]
[PROVIDES]

%description [LABEL]
The [VENDOR]-[SERVICE]-[LABEL] package contains the [LABEL]
information for [VENDOR]-[SERVICE].

<end $DESCRIPTION>

<begin %PREP>
<end %PREP>

<begin %SETUP>
<end %SETUP>

<begin %BUILD>
<end %BUILD>

<begin %INSTALL>
<end %INSTALL>

<begin %FILES>
<begin HEADER>
%files [LABEL]
%defattr(-,root,root)
<end HEADER>

<begin locale>
[AUTOFILL]

<end locale>

<begin glue>
[AUTOFILL]

<end glue>

<begin ui>
[AUTOFILL]

<end ui>

<begin capstone>
%{RootDir}/capstone/%{Vendor}-%{Service}.cap
[AUTOFILL]

<end capstone>
<end %FILES>

<begin %POST-INSTALL>
<begin HEADER>
%post [LABEL]
<end HEADER>

<begin glue>
# glue post-install

# Restart CCEd: 
if [ -d "/usr/sausalito/yumcce" ];then 
  touch /usr/sausalito/yumcce/restart
fi

<end glue>
<begin ui>
# ui post-install
# this is somewhat nasty, but it always makes sure that there's a
# default .html file in case the browser doesn't specify a locale
if [ x"[DEFLOCALE]" != x ]; then
	for dir in `find [CCEWEB] -type d`; do 
		(cd $dir; 
		if [ x"`ls *.htm[l].[DEFLOCALE] 2> /dev/null`" != x ]; then
			for file in `ls *.htm[l].[DEFLOCALE]`; do
				base=`basename $file .[DEFLOCALE]`
				if [ ! -f $base ]; then
					ln -s $file $base
 				fi
			done
		fi)
	done
fi

<end ui>
<begin locale>
# locale post-install

<end locale>
<end %POST-INSTALL>

<begin %POST-UNINSTALL>
<begin HEADER>
%postun [LABEL]
<end HEADER>

<begin glue>
# glue post-uninstall

<end glue>
<begin ui>
# ui post-uninstall

<end ui>
<begin locale>
# locale post-uninstall

<end locale>
<end %POST-UNINSTALL>

<begin $CHANGELOG>

* Sun Jun 08 2018 Michael Stauber <mstauber@solarspeed.net> 2.0-0BX17
- Updated Italian locales added as provided by Simone Capra.

* Sat Mar 31 2018 Michael Stauber <mstauber@solarspeed.net> 2.0-0BX16
- Added ability to make AllowTcpForwarding configurable.

* Sun Feb 04 2018 Michael Stauber <mstauber@solarspeed.net> 2.0-0BX15
- Small fix in constructor

* Mon Nov 05 2017 Michael Stauber <mstauber@solarspeed.net> 2.0-0BX14
- Modified constructors to use cce->update() instead of cce->set().

* Thu Feb 23 2017 Michael Stauber <mstauber@solarspeed.net> 2.0-0BX13
- Adjusted Controller for base-alpine 2.0

* Tue Sep 13 2016 Michael Stauber <mstauber@solarspeed.net> 2.0-0BX12
- Added AM components for SSHd monitoring.
- Added glue/handlers/enableAM.pl
- Added glue/schemas/ssh-am.schema
- Added src
- Added ui/chorizo/web/config/routes.php
- Added ui/chorizo/web/controllers/ssh_amdetails.php
- Modified glue/conf/ssh.conf
- Locales extended.

* Tue Jun 16 2016 Michael Stauber <mstauber@solarspeed.net> 2.0-0BX11
- Added key/value pair to glue/schemas/ssh.schema to allow config of
  AllowTcpForwarding. No GUI option for this yet.
- Modified glue/handlers/sshd_handler.pl to use conditional SSHd
  restarts to only restart when needed.
- Code cleanup in glue/handlers/toggle_ssh.pl

* Mon Mar 21 2016 Michael Stauber <mstauber@solarspeed.net> 2.0-0BX10
- Updated Italian locales added as provided by Simone Capra.

* Fri Mar 20 2015 Michael Stauber <mstauber@solarspeed.net> 2.0-0BX09
- Modified glue/handlers/sshd_handler.pl again as the last two edits 
  were probably done by the Forrest Gump of coding. Yikes.

* Fri Mar 20 2015 Michael Stauber <mstauber@solarspeed.net> 2.0-0BX08
- Modified glue/handlers/sshd_handler.pl to set the default for 
  'PermitRootLogin' to 'yes' if the license is not yet accepted. Otherwise
  the numerical '1' from the CODB schema is set and prevents SSHd from
  starting up again.

* Thu Feb 26 2015 Michael Stauber <mstauber@solarspeed.net> 2.0-0BX07
- Modified glue/handlers/sshd_handler.pl to make sure that 'PermitRootLogin'
  is only modified if the system is past the initial web based setup.
- Additionally made sure that /root/.bashrc only gets the network settings
  lines added if 'PermitRootLogin' is still set to '0', the initial web
  based setup has not been completed AND /root/network_settings.sh
  actually exists.

* Fri Jul 11 2014 Michael Stauber <mstauber@solarspeed.net> 2.0-0BX06
- Chorizo GUI added, old GUI disabled.

* Thu May 15 2014 Michael Stauber <mstauber@solarspeed.net> 2.0-0BX05
- Modified glue/handlers/sshd_handler.pl to add 'StrictModes no' to our
  sshd_config. This deals with the slightly elevalted permissions on
  users home directories.
- Modified glue/handlers/ssh_keycert.pl to chmod a bit more restrictively.

* Mon May 12 2014 Michael Stauber <mstauber@solarspeed.net> 2.0-0BX04
- Modified glue/handlers/ssh_keycert.pl as we need 700 perms on .ssh

* Mon May 12 2014 Michael Stauber <mstauber@solarspeed.net> 2.0-0BX03
- More locale strings added. That should be it for now.
- Modified glue/schemas/ssh.schema yet again.
- Modified glue/conf/ssh.conf to trigger a handler for key/cert creation.
- Added glue/handlers/ssh_keycert.pl to create key or certs on requests.

* Sun May 11 2014 Michael Stauber <mstauber@solarspeed.net> 2.0-0BX02
- More locale strings added.

* Sun May 11 2014 Michael Stauber <mstauber@solarspeed.net> 2.0-0BX01
- Major version number bump for 520XR.
- Added SSH key/cert managament to the GUI. This is the first rought draft
  which is still missing some bits and pieces.
- Modified glue/schemas/ssh.schema for new CODB database fields.
- Modified glue/conf/ssh.conf
- Modified constructor/import_sshd_settings.pl to read in more sshd_config
  parameters to store them in CODB.
- Modified glue/handlers/sshd_handler.pl to write a new sshd_config with our
  added parameters.
- Added improved French locales as provided by Meaulness Legler. Although I had
  to add the new locale strings for the SSH key managements to it. So if in doubt:
  The part where spelling and grammar suck is all mine and courtesy of Google 
  Translate.
- Added new locale strings to all locales.

* Sun Apr 06 2014 Michael Stauber <mstauber@solarspeed.net> 1.1-0BX06
- Added call to constructor/base/ssh/import_sshd_settings.pl on RPM post
  install to force an update of the sshd_config and a SSHd restart.

* Sun Apr 06 2014 Michael Stauber <mstauber@solarspeed.net> 1.1-0BX05
- Modified glue/handlers/sshd_handler.pl to disable 'AllowTcpForwarding' 
  and 'X11Forwarding' by default. This is a security related fix to
  prevent SPAM sending via SSH tunnel. Reminder: Users do NOT need a
  valid shell to create a SSH tunnel. Tunneled SPAM then gets sent from
  'localhost', which circumvents the usual relay checks. For more info
  see [BlueOnyx:15092].

* Thu Feb 27 2014 Michael Stauber <mstauber@solarspeed.net> 1.1-0BX04
- Merged in better locales for Japanese as provided by Hiroyuki Sasahide.
- Added missing locale headers to some non-Enlish locales.

* Fri Dec 27 2013 Michael Stauber <mstauber@solarspeed.net> 1.1-0BX03
- German locale had incorrect charset.

* Sat Dec 14 2013 Michael Stauber <mstauber@solarspeed.net> 1.1-0BX02
- Merged in locales for the Netherlands ('nl_NL').

* Sat Dec 07 2013 Michael Stauber <mstauber@solarspeed.net> 1.1-0BX01
- Preparational build for 5207R/5208R. Doesn't include new GUI yet.
- Merged in new locales from 5207R ("es_ES", "fr_FR", "it_IT", "pt_PT").
- Dropped all two character locales.
- Converted "ja_JP" from EUC-JP to UTF-8.
- New Capabilities for admin. 

* Tue Mar 20 2012 Michael Stauber <mstauber@solarspeed.net> 1.0-11BX15
- Converted locale encoding from UTF-8 to ISO-8859-1.

* Fri Jun 04 2010 Michael Stauber <mstauber@solarspeed.net> 1.0-11BX14
- Copied 'en' locales to 'en_US'

* Fri Jun 04 2010 Michael Stauber <mstauber@solarspeed.net> 1.0-11BX13
- Version number bump

* Thu Dec 04 2008 Michael Stauber <mstauber@solarspeed.net> 1.0-11BQ12
- Fixed snafu in glue/handlers/sshd_handler.pl

* Thu Dec 04 2008 Michael Stauber <mstauber@solarspeed.net> 1.0-11BQ11
- Modified glue/handlers/sshd_handler.pl and ui/extensions/20_SSH.php.shell.System
- Added ability to import SSH port from sshd_config that's not in the list of supported ports.

* Thu Dec 04 2008 Michael Stauber <mstauber@solarspeed.net> 1.0-11BQ10
- Modified ui/extensions/20_SSH.php.shell.System to change output into a composite field. Looks better.

* Thu Dec 04 2008 Michael Stauber <mstauber@solarspeed.net> 1.0-11BQ9
- Ability to set SSH to different ports, to allow root access, modify protocols and to edit /root/.bashrc.
- Extended glue/schemas/ssh.schema with new entries.
- Added constructor/import_sshd_settings.pl to determine current sshd config.
- Extended glue/conf/ssh.conf to handle new events.
- Extended ui/extensions/20_SSH.php.shell.System to provide UI for new switches.
- Added glue/handlers/sshd_handler.pl to modify /etc/ssh/sshd_config and /root/.bashrc.
- Modified English, German, Danish and Japanese locales for new strings.
- German translation complete. Danish and Japanese have the new strings in English for now.

* Wed Dec 03 2008 Michael Stauber <mstauber@solarspeed.net> 1.0-11BQ8
- Rebuilt for BlueOnyx.

* Sun Jan 27 2008 Michael Stauber <mstauber@solarspeed.net> 1.0-11BQ7
- German locales added.

* Tue Jan 22 2008 Michael Stauber <mstauber@solarspeed.net> 1.0-11BQ6
- Danish locales added. Thanks to Jes Klittum!

* Tue Nov 29 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.0-11BQ5
- rebuild with devel-tools 0.5.1-0BQ7.

* Fri Oct 21 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.0-11BQ4
- comment out active monitor setting

* Tue Oct 18 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.0-11BQ3
- rebuild with devel-tools 0.5.1

* Fri Aug 12 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.0-11BQ2
- clean up spec file.
<end $CHANGELOG>
