# configuration bits for mod_rpmize
# syntax:
# <begin [x]section>
# <end [x]section>
#
# x an be $ for a string or % for a hash.
# if a hash is being used, you can add sub-sections with
# <begin sub-section>
# <end sub-section>


<begin $DESCRIPTION>
%package [LABEL]
Group: CCE/[VENDOR]
Summary: [LABEL] for [VENDOR]-[SERVICE].
[AUTOFILL]
[BUILDARCH]
[PROVIDES]

%description [LABEL]
The [VENDOR]-[SERVICE]-[LABEL] package contains the [LABEL]
information for [VENDOR]-[SERVICE].

<end $DESCRIPTION>

<begin %PREP>
<end %PREP>

<begin %SETUP>
<end %SETUP>

<begin %BUILD>
<end %BUILD>

<begin %INSTALL>
<end %INSTALL>

<begin %FILES>
<begin HEADER>
%files [LABEL]
%defattr(-,root,root)
<end HEADER>

<begin locale>
[AUTOFILL]

<end locale>

<begin glue>
#/sbin/service mdchk start
#/sbin/service fix_grub start
#/sbin/lsraid
[AUTOFILL]

<end glue>

<begin ui>
[AUTOFILL]

<end ui>

<begin capstone>
%{RootDir}/capstone/%{Vendor}-%{Service}.cap
[AUTOFILL]

<end capstone>
<end %FILES>

<begin %POST-INSTALL>
<begin HEADER>
%post [LABEL]
<end HEADER>

<begin glue>
# glue post-install

# glue post-install
if [ "$1" = 1 ]; then
	/sbin/chkconfig --add mdchk
	/sbin/chkconfig mdchk off
	/sbin/chkconfig --add fix_grub
	/sbin/chkconfig fix_grub off
fi

<end glue>
<begin ui>
# ui post-install
# this is somewhat nasty, but it always makes sure that there's a
# default .html file in case the browser doesn't specify a locale
if [ x"[DEFLOCALE]" != x ]; then
	for dir in `find [CCEWEB] -type d`; do 
		(cd $dir; 
		if [ x"`ls *.htm[l].[DEFLOCALE] 2> /dev/null`" != x ]; then
			for file in `ls *.htm[l].[DEFLOCALE]`; do
				base=`basename $file .[DEFLOCALE]`
				if [ ! -f $base ]; then
					ln -s $file $base
 				fi
			done
		fi)
	done
fi

<end ui>
<begin locale>
# locale post-install

<end locale>
<end %POST-INSTALL>

<begin %POST-UNINSTALL>
<begin HEADER>
%postun [LABEL]
<end HEADER>

<begin glue>
# glue post-uninstall

<end glue>
<begin ui>
# ui post-uninstall

<end ui>
<begin locale>
# locale post-uninstall

<end locale>
<end %POST-UNINSTALL>

<begin $CHANGELOG>

* Mon Nov 05 2017 Michael Stauber <mstauber@solarspeed.net> 0.1.3-BX09
- Modified constructors to use cce->update() instead of cce->set().

* Wed Feb 22 2017 Michael Stauber <mstauber@solarspeed.net> 0.1.3-BX08
- Adjusted Controller for base-alpine 2.0

* Thu Jun 16 2016 Greg Kuhnert <gkuhnert@compassnetworks.com.au> 0.1.3-BX07
- Fix constructor to prevent error if raid not installed

* Thu Dec 04 2014 Michael Stauber <mstauber@solarspeed.net> 0.1.3-0BX06
- Systemd related fixes in post-install.

* Fri Jul 11 2014 Michael Stauber <mstauber@solarspeed.net> 0.1.3-0BX05
- Chorizo GUI added, old GUI disabled.

* Wed Feb 05 2014 Michael Stauber <mstauber@solarspeed.net> 0.1.3-0BX04
- The RC scripts fix_grub and mdchk have been disabled for now. The loss
  of MBR (for which fix_grub was provided as work around) is a direct
  result of some idiotic stuff in mdchk. Our entire RAID rebuild mechanism
  needs a thorough rework, so for now we'll make do without automatic
  RAID rebuilds.
- Added cleaned up French translation as provided by Meaulnes Legler.

* Sat Dec 14 2013 Michael Stauber <mstauber@solarspeed.net> 0.1.3-0BX03
- Merged in locales for the Netherlands ('nl_NL').

* Fri Dec 13 2013 Michael Stauber <mstauber@solarspeed.net> 0.1.3-0BX02
- Somehow the disk integrity monitor defaults to 'on' after upgrades on 
  non-RAID systems, leading to the dreaded empty Active Monitor emails.
  Fixed checkAM.pl to disable disk integrity monitor on non-RAID systems.

* Fri Dec 06 2013 Michael Stauber <mstauber@solarspeed.net> 0.1.3-0BX01
- Preparational build for 5207R/5208R. Doesn't include new GUI yet.
- Merged in new locales from 5207R ("es_ES", "fr_FR", "it_IT", "pt_PT").
- Dropped all two character locales.
- Converted "ja_JP" from EUC-JP to UTF-8.
- New Capabilities for admin. 

* Tue Mar 20 2012 Michael Stauber <mstauber@solarspeed.net> 0.1.2-87BX26
- Converted locale encoding from UTF-8 to ISO-8859-1.

* Tue Aug 30 2011 Michael Stauber <mstauber@solarspeed.net> 0.1.2-87BX25
- Another fix for constructor/checkAM.pl to disable RAID on non-RAID systems.

* Tue Aug 23 2011 Michael Stauber <mstauber@solarspeed.net> 0.1.2-87BX24
- Modified constructor/checkAM.pl with a working provision to disable RAID monitoring on non-RAID systems.
  The funny thing here is that if RAID monitoring was enabled on a non-RAID system, then Dovecot failures
  would result in an email with three empty status lines.

* Thu Aug 11 2011 Michael Stauber <mstauber@solarspeed.net> 0.1.2-87BX23
- PHP-5.3 related fixes in ui/web/drives.inc

* Sun Jun 05 2011 Michael Stauber <mstauber@solarspeed.net> 0.1.2-87BX22
- Copied 'en' locales to 'en_US'

* Fri Jun 04 2010 Michael Stauber <mstauber@solarspeed.net> 0.1.2-87BX21
- Version number bump
- raid-bins: Removed noarch architecture tag from specfile

* Fri Jun 19 2009 Michael Stauber <mstauber@solarspeed.net> 0.1.2-87BQ20
- Updated ui/web/raid.inc as it was using the wrong call for the System Object RAID
- Updated ui/web/raid.inc with our supported RAID levels beyond the stock RAID0 / RAID1

* Wed Mar 18 2009 Rickard Osser <rickard.osser@bluapp.com> 0.1.2-87BQ19
- Changed "<" in glue/etc/init.d/mdchk to use -lt instead as it throws an error when run.

* Wed Mar 18 2009 Michael Stauber <mstauber@solarspeed.net> 0.1.2-87BQ18
- Switched glue/sbin/lsraid from compiled binary to a shell script supplied by Rickard Osser.
- Modified the /sbin/lsraid line in glue/etc/init.d/mdchk to use the new script to re-create a missing /etc/raidtab

* Thu Mar 12 2009 Rickard Osser <rickard.osser@bluapp.com> 0.1.2-87BQ17
- Fixed typo in constructor

* Thu Mar 12 2009 Rickard Osser <rickard.osser@bluapp.com> 0.1.2-87BQ16
- Added support for reporting correct raid-level in the GUI
- Changed the raid recognition in constructor addRAIDpkg.pl to not add the package
  but to only report the correct raid level. This also makes the ActiveMonitor show
  correct raid-level.
- Added support for dynamic raid-levels to am_bin

* Wed Feb 25 2009 Michael Stauber <mstauber@solarspeed.net> 0.1.2-87BQ15
- Updated glue/etc/init.d/mdchk to fix typo.

* Wed Feb 11 2009 Michael Stauber <mstauber@solarspeed.net> 0.1.2-87BQ14
- RAID rebuilds were not working, as we are no longer using raidtools, but mdadm.
- See ticket http://devel.blueonyx.it/trac/ticket/30
- As a work around added glue/sbin/lsraid from raidtools RPM to be able to rebuild /etc/raidtab
- Modified glue/etc/init.d/mdchk to rebuild failed RAID arrays using mdadm

* Tue Jan 06 2009 Michael Stauber <mstauber@solarspeed.net> 0.1.2-87BQ13
- Added requirement for raid-bins to Makefile, as it's needed for active monitor.

* Wed Dec 03 2008 Michael Stauber <mstauber@solarspeed.net> 0.1.2-87BQ12
- Rebuilt for BlueOnyx.

* Tue Sep 16 2008 Michael Stauber <mstauber@solarspeed.net> 0.1.2-87BQ11
- Added /etc/init.d/fix_grub - contributed by Rickard Osser.
- Extended fix_grub with more checks for presence of Grub and RAID in general.

* Sun Jan 27 2008 Michael Stauber <mstauber@solarspeed.net> 0.1.2-87BQ10
- German locales added.

* Tue Jan 22 2008 Michael Stauber <mstauber@solarspeed.net> 0.1.2-87BQ9
- Danish locales added. Thanks to Jes Klittum!

* Mon Jun 25 2007 Hisao SHIBUYA <shibuya@bluequartz.org> 0.1.2-87BQ8
- Fixed duplicate include issue.

* Wed May 03 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 0.1.2-87BQ7
- add Requires ms-sys.

* Sun Apr 23 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 0.1.2-87BQ6
- modify mdchk script to support grub by Brian.

* Fri Apr 07 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 0.1.2-87BQ5
- modify mdchk script to execute lilo command at last line.

* Thu Apr 06 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 0.1.2-87BQ4
- execute lilo instead of ms-sys.

* Tue Mar 14 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 0.1.2-87BQ3
- add and set enable for mdchk with chkconfig.

* Tue Mar 14 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 0.1.2-87BQ2
- add requires ms-sys.

* Thu Mar 09 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 0.1.2-87BQ1
- modified for BlueQuartz with FP2002 by Brian.
<end $CHANGELOG>
