[Unit]
Description=The PHP-5.3 FastCGI Process Manager
After=syslog.target network.target

[Service]
Type=oneshot
ExecStart=/home/solarspeed/php-5.3/sbin/php-fpm_start.sh
ExecReload=/home/solarspeed/php-5.3/sbin/php-fpm_reload.sh
ExecStop=/home/solarspeed/php-5.3/sbin/php-fpm_stop.sh
RemainAfterExit=yes

# Config file - if we ever want one it would go there:
EnvironmentFile=-/etc/sysconfig/php-fpm

# We send a SIGTERM signal right after the ExecStop, which will kill CCEd for sure.
KillSignal=SIGTERM
PrivateTmp=true

[Install]
WantedBy=multi-user.target

