#Name: base-sys
#Id: $Id: packing_list.tmpl 3 2003-07-17 15:19:15Z will $
#

# order-dependent rpms
RPM: setup-carmel-8.noarch.rpm
RPM: filesystem-1.3.5-1.noarch.rpm
RPM: basesystem-6.0-4.noarch.rpm
RPM: ldconfig-1.9.5-16.i386.rpm
RPM: ld.so-1.9.5-13.i386.rpm
RPM: glibc-2.1.3-19C1.i386.rpm
RPM: shadow-utils-19990827-10.i386.rpm
RPM: chkconfig-1.1.2-1.i386.rpm
RPM: MAKEDEV-2.5.3-C1.noarch.rpm
RPM: SysVinit-2.77-2C3.i386.rpm
RPM: consoled-1.0.1-1.i386.rpm
RPM: termcap-10.2.7-9.noarch.rpm
RPM: libtermcap-2.0.8-20.i386.rpm
RPM: info-4.0-5.i386.rpm
RPM: texinfo-4.0-5.i386.rpm
RPM: grep-2.4-4.i386.rpm
RPM: zlib-1.1.3-6.i386.rpm
RPM: bash-1.14.7-22.i386.rpm
RPM: fileutils-4.0-1_C1.i386.rpm
RPM: textutils-2.0e-6.i386.rpm
RPM: sed-3.02-6.i386.rpm
# ---
RPM: analog-3.11-1C4.i386.rpm
RPM: bash2-2.03-8.i386.rpm
RPM: bash2-doc-2.03-8.i386.rpm
RPM: bc-1.05a-4.i386.rpm
RPM: bdflush-1.5-11.i386.rpm
RPM: bzip2-0.9.5d-2.i386.rpm
RPM: cmos-2.1.2-1.i386.rpm
RPM: cpio-2.4.2-16.i386.rpm
RPM: crontabs-1.7-7C1.noarch.rpm
RPM: dev-2.7.7-C1.i386.rpm
RPM: diffutils-2.7-17.i386.rpm
RPM: e2fsprogs-1.18-5.i386.rpm
RPM: emacs-20.5-7.i386.rpm
RPM: emacs-nox-20.5-7.i386.rpm
RPM: file-3.28-2.i386.rpm
RPM: findutils-4.1-34.i386.rpm
RPM: ftp-0.16-3.i386.rpm
RPM: gawk-3.0.4-2.i386.rpm
RPM: gettext-0.10.35-17C2.i386.rpm
RPM: gettext-pm-1.01-1.i386.rpm
RPM: getty_ps-2.0.7j-9C1.i386.rpm
RPM: gpm-1.19.1-C1.i386.rpm
RPM: groff-1.15-8.i386.rpm
RPM: groff-perl-1.15-8.i386.rpm
RPM: gzip-1.2.4a-2.i386.rpm
RPM: hdparm-3.9-C1.i386.rpm
RPM: kernel-2.2.16C7-1.i386.rpm
RPM: kernel-headers-2.2.16C7-1.i386.rpm
RPM: kernel-source-2.2.16C7-1.i386.rpm
RPM: kernel-reiserfs-utils-2.2.16C7-1.i386.rpm
RPM: knfsd-1.2.2-4C1.i386.rpm
RPM: knfsd-clients-1.2.2-4C1.i386.rpm
RPM: less-346-2.i386.rpm
RPM: logrotate-3.2-C1.i386.rpm
RPM: losetup-2.10f-C1.i386.rpm
RPM: m4-1.4-12.i386.rpm
RPM: man-1.5h1-2.6.xC1.i386.rpm
RPM: man-pages-1.30-C1.noarch.rpm
RPM: mgetty-1.1.21-4.i386.rpm
RPM: mingetty-0.9.4-10.i386.rpm
RPM: minicom-1.82-5.i386.rpm
RPM: mktemp-1.5-2.i386.rpm
RPM: modutils-2.3.9-6C1.i386.rpm
RPM: mount-2.10f-1.i386.rpm
RPM: net-tools-1.55-1C1.i386.rpm
RPM: netkit-base-0.10-29C6.i386.rpm
RPM: passwd-0.64.1-1C1.i386.rpm
RPM: patch-2.5-10.i386.rpm
RPM: perl-5.00503-11.i386.rpm
RPM: python-1.5.2-13.i386.rpm
RPM: python-docs-1.5.2-13.i386.rpm
RPM: portmap-4.0-15C1.i386.rpm
RPM: procinfo-17-4.i386.rpm
RPM: procps-2.0.6-5.i386.rpm
RPM: psmisc-19-2.i386.rpm
RPM: quota-2.00pre3-2.i386.rpm
RPM: raidtools-0.90-6C1.i386.rpm
RPM: rpm-3.0.4-6xC1.i386.rpm
RPM: rpm-build-3.0.4-6xC1.i386.rpm
RPM: rpm-python-3.0.4-6xC1.i386.rpm
RPM: rpmfind-1.4-3.i386.rpm
RPM: rsh-0.16-12C1.i386.rpm
RPM: rsh-server-0.16-12C1.i386.rpm
RPM: sh-utils-2.0-4C1.i386.rpm
RPM: slocate-2.1-2.i386.rpm
RPM: stat-1.5-11.i386.rpm
RPM: sysklogd-1.3.31-17C1.i386.rpm
RPM: tar-1.13.17-3.i386.rpm
RPM: tcl-8.0.5-35.i386.rpm
RPM: tclx-8.0.5-35.i386.rpm
RPM: tk-8.0.5-35.i386.rpm
RPM: tcp_wrappers-7.6-10.i386.rpm
RPM: tcpdump-3.4-19.i386.rpm
RPM: tcsh-6.09-4.i386.rpm
RPM: telnet-0.16-6.i386.rpm
RPM: telnet-server-0.16-6.i386.rpm
RPM: time-1.7-9.i386.rpm
RPM: tmpwatch-2.2-1.i386.rpm
RPM: traceroute-1.4a5-18.i386.rpm
RPM: unzip-5.40-2.i386.rpm
RPM: util-linux-2.10l-C1.i386.rpm
RPM: vim-common-5.6-11C1.i386.rpm
RPM: vim-enhanced-5.6-11C1.i386.rpm
RPM: vim-minimal-5.6-11C1.i386.rpm
RPM: vixie-cron-3.0.1-38C1.i386.rpm
RPM: wget-1.5.3-6.i386.rpm
RPM: which-2.9-2.i386.rpm
RPM: words-2-12.noarch.rpm
RPM: zip-2.3-4.i386.rpm

# libraries
RPM: libstdc++-compat-2.95.2-3.i386.rpm
RPM: compat-glibc-5.2-2.0.7.2.i386.rpm
RPM: compat-libs-5.2-2.i386.rpm
RPM: cracklib-2.7-5.i386.rpm
RPM: cracklib-dicts-2.7-5.i386.rpm
RPM: gdbm-1.8.0-3.i386.rpm
RPM: glib-1.2.7-1C2.i386.rpm
RPM: gmp-2.0.2-13.i386.rpm
RPM: libc-5.3.12-31.i386.rpm
RPM: libstdc++-2.95.2-3.i386.rpm
RPM: libelf-0.6.4-4.i386.rpm
RPM: libnet-1.0606-1.i386.rpm
RPM: libpcap-0.4-19.i386.rpm
RPM: libxml10-1.0.0-2.i386.rpm
RPM: libxml-1.8.7-1.i386.rpm
RPM: ncurses-5.0-11.i386.rpm
RPM: ncurses3-1.9.9e-11.i386.rpm
RPM: pam-0.72-6.i386.rpm
RPM: pwdb-0.58-3.i386.rpm
RPM: pythonlib-1.23-1.noarch.rpm
RPM: readline-2.2.1-6.i386.rpm
RPM: slang-1.2.2-5.i386.rpm
RPM: XFree86-libs-3.3.6-20.i386.rpm
