# configuration bits for mod_rpmize
# syntax:
# <begin [x]section>
# <end [x]section>
#
# x an be $ for a string or % for a hash.
# if a hash is being used, you can add sub-sections with
# <begin sub-section>
# <end sub-section>


<begin $DESCRIPTION>
%package [LABEL]
Group: System Environment/BlueOnyx
Summary: [LABEL] for [VENDOR]-[SERVICE].
[AUTOFILL]
[BUILDARCH]
[PROVIDES]

%description [LABEL]
The [VENDOR]-[SERVICE]-[LABEL] package contains the [LABEL]
information for [VENDOR]-[SERVICE].

<end $DESCRIPTION>

<begin %PREP>
<end %PREP>

<begin %SETUP>
<end %SETUP>

<begin %BUILD>
<end %BUILD>

<begin %INSTALL>
<end %INSTALL>

<begin %FILES>
<begin HEADER>
%files [LABEL]
%defattr(-,root,root)
<end HEADER>

<begin locale>
[AUTOFILL]

<end locale>

<begin glue>
/usr/sausalito/sbin/ssl_get.pl
/usr/sausalito/sbin/ssl_import.pl
[AUTOFILL]

<end glue>

<begin ui>
[AUTOFILL]

<end ui>

<begin capstone>
%{RootDir}/capstone/%{Vendor}-%{Service}.cap
[AUTOFILL]

<end capstone>
<end %FILES>

<begin %POST-INSTALL>
<begin HEADER>
%post [LABEL]
<end HEADER>

<begin glue>
# glue post-install

<end glue>
<begin ui>
# ui post-install
# this is somewhat nasty, but it always makes sure that there's a
# default .html file in case the browser doesn't specify a locale
if [ x"[DEFLOCALE]" != x ]; then
	for dir in `find [CCEWEB] -type d`; do 
		(cd $dir; 
		if [ x"`ls *.htm[l].[DEFLOCALE] 2> /dev/null`" != x ]; then
			for file in `ls *.htm[l].[DEFLOCALE]`; do
				base=`basename $file .[DEFLOCALE]`
				if [ ! -f $base ]; then
					ln -s $file $base
 				fi
			done
		fi)
	done
fi

<end ui>
<begin locale>
# locale post-install

<end locale>
<end %POST-INSTALL>

<begin %POST-UNINSTALL>
<begin HEADER>
%postun [LABEL]
<end HEADER>

<begin glue>
# glue post-uninstall

<end glue>
<begin ui>
# ui post-uninstall

<end ui>
<begin locale>
# locale post-uninstall

<end locale>
<end %POST-UNINSTALL>

<begin $CHANGELOG>

* Wed Dec 03 2008 Michael Stauber <mstauber@solarspeed.net> 1.1.0-68BQ13
- Updated ui/web/createCert.php to set the switch 'Generate Self-Signed Certificate' to off by default.

* Wed Dec 03 2008 Michael Stauber <mstauber@solarspeed.net> 1.1.0-68BQ12
- Rebuilt for BlueOnyx.

* Tue Jul 03 2008 Michael Stauber <mstauber@solarspeed.net> 1.1.0-68BQ11
- Fixed caManager.php siteSSL.php for 5106

* Sun Jan 27 2008 Michael Stauber <mstauber@solarspeed.net> 1.1.0-68BQ10
- German locales added.

* Tue Jan 22 2008 Michael Stauber <mstauber@solarspeed.net> 1.1.0-68BQ9
- Danish locales added. Thanks to Jes Klittum!

* Mon Jun 25 2007 Hisao SHIBUYA <shibuya@bluequartz.org> 1.1.0-68BQ8
- Fixed duplicate include issue.

* Tue Nov 29 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.1.0-68BQ7
- rebuild with devel-tools 0.5.1-0BQ7.

* Tue Oct 18 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.1.0-68BQ6
- rebuild with devel-tools 0.5.1

* Mon Aug 15 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.1.0-68BQ5
- modified Group tag.

* Sat Aug 13 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.1.0-68BQ4
- fix security problem that can be accessed unauthorized function.

* Sat Aug 13 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.1.0-68BQ3
- clean up spec file.
<end $CHANGELOG>
