# configuration bits for mod_rpmize
# syntax:
# <begin [x]section>
# <end [x]section>
#
# x an be $ for a string or % for a hash.
# if a hash is being used, you can add sub-sections with
# <begin sub-section>
# <end sub-section>


<begin %DESCRIPTION>
<begin glue>
%package [LABEL]
Group: System Environment/BlueOnyx

Summary: [LABEL] for [VENDOR]-[SERVICE].
[AUTOFILL]
[BUILDARCH]
Obsoletes: base-bluequartz-capstone 
Obsoletes: base-bluequartz-ui 
Obsoletes: base-bluequartz-glue 
Obsoletes: base-bluequartz-locale-en 
Obsoletes: base-bluequartz-locale-de_DE
Obsoletes: base-bluequartz-locale-da_DK
Obsoletes: base-bluequartz-locale-ja

%description [LABEL]
The [VENDOR]-[SERVICE]-[LABEL] package contains the [LABEL]
information for [VENDOR]-[SERVICE].

<end glue>

<begin capstone>
%package [LABEL]
Group: System Environment/BlueOnyx
Summary: [LABEL] for [VENDOR]-[SERVICE].
[AUTOFILL]
[BUILDARCH]

Requires: php-mbstring

%description [LABEL]
The [VENDOR]-[SERVICE]-[LABEL] package contains the [LABEL]
information for [VENDOR]-[SERVICE].

<end capstone>
<end %DESCRIPTION>

<begin %INSTALL>
<begin glue>
<end glue>
<end %INSTALL>

<begin %FILES>
<begin HEADER>
%files [LABEL]
%defattr(-,root,root)
<end HEADER>

<begin locale>
[AUTOFILL]

<end locale>

<begin glue>
%dir /etc/locks
%config /etc/rc.d/init.d/*
%config /etc/sysconfig/blueonyx
%attr(0755,root,root) /usr/sausalito/sbin/*
%attr(0755,root,root) /usr/sausalito/scripts/*
%attr(0750,root,root) /root/network_settings.sh
%dir /usr/sausalito/runonce
%dir /usr/sausalito/configs
/usr/sausalito/configs/*
%dir /usr/sausalito/triggers
/usr/sausalito/triggers/*
/etc/build
/var/www/html/*
%dir /usr/share/doc/blueonyx-release-520XR
/usr/share/doc/blueonyx-release-520XR/*
<end glue>

<begin ui>
[AUTOFILL]

<end ui>

<begin capstone>
%{RootDir}/capstone/%{Vendor}-%{Service}.cap
[AUTOFILL]

<end capstone>
<end %FILES>

<begin %POST-INSTALL>
<begin HEADER>
%post [LABEL]
<end HEADER>

<begin glue>
# glue post-install

if [ $1 -eq 1 ]; then
  # ONLY run this on first install, NOT upgrades!
  # This creates the persistend network rules with ethX style interfaces:
  /usr/sausalito/sbin/write_udev.pl > /etc/udev/rules.d/70-persistent-net.rules
fi

if [ $1 -eq 1 ]; then
  if [ ! -d "/usr/sausalito/runonce" ];then
    mkdir -p /usr/sausalito/runonce
  fi
  cd /usr/sausalito/scripts
  for FILE in *; do
    if [ -f $FILE ]; then
        if [ ! -L "/usr/sausalito/runonce/$FILE" ]; then
            ln -sf /usr/sausalito/scripts/$FILE /usr/sausalito/runonce/$FILE
        fi
    fi
  done
fi

# update product information
if [ $1 -gt 1 ] && [ -S /usr/sausalito/cced.socket ]; then
  /usr/sausalito/sbin/updateSystem.pl
fi

# update sendmail config files
/bin/grep 'setup for BlueOnyx' /etc/mail/sendmail.mc > /dev/null 2>&1
if [ $? = 0 ]; then
  /bin/mv /etc/mail/sendmail.mc /etc/mail/sendmail.mc.bxold
  /bin/mv /etc/mail/sendmail.cf /etc/mail/sendmail.cf.bxold
  /usr/sausalito/scripts/initSendmail.sh
fi

# Make sure sendmail.mc has confMAX_RCPTS_PER_MESSAGE:
/bin/grep 'confMAX_RCPTS_PER_MESSAGE' /etc/mail/sendmail.mc > /dev/null 2>&1
if [ $? = 0 ]; then
  /bin/mv /etc/mail/sendmail.mc /etc/mail/sendmail.mc.bxold
  /bin/mv /etc/mail/sendmail.cf /etc/mail/sendmail.cf.bxold
  /usr/sausalito/scripts/initSendmail.sh
fi

# update procmailrc
if [ ! -f /etc/procmailrc ]; then
  /usr/sausalito/scripts/initProcmail.sh
else
  grep '^ORGMAIL=$HOME/mbox' /etc/procmailrc > /dev/null 2>&1
  if [ $? = 1 ]; then
    echo 'ORGMAIL=$HOME/mbox' >> /etc/procmailrc
  fi
  grep '^DEFAULT=$ORGMAIL' /etc/procmailrc > /dev/null 2>&1
  if [ $? = 1 ]; then
    echo 'DEFAULT=$ORGMAIL' >> /etc/procmailrc
  fi
fi

if [ -f /etc/sysconfig/saslauthd ]; then
  /usr/bin/perl -pi -e 's|^MECH=shadow|MECH=pam|g'  /etc/sysconfig/saslauthd
else
  echo 'MECH=pam' > /etc/sysconfig/saslauthd
fi
/usr/sausalito/constructor/base/email/syncEmailService.pl
/sbin/chkconfig --add blueonyx

# install pgp key
#/bin/rpm -q gpg-pubkey-f888eeac-47462ece > /dev/null 2>&1
#if [ $? = 1 ]; then
#  /bin/rpm --import /usr/share/doc/bluequartz-release-5106R/RPM-GPG-KEY-BlueQuartz-5100R
#fi

# install BlueOnyx pgp key
/bin/rpm -q gpg-pubkey-5202f88b-491b00bc > /dev/null 2>&1
if [ $? = 1 ]; then
  /bin/rpm --import /usr/share/doc/blueonyx-release-510XR/RPM-GPG-KEY-NUSOL-5106R
fi

# pwdb2shadow
if [ -f /etc/sysconfig/blueonyx ]; then
  . /etc/sysconfig/blueonyx
fi

if [ $AUTH == 'pwdb' ]; then
  ln -sf /usr/sausalito/scripts/pwdb2shadow.sh /usr/sausalito/runonce/pwdb2shadow.sh
  /usr/sausalito/scripts/pwdb2shadow.sh
else 
  /bin/sed -i -e 's@MECH=pam@MECH=shadow@' /etc/sysconfig/saslauthd
  /bin/sed -i -e "s@'db files'@files@" /etc/nsswitch.conf
fi

# Fix php.ini:
if [ -f /etc/php.ini ]; then
    /usr/bin/perl -pi -e 's|^error_reporting  =  E_ALL|error_reporting  =  E_ALL & ~E_NOTICE|g' /etc/php.ini
    /usr/bin/perl -pi -e 's|^short_open_tag = Off|short_open_tag = On|g' /etc/php.ini
fi

# Fix /etc/logwatch/conf/ignore.conf if we're running in a VPS:
if [ -f /proc/user_beancounters ]; then
    if [ -f /etc/logwatch/conf/ignore.conf ]; then
        echo "###### REGULAR EXPRESSIONS IN THIS FILE WILL BE TRIMMED FROM REPORT OUTPUT #####" > /etc/logwatch/conf/ignore.conf
        echo "ERROR: failed to open PAM security session" >> /etc/logwatch/conf/ignore.conf
        echo "ERROR: cannot set security context" >> /etc/logwatch/conf/ignore.conf
        echo "crond.*: System error" >> /etc/logwatch/conf/ignore.conf
    fi
fi

# Fix Dovecot v2.0 configs:
if [ -f /etc/dovecot/conf.d/10-auth.conf ]; then
	perl -pi -e 's|^#disable_plaintext_auth = (.*)|disable_plaintext_auth = no|g' /etc/dovecot/conf.d/10-auth.conf
fi
if [ -f /etc/dovecot/conf.d/10-mail.conf ]; then
	perl -pi -e 's|^#mail_location =(.*)|mail_location = mbox:~/mail/:INBOX=mbox|g' /etc/dovecot/conf.d/10-mail.conf
fi

<end glue>
<begin ui>
# ui post-install

<end ui>
<begin locale>
# locale post-install

<end locale>
<end %POST-INSTALL>

<begin %POST-UNINSTALL>
<begin HEADER>
%postun [LABEL]
<end HEADER>

<begin glue>
# glue post-uninstall

<end glue>
<begin ui>
# ui post-uninstall

<end ui>
<begin locale>
# locale post-uninstall

<end locale>
<end %POST-UNINSTALL>

<begin $TRIGGERIN>
%triggerin glue -- sysklogd
/bin/cp /usr/sausalito/triggers/sysklogd/syslog.logrotate /etc/logrotate.d/syslog

%triggerin glue -- webalizer
/bin/cp /usr/sausalito/triggers/webalizer/webalizer.conf /etc/webalizer.conf

%triggerin glue -- httpd
if [ -f /etc/logrotate.d/httpd ]; then
  /bin/rm /etc/logrotate.d/httpd
fi
/usr/sausalito/scripts/initHttpd.sh

%triggerin glue -- mod_ssl
/usr/sausalito/scripts/initSSL.sh

%triggerin glue -- sendmail
if [ ! -f /etc/mail/aliases ]; then
  if [ -f /etc/mail/aliases.rpmsave ]; then
    /bin/mv /etc/mail/aliases.rpmsave /etc/mail/aliases
  else
    /bin/ln -s /etc/aliases /etc/mail/aliases
  fi
  grep '^root:' /etc/mail/aliases > /dev/null 2>&1
  if [ $? = 1 ]; then
    echo 'root:		admin' >> /etc/mail/aliases
  fi
  /sbin/service sendmail condrestart
fi
if [ ! -f /usr/share/sendmail-cf/hack/popauth.m4 ]; then
  /bin/cp /usr/sausalito/configs/sendmail/popauth.m4 \
    /usr/share/sendmail-cf/hack/popauth.m4
fi

%triggerin glue -- glibc
/usr/sausalito/constructor/base/time/syncTimeZone.pl

# for distributions
%if "%centos" == "7"
%triggerin glue -- iptables
/bin/cp /usr/sausalito/triggers/iptables/iptables-CentOS5.init /etc/init.d/iptables
%triggerin glue -- initscripts
/bin/cp /usr/sausalito/triggers/initscripts/ifup-CentOS5 /sbin/ifup
%triggerin glue -- httpd
/usr/bin/perl -pi -e 's|^ServerTokens OS|ServerTokens ProductOnly|g' /etc/httpd/conf/httpd.conf
# Fix /etc/logrotate.conf, because we want to rotate daily and we want to compress the logs:
/usr/bin/perl -pi -e 's|^# rotate log files weekly|# rotate log files daily|g' /etc/logrotate.conf
/usr/bin/perl -pi -e 's|^weekly|daily|g' /etc/logrotate.conf
/usr/bin/perl -pi -e 's|^#compress|compress|g' /etc/logrotate.conf
/usr/bin/perl -pi -e 's|^# keep 4 weeks worth of backlogs|# keep 366 days worth of backlogs|g' /etc/logrotate.conf
/usr/bin/perl -pi -e 's|^rotate 4|rotate 366|g' /etc/logrotate.conf
%triggerin glue -- logrotate
/usr/bin/perl -pi -e 's|^#compress|compress|g' /etc/logrotate.conf
# Fix Logwatch's ignore.conf to ignore error message on Proftpd using virtualhost containers for single IP setups:
if [ -f /etc/logwatch/conf/ignore.conf ]; then
  grep '^warning: "ProFTPD" address/port' /etc/logwatch/conf/ignore.conf > /dev/null 2>&1
  if [ $? = 1 ]; then
    echo 'warning: "ProFTPD" address/port' >> /etc/logwatch/conf/ignore.conf
  fi
fi
%endif

%if "%centos" == "7"
%triggerin glue -- dovecot
perl -pi -e 's|^#disable_plaintext_auth = (.*)|disable_plaintext_auth = no|g' /etc/dovecot/conf.d/10-auth.conf
perl -pi -e 's|^#mail_location =(.*)|mail_location = mbox:~/mail/:INBOX=mbox|g' /etc/dovecot/conf.d/10-mail.conf
%endif

<end $TRIGGERIN>

<begin $TRIGGERUN>
%triggerpostun glue -- sendmail
if [ ! -f /etc/mail/aliases ]; then
  if [ -f /etc/mail/aliases.rpmsave ]; then
    /bin/mv /etc/mail/aliases.rpmsave /etc/mail/aliases
  else
    /bin/ln -s /etc/aliases /etc/mail/aliases
  fi
  grep '^root:' /etc/mail/aliases > /dev/null 2>&1
  if [ $? = 1 ]; then
    echo 'root:		admin' >> /etc/mail/aliases
  fi
  /sbin/service sendmail condrestart
fi
<end $TRIGGERUN>

<begin $CHANGELOG>

* Mon Dec 22 2014 Michael Stauber <mstauber@solarspeed.net> 4.20141222-BX06
- So far blueonyx-cd-installer did most of the heavy lifting after installs
  for setting up BlueOnyx correctly. This resulted in lots of hacks on all
  odds and ends. This is the first attempt to make it cleaner and to merge
  those scripts from blueonyx-cd-installer into base-blueonyx instead. With
  the required EL7 related fixes.
- Added glue/etc/cron.daily
- Added glue/etc/cron.daily/tmpwatch.cron
- Added glue/root/network_settings.sh
- Added glue/sbin/minicalc.pl
- Added glue/sbin/set_eth.pl
- Added glue/sbin/set_gw.pl
- Added glue/sbin/write_udev.pl
- Heavily extended glue/scripts/initServices.sh
- Alias fix in glue/scripts/initSendmail.sh
- Post-install fixes.

* Wed Dec 03 2014 Michael Stauber <mstauber@solarspeed.net> 4.20141203-BX05
- Adapted glue/scripts/initSendmail.sh, triggers and post-install scripts for EL7

* Fri Nov 21 2014 Michael Stauber <mstauber@solarspeed.net> 4.20141121-BX04
- Requirements updated for 5209R. Changed build string.

* Tue Sep 09 2014 Michael Stauber <mstauber@solarspeed.net> 4.20140909-BX03
- Modified glue/scripts/initSendmail.sh to remove the symlink for /etc/aliases
- Also changed the makemap hash to a proper newaliases run instead.
- Added constructor alias_fix.pl.

* Sun Aug 22 2014 Michael Stauber <mstauber@solarspeed.net> 4.20140822-BX02
- First non-beta release. It has been weeks since the last bugreport. So lets do
  call this stable now.

* Tue Jul 15 2014 Michael Stauber <mstauber@solarspeed.net> 4.$(BUILD)BETA01
- Require for base-support-capstone added

* Sun Jul 13 2014 Michael Stauber <mstauber@solarspeed.net> 4.$(BUILD)BETA01
- Fat trimmed. BETA01 tag added.

* Sat Apr 26 2014 Michael Stauber <mstauber@solarspeed.net> 4.20140426BX111 
- Version number bump.
- Trimmed fat.

* Wed Feb 05 2014 Michael Stauber <mstauber@solarspeed.net> 4.20140205BX110 
- Version number bump.

* Wed Dec 04 2013 Michael Stauber <mstauber@solarspeed.net> 4.20131204BX109
- Preparational build for 5207R/5208R. Doesn't include new GUI yet.

* Thu Sep 22 2011 Michael Stauber <mstauber@solarspeed.net> 3.20110922BX108
- Removed some legacy if-clauses dealing with ancient OS's from templates/rpmdefs.tmpl
- Change of Apache's 'ServerTokens' moved to relevant constructor of base-apache.mod instead.
- Modified glue/Makefile to insert 5107R or 5108R model number depending on architecture of the build box.

* Thu Jul 21 2011 Michael Stauber <mstauber@solarspeed.net> 3.20110721BX107
- Version number bump for the release of the updates backported from 5107R

* Thu Jul 21 2011 Michael Stauber <mstauber@solarspeed.net> 3.20110721BX106
- Updated triggerin for Dovecot v2.0 handling on CentOS6
- Post install now also fixes Dovecot v2.0 configs

* Wed Jul 13 2011 Michael Stauber <mstauber@solarspeed.net> 3.20110713BX105
- templates/rpmdefs.tmpl updated to set shot_open_tag = On in /etc/php.ini
- Updated version info in glue/Makefile and added support for RHEL6 as well.

* Sat Jun 25 2011 Michael Stauber <mstauber@solarspeed.net> 3.20110625BX104
- Small buxfix in glue/Makefile to better catch OS version number on SL

* Sat Jun 25 2011 Michael Stauber <mstauber@solarspeed.net> 3.20110625BX103
- Update to glue/Makefile to better catch OS version number on SL

* Sat Jun 25 2011 Michael Stauber <mstauber@solarspeed.net> 3.20110625BX102
- Updated build for 5107R

* Wed Jun 15 2011 Michael Stauber <mstauber@solarspeed.net> 2.20110615BX101
- Removed alias removal from sendmail trigger in templates/rpmdefs.tmpl again. Not needed there as scripts/initSendmail.sh will take care of it anyway.
- Cleaned up glue post-install scripts as they were throwing errors on RPM updates.

* Wed May 25 2011 Christoph Schneeberger <cschnee@telemedia.ch> 2.20110512BX100
- Added fix for unwanted aliases to base-blueonyx.mod/templates/rpmdefs.tmpl in sendmail trigger. 
- Added same fix to base-blueonyx.mod/glue/scripts/initSendmail.sh
- Both remove news, marketing, sales, webmaster and support as alias for root and change nobody to /dev/null (Majordomo rewrite hack)

* Sun Apr 24 2011 Michael Stauber <mstauber@solarspeed.net> 2.20110424BX100
- Added new sendmail.mc.mailman with provisions for Mailman
- Added new sendmail.mc.majordomo with provisions for Majordomo
- DNL'ed unresolveable_domains. 
- Modified glue/configs/sendmail/sendmail.mc to have no support for Mailman or Majordomo
- Updated glue/scripts/initSendmail.sh with provisions for Mailman and Majordomo

* Mon Mar 01 2010 Michael Stauber <mstauber@solarspeed.net> 2.20100301BQ99
- Included new sendmail.mc with provisions for maxRecipientsPerMessage and correct DontBlameSendmail lines
- Left a copy of the old sendmail.mc as glue/configs/sendmail/sendmail.mc.bxold in the SVN tree
- Updated glue/scripts/initSendmail.sh with provisions for the Solarspeed AV-SPAM
- Updated Sendmail trigger in templates/rpmdefs.tmpl

* Fri Jul 17 2009 Rickard Osser <rickard.osser@bluapp.com> 2.20090825BQ98
- Backed out bgui.mc.

* Fri Jul 17 2009 Rickard Osser <rickard.osser@bluapp.com> 2.20090717BQ97
- Added bgui.mc for sendmail configuration.

* Sun Jul 12 2009 Michael Stauber <mstauber@solarspeed.net> 2.20090712BQ96
- Added trigger for logrotate to switch logrotate.conf to compressed logs. Otherwise CentOS updates may throw it out again.
- Added fix for Logwatchs ignore.conf to ignore error message on Proftpd using virtualhost containers for single IP setups.

* Mon Apr 06 2009 Michael Stauber <mstauber@solarspeed.net> 2.20090405BQ95
- Forgot to bump version number in glue/Makefile to 20090405

* Mon Apr 06 2009 Michael Stauber <mstauber@solarspeed.net> 2.20090405BQ94
- Version number bump for CentOS-5.3 release
- Modified constructor/addPkg.pl to update build number in CODB in 'Installed Software List'

* Tue Dec 30 2008 Michael Stauber <mstauber@solarspeed.net> 2.20081230BQ93
- Pre-release version number bump to 20083012
- Updated rpmdefs.tmpl to fix /etc/logwatch/conf/ignore.conf inside VPS's.

* Wed Dec 10 2008 Michael Stauber <mstauber@solarspeed.net> 2.20081208BQ92
- /etc/php.ini was set to error_report notice. Bad idea!
- If you use Perl for search and replace, Perl must be a required dependency!

* Mon Dec 08 2008 Michael Stauber <mstauber@solarspeed.net> 2.20081208BQ91
- Set more sensible defaults for /etc/logrotate.conf

* Fri Dec 05 2008 Michael Stauber <mstauber@solarspeed.net> 2.20081205BQ90
- Moved and extended the Obsolete tag for more seamless upgrades.

* Wed Dec 03 2008 Michael Stauber <mstauber@solarspeed.net> 2.20081203BQ89
. Rebuilt for BlueOnyx.

* Fri Nov 14 2008 Michael Stauber <mstauber@solarspeed.net> 2.20081113BQ88
- Added provisions to set ServerTokens in httpd.conf to ProductOnly.

* Thu Nov 13 2008 Michael Stauber <mstauber@solarspeed.net> 2.20081113BQ87
- Added missing glue/triggers/iptables/iptables-CentOS5.init 
- Added missing glue/triggers/initscripts/ifup-CentOS5

* Thu Nov 13 2008 Michael Stauber <mstauber@solarspeed.net> 2.20081113BQ86
- Fixed Triggers for CentOS5
- Updated glue/scripts/pwdb2shadow.sh to fix SASLAUTHd config upon conversion.

* Wed Nov 12 2008 Michael Stauber <mstauber@solarspeed.net> 2.20081110BQ85
- Added NUSOL GPG pubkey. Does not yet fully replace the BlueQuartz key.

* Mon Nov 10 2008 Michael Stauber <mstauber@solarspeed.net> 2.20081110BQ84
- Merged 5100R changes to 5106R codebase.
 
* Thu Oct 23 2008 Hisao SHIBUYA <shibuya@bluequartz.org> 2.20080820BQ83
- Fixed triggerun for sendmail. Missing 'then' on line 8

* Tue Aug 26 2008 Brian Smith <brian@nuonce.net> 2.20080820BQ82
- Fixed initSendmail.sh file.  Missing 'then' on line 9

* Wed Aug 20 2008 Hisao SHIBUYA <shibuya@bluequartz.org> 2.20080820BQ81
- modified configration files for pwdb to shadow.
- migrate from pwdb to shadow.

* Mon Jan 28 2008 Hisao SHIBUYA <shibuya@bluequartz.org> 1.20080128BQ80
- requires base-time-capstone >= 1.0.1-62BQ11 for triggerin.

* Sun Jan 27 2008 Hisao SHIBUYA <shibuya@bluequartz.org> 1.20081227BQ79
- add triggerin to sync TimeZone.

* Sun Jan 27 2008 Hisao SHIBUYA <shibuya@bluequartz.org> 1.20080127BQ78
- add GPL and Sun BSD license files.

* Mon Dec 10 2007 Hisao SHIBUYA <shibuya@bluequartz.org> 1.20071210BQ77
- fix to import multiple key file.

* Mon Dec 10 2007 Hisao SHIBUYA <shibuya@bluequartz.org> 1.20071210BQ76
- add pgp key file and install

* Thu Oct 12 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.20061012BQ75
- fixed capability issue on dnsAdmin.

* Mon Sep 18 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.20060918BQ74
- move trigger settings to glue package instead of capstone.

* Sat Sep 09 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.20060909BQ73
- change date for release.

* Mon Aug 28 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.20060828BQ72
- modified sendmail.mc to be commented out some settings.

* Thu Aug 17 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.20060815BQ71
- glue package requires base-email-capstone.

* Mon Aug 14 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.20060815BQ70
- Added trigger for sendmail to copy popauth.m4.

* Thu Aug 10 2006 Brian N. Smith <brian@nuonce.net> 1.20060618BQ69
- Removed "-t" from sendmail.mc line: FEATURE(local_procmail.  Would leave emails stranded in Mail Queue.
- Added blackwholes into sendmail.mc.  They are commented out, but have directions on how to set them up

* Sat Jun 17 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.20060618BQ68
- add smtp.sendmail for pam configuration file for trigger.

* Sat Jun 17 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.20060618BQ67
- add trigger for dovecot to initialize dovecot.conf.

* Sat Jun 17 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.20060618BQ66
- modify trigger scripts to restart sendmail after copying aliases file.

* Sat Jun 17 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.20060618BQ65
- modify trigger scripts to make db file after copying aliases file.

* Sat Jun 17 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.20060618BQ64
- modify initSendmail.sh to make db file after copying aliases file.

* Sat Jun 17 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.20060618BQ63
- modify initSendmail.sh to use aliases.rpmsave, if it is exist.

* Sat Jun 17 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.20060617BQ62
- add triggerin for sendmail to check /etc/mail/aliases

* Sat Jun 17 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.20060617BQ61
- add triggerpostun for sendmail to check /etc/mail/aliases

* Thu Jun 15 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.20060615BQ60
- add initProcmail.sh and initialize procmail and sendmail, if updating is not finished for update.
- modify yum config to remove sendmail, procmail and imap from exclude list.

* Mon Jun 12 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.20060612BQ59
- clean up gtriggerin section.

* Mon Jun 12 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.20060612BQ58
- to make /etc/sysconfig/saslauthd, if it is not exist.

* Sun Jun 11 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.20060611BQ57
- add trigger for ifup to support static route.

* Sun Jun 11 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.20060611BQ56
- modify sendmail.mc to remove uncorrect strings.
- use pam for saslauthd instead of shadow.

* Sat Jun 10 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.20060610BQ55
- modify sendmail.mc to support SMTP Auth.

* Tue May 30 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.20060530BQ54
- modify sendmail.mc to support SMTP Auth, submission port and smtps.

* Fri May 05 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.20060505BQ53
- add triggers for iptables.

* Sun Mar 26 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.20060401BQ52
- modify yum settings to add sendmail and procmail in exclude option.

* Sat Mar 25 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.20060401BQ51
- modify updateSystem.pl to change version numver to 1.

* Sat Mar 25 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.20060401BQ50
- modify addPkg.pl for constructor to change version numver to 1.

* Sat Mar 25 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.20060401BQ49
- remove run once scripts for sendmail and procmail.
- modify sendmail.mc to change place of status file in /var/log/mail.
- change version number to 1 for 1.0 release.

* Tue Mar 14 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 0.20060314BQ48
- modify triggerin for mod_ssl.

* Tue Mar 14 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 0.20060314BQ47
- modify triggerin for httpd to execute initHttpd.sh.

* Tue Mar 14 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 0.20060314BQ46
- add initNamed.sh to fix permission and add symlink by Brian.
- make /etc/locks directory for CMU by Brian.
- add initPam.sh to allow passwords to be changed by 'passwd' command by Brian.
- modify initSendmail.sh to touch /etc/mail/statistics by Brian.

* Mon Mar 13 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 0.20060313BQ45
- modify initSendmail.sh to touch /etc/mail/virthosts.

* Mon Mar 06 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 0.20060306BQ44
- add webalizer config for fc1.

* Sun Mar 05 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 0.20060305BQ43
- modify triggers CentOS-Base.rep for CentOS4.
- add yum.conf for CentOS3 and FC1.

* Sat Mar 04 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 0.20060304BQ42
- add triggerin for httpd to remove logrotate config.

* Sat Mar 04 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 0.20060304BQ41
- add triggerins for centos-yumconf, sysklogd and wenalizer.
- add initProamail.sh and initSendmail.sh for run once.

* Thu Mar 02 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 0.20060302BQ40
- add runonce script and directory.
- move scripts in post to run once.

* Sun Jan 15 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 0.20060115BQ39
- build for new release.

* Sat Dec 24 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 0.20051216BQ38
- modified index.html to redirect admserv page.

* Fri Dec 16 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 0.20051216BQ37
- fixed Makefile typo.

* Fri Dec 16 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 0.20051216BQ36
- support CentOS4 alpha as 5105R.

* Tue Nov 29 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 0.20051130BQ35
- rebuild with devel-tools 0.5.1-0BQ7.

* Wed Nov 02 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 0.20051101BQ34
- add swatch to Requires.

* Tue Nov 01 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 0.20051101BQ33
- remove error pages.

* Mon Oct 31 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 0.20051031BQ32
- add error pages for Server document root.

* Thu Oct 20 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 0.20051020BQ31
- modified enableQuota.sh

* Tue Oct 18 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 0.20051018BQ30
- rebuild with devel-tools 0.5.1

* Thu Aug 18 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 0.20050818BQ29
- modified updateSystem.pl to update 'productName'.

* Mon Aug 15 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 0.20050815BQ28
- modified Group tag.

* Fri Aug 12 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 0.20050812BQ27
- modified Group tag in rpmdefs.tmpl.

* Fri Aug 12 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 0.20050812BQ26
- add serial number.

* Thu Aug 11 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 0.20050812BQ25
- clean up spec file.
<end $CHANGELOG>
