# configuration bits for mod_rpmize
# syntax:
# <begin [x]section>
# <end [x]section>
#
# x an be $ for a string or % for a hash.
# if a hash is being used, you can add sub-sections with
# <begin sub-section>
# <end sub-section>


<begin $DESCRIPTION>
%package [LABEL]
Group: System Environment/BlueOnyx
Summary: [LABEL] for [VENDOR]-[SERVICE].
[AUTOFILL]
[BUILDARCH]
[PROVIDES]
Requires: proftpd

%description [LABEL]
The [VENDOR]-[SERVICE]-[LABEL] package contains the [LABEL]
information for [VENDOR]-[SERVICE].

<end $DESCRIPTION>

<begin %PREP>
<end %PREP>

<begin %SETUP>
<end %SETUP>

<begin %BUILD>
<end %BUILD>

<begin %INSTALL>
<end %INSTALL>

<begin %FILES>
<begin HEADER>
%files [LABEL]
%defattr(-,root,root)
<end HEADER>

<begin locale>
[AUTOFILL]

<end locale>

<begin glue>
[AUTOFILL]
/usr/sausalito/bin/addIdentLookups.pl
%attr(0755,-,-) /usr/sausalito/sbin/ftpaccess.pl
%attr(0755,-,-) /usr/sausalito/sbin/fixproftpd_conf.pl
%attr(0755,-,-) /usr/sausalito/sbin/fixproftpds_conf.pl

<end glue>

<begin ui>
[AUTOFILL]

<end ui>

<begin capstone>
%{RootDir}/capstone/%{Vendor}-%{Service}.cap
[AUTOFILL]

<end capstone>
<end %FILES>

<begin %POST-INSTALL>
<begin HEADER>
%post [LABEL]
<end HEADER>

<begin glue>
# glue post-install

# Restart CCEd: 
if [ -d "/usr/sausalito/yumcce" ];then 
  touch /usr/sausalito/yumcce/restart
fi 

# Disabled for now. Reactivate on config changes:
#
#if [ $1 = 2 ]; then
#    /bin/cp /etc/proftpd.conf /etc/proftpd.conf.bqold
#    /usr/sausalito/bin/addIdentLookups.pl
#
#	# Replace the onboard proftpd.conf with proftpd.conf.dist:
#	/bin/cat /etc/proftpd.conf.dist > /etc/proftpd.conf
#	/bin/cat /etc/proftpds.conf.dist > /etc/proftpds.conf
#	# Re-add the now missing VirtualHost containers - but only do so
#	# if a previous proftpd was already installed. Because then it was
#	# an upgrade, not a first install:
#	if [ -f /etc/proftpd.conf.bqold ]; then
#	    /usr/sausalito/sbin/fixproftpd_conf.pl >> /etc/proftpd.conf
#	    /usr/sausalito/sbin/fixproftpds_conf.pl >> /etc/proftpds.conf
#	    # Restart of xinetd:
#	    /sbin/service xinetd restart
#	fi
#fi

<end glue>
<begin ui>
# ui post-install
# this is somewhat nasty, but it always makes sure that there's a
# default .html file in case the browser doesn't specify a locale
if [ x"[DEFLOCALE]" != x ]; then
	for dir in `find [CCEWEB] -type d`; do 
		(cd $dir; 
		if [ x"`ls *.htm[l].[DEFLOCALE] 2> /dev/null`" != x ]; then
			for file in `ls *.htm[l].[DEFLOCALE]`; do
				base=`basename $file .[DEFLOCALE]`
				if [ ! -f $base ]; then
					ln -s $file $base
 				fi
			done
		fi)
	done
fi

<end ui>
<begin locale>
# locale post-install

<end locale>
<end %POST-INSTALL>

<begin %POST-UNINSTALL>
<begin HEADER>
%postun [LABEL]
<end HEADER>

<begin glue>
# glue post-uninstall

<end glue>
<begin ui>
# ui post-uninstall

<end ui>
<begin locale>
# locale post-uninstall

<end locale>
<end %POST-UNINSTALL>

<begin $CHANGELOG>

* Thu Jun 16 2016 Michael Stauber <mstauber@solarspeed.net> 1.3.1-0BX14
- Modified constructor/syncFTP.pl to make restarts conditional.

* Mon Mar 21 2016 Michael Stauber <mstauber@solarspeed.net> 1.3.1-0BX13
- Updated Italian locales added as provided by Simone Capra.

* Wed Feb 04 2015 Michael Stauber <mstauber@solarspeed.net> 1.3.1-0BX12
- Modified glue/handlers/user_ftp_access.pl to exit early if user is an
  adminUser. Otherwise server administrators don't get created.

* Sun Jan 25 2015 Michael Stauber <mstauber@solarspeed.net> 1.3.1-0BX11
- Modified glue/handlers/user_ftp_access.pl to exit early if user is
  systemAdministrator. Otherwise user 'admin' doesn't get created on
  first run of constructor that should create him.

* Wed Jan 21 2015 Michael Stauber <mstauber@solarspeed.net> 1.3.1-0BX10
- Modified glue/conf/ftp.conf to make sure the .ftpaccess is created or
  removed on User creation, too.

* Thu Dec 04 2014 Michael Stauber <mstauber@solarspeed.net> 1.3.1-0BX09
- Some Systemd love in post-install.

* Sat Nov 01 2014 Michael Stauber <mstauber@solarspeed.net> 1.3.1-0BX08
- Modified constructor/syncFTP.pl to no longer replace the <GLOBAL> block.
- Some cleanup in glue/handlers/config_ftp_site.pl

* Thu Oct 30 2014 Michael Stauber <mstauber@solarspeed.net> 1.3.1-0BX07
- Added provisions for separate proftpds.conf for TLS/SSL.

* Fri Jul 11 2014 Michael Stauber <mstauber@solarspeed.net> 1.3.1-0BX06
- Chorizo GUI added, old GUI disabled.

* Thu Apr 17 2014 Michael Stauber <mstauber@solarspeed.net> 1.3.1-0BX05
- Changed ACL in ui/menu/vsite_ftp.xml to 'siteAdmin'.

* Thu Apr 17 2014 Michael Stauber <mstauber@solarspeed.net> 1.3.1-0BX04
- Small retouches in glue/handlers/ftpnonsideadmin.pl to add debug output.
- Added improved French translation as provided by Meaulnes Legler.
- Added improved Japanese translation as provided by Hiroyuki Sasahide.

* Thu Feb 06 2014 Michael Stauber <mstauber@solarspeed.net> 1.3.1-0BX03
- Modified glue/handlers/config_ftp_site.pl and glue/sbin/fixproftpd_conf.pl
  to remove redundant config options and to remove the port 990 reference
  from the VirtualHost container. Otherwise ProFTPd fails auth on servers
  with more than one IP address.
- Added provisions to post-install to reinstate a fixed conf on RPM updates.

* Sat Jan 25 2014 Michael Stauber <mstauber@solarspeed.net> 1.3.1-0BX02
- It is actually called FTP over SSL/TLS and not SFTP. SFTP is done via SSH.
  Now if we add a functionality, we better name it correctly to avoid 
  confusion. Updated all locale files to change the label and description.

* Sat Jan 25 2014 Michael Stauber <mstauber@solarspeed.net> 1.3.1-0BX01
- Added better SFTP support.
- Modified glue/sbin/fixproftpd_conf.pl
- Modified glue/handlers/config_ftp_site.pl
- Modified glue/handlers/system.pl
- Modified glue/schemas/ftp.schema
- Modified ui/web/ftp.php and ui/web/ftpHandler.php
- Extended locales with new locale strings for the addition.

* Sat Dec 14 2013 Michael Stauber <mstauber@solarspeed.net> 1.3.0-0BX06
- Merged in locales for the Netherlands ('nl_NL').

* Tue Dec 10 2013 Michael Stauber <mstauber@solarspeed.net> 1.3.0-0BX05
- Fixed ui/web/vsiteFtp.php to allow resellers to save changes, too. This time for real.

* Tue Dec 10 2013 Michael Stauber <mstauber@solarspeed.net> 1.3.0-0BX04
- Renaming of 'siteFtp' to 'anonFtp' wasn't the smartest of ideas, as it might break ability for straight upgrades.
- Fixed ui/extensions/AnonFtp.php.defaults.Vsite
- Fixed ui/extensions/00_FTPNONADMIN.php.create.Vsite
- Fixed ui/extensions/21_FTPNONADMIN.php.modify.FTP
- Fixed ui/extensions/21_FTPNONADMIN.php.defaults.Vsite
- Fixed ui/extensions/10_AnonFtp.php.create.Vsite
- Fixed ui/menu/vsite_ftp.xml
- Fixed ui/web/vsiteFtp.php to allow resellers to save changes, too.

* Mon Dec 09 2013 Michael Stauber <mstauber@solarspeed.net> 1.3.0-0BX03
- glue/schemas/ftp.schema failed validation. Fixed.

* Mon Dec 09 2013 Michael Stauber <mstauber@solarspeed.net> 1.3.0-0BX02
- ACL update in glue/schemas/ftp.schema as it was preventing that adminUsers could create Vsite objects.

* Thu Dec 05 2013 Michael Stauber <mstauber@solarspeed.net> 1.3.0-0BX01
- Preparational build for 5207R/5208R. Doesn't include new GUI yet.
- Merged in new locales from 5207R ("es_ES", "fr_FR", "it_IT", "pt_PT").
- Dropped all two character locales.
- Converted "ja_JP" from EUC-JP to UTF-8.

* Mon Aug 27 2012 Michael Stauber <mstauber@solarspeed.net> 1.2.0-77BX29
- Fixed ui/extensions/21_FTPNONADMIN.php.modify.FTP and ui/extensions/10_AnonFtp.php.create.Vsite
  Both still had include() statements instead of include_once()

* Mon May 14 2012 Michael Stauber <mstauber@solarspeed.net> 1.2.0-77BX28
- Modified glue/sbin/fixproftpd_conf.pl to exclude localhost from container creation.

* Tue Mar 20 2012 Michael Stauber <mstauber@solarspeed.net> 1.2.0-77BX27
- Converted locale encoding from UTF-8 to ISO-8859-1.

* Tue Jun 08 2010 Michael Stauber <mstauber@blueonyx.it> 1.2.0-77BX26
- Small PHP-5.3 related fix

* Sat Jun 05 2010 Michael Stauber <mstauber@blueonyx.it> 1.2.0-77BX25
- Copied 'en' locales to 'en_US'

* Wed Mar  3 2010 Rickard Osser <rickard.osser@bluapp.com> 1.2.0-77BQ24
- Force IdentLookups off into the <Global> section as this solves the slow ftp problem.

* Fri Aug 07 2009 Michael Stauber <mstauber@solarspeed.net> 1.2.0-77BQ23
- Added glue/sbin/fixproftpd_conf.pl

* Tue Jan 13 2009 Michael Stauber <mstauber@solarspeed.net> 1.2.0-77BQ22
- Updated constructor/syncFTP.pl to address slow FTP logins behind firewalls.
- See: "[BlueOnyx:00144] SLOW FTP  -- a partial solution"
- Or: http://www.wains.be/index.php/2006/01/24/slow-logins-under-proftpd-using-xinetd/

* Sun Dec 21 2008 Michael Stauber <mstauber@solarspeed.net> 1.2.0-77BQ21
- Modified glue/handlers/config_ftp_site.pl to make /web standard login directory.

* Wed Dec 03 2008 Michael Stauber <mstauber@solarspeed.net> 1.2.0-77BQ20
- Rebuilt for BlueOnyx.

* Fri Jun 06 2008 Michael Stauber <mstauber@solarspeed.net> 1.2.0-77BQ19
- AnonFtp.php.defaults.Vsite fixed for 5106R

* Wed Jun 03 2008 Michael Stauber <mstauber@solarspeed.net> 1.2.0-77BQ18
- FTP for non-siteadmins disabled by default.

* Tue May 13 2008 Michael Stauber <mstauber@solarspeed.net> 1.2.0-77BQ17
- Ability added to disable FTP for non-siteadmins.

* Sun Jan 27 2008 Michael Stauber <mstauber@solarspeed.net> 1.2.0-77BQ16
- German locales added.

* Tue Jan 22 2008 Michael Stauber <mstauber@solarspeed.net> 1.2.0-77BQ15
- Danish locales added. Thanks to Jes Klittum!

* Mon Jun 25 2007 Hisao SHIBUYA <shibuya@bluequartz.org> 1.2.0-77BQ14
- Fixed duplicate include issue.

* Sun Jul 02 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.2.0-77BQ13
- backup proftpd.conf as .bqold before executing addIdentLookups.pl.

* Thu Jun 22 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.2.0-77BQ12
- modify system.pl handler not to write IdentLookups tag and add addIdentLookups.pl to add IdentLookups into Global section.

* Sun Jun 11 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.2.0-77BQ11
- add reverse DNS function.

* Tue Nov 29 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.2.0-77BQ10
- rebuild with devel-tools 0.5.1-0BQ7.

* Tue Oct 18 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.2.0-77BQ9
- rebuild with devel-tools 0.5.1

* Fri Aug 12 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.2.0-77BQ8
- clean up spec file.
<end $CHANGELOG>
