# configuration bits for mod_rpmize
# syntax:
# <begin [x]section>
# <end [x]section>
#
# x an be $ for a string or % for a hash.
# if a hash is being used, you can add sub-sections with
# <begin sub-section>
# <end sub-section>


<begin $DESCRIPTION>
%package [LABEL]
Group: System Environment/BlueOnyx
Summary: [LABEL] for [VENDOR]-[SERVICE].
[AUTOFILL]
[BUILDARCH]

%description [LABEL]
The [VENDOR]-[SERVICE]-[LABEL] package contains the [LABEL]
information for [VENDOR]-[SERVICE].

<end $DESCRIPTION>

<begin %INSTALL>
<begin glue>
mkdir -p $RPM_BUILD_ROOT/etc/rc.d/rc3.d
mkdir -p $RPM_BUILD_ROOT/etc/cobalt/whitebox.d
chmod -R 700 $RPM_BUILD_ROOT/etc/cobalt/whitebox.d
#chmod -R 755 $RPM_BUILD_ROOT/etc/rc.d/init.d/*
#ln -s ../init.d/quota $RPM_BUILD_ROOT/etc/rc.d/rc3.d/S05quota

<end glue>
<end %INSTALL>

<begin %FILES>
<begin HEADER>
%files [LABEL]
%defattr(-,root,root)
<end HEADER>

<begin locale>
[AUTOFILL]

<end locale>

<begin glue>
%attr(700,root,root) /usr/local/sbin/sysreset
%attr(700,root,root) /usr/sausalito/sbin/whitebox.pl
#%config /etc/rc.d/init.d/*
%config /etc/pam.d/*
#%config /etc/rc.d/rc3.d/S05quota
%dir /etc/cobalt/whitebox.d
# %config /etc/cobalt/whitebox.d/*

<end glue>

<begin ui>
[AUTOFILL]

<end ui>

<begin capstone>
%{RootDir}/capstone/%{Vendor}-%{Service}.cap
[AUTOFILL]

<end capstone>
<end %FILES>

<begin %POST-INSTALL>
<begin HEADER>
%post [LABEL]
<end HEADER>

<begin glue>
# glue post-install

<end glue>
<begin ui>
# ui post-install

<end ui>
<begin locale>
# locale post-install

<end locale>
<end %POST-INSTALL>

<begin %POST-UNINSTALL>
<begin HEADER>
%postun [LABEL]
<end HEADER>

<begin glue>
# glue post-uninstall

<end glue>
<begin ui>
# ui post-uninstall

<end ui>
<begin locale>
# locale post-uninstall

<end locale>
<end %POST-UNINSTALL>

<begin $CHANGELOG>

* Fri Jun 04 2010 Michael Stauber <mstauber@solarspeed.net> 1.1.0-122BX11
- Version number bump

* Wed Dec 03 2008 Michael Stauber <mstauber@solarspeed.net> 1.1.0-122BQ10
- Rebuilt for BlueOnyx.

* Sun Jan 27 2008 Michael Stauber <mstauber@solarspeed.net> 1.1.0-122BQ9
- German locales added.

* Tue Jan 22 2008 Michael Stauber <mstauber@solarspeed.net> 1.1.0-122BQ8
- Danish locales added. Thanks to Jes Klittum!

* Mon Jun 25 2007 Hisao SHIBUYA <shibuya@bluequartz.org> 1.1.0-122BQ7
- Fixed duplicate include issue.

* Tue Nov 29 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.1.0-122BQ6
- rebuild with devel-tools 0.5.1-0BQ7.

* Tue Oct 18 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.1.0-122BQ5
- rebuild with devel-tools 0.5.1

* Fri Aug 12 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.1.0-122BQ4
- clean up spec file.
<end $CHANGELOG>
