# configuration bits for mod_rpmize
# syntax:
# <begin [x]section>
# <end [x]section>
#
# x an be $ for a string or % for a hash.
# if a hash is being used, you can add sub-sections with
# <begin sub-section>
# <end sub-section>


<begin $DESCRIPTION>
%package [LABEL]
Group: System Environment/BlueOnyx
Summary: [LABEL] for [VENDOR]-[SERVICE].
[AUTOFILL]
[BUILDARCH]
[PROVIDES]

%description [LABEL]
The [VENDOR]-[SERVICE]-[LABEL] package contains the [LABEL]
information for [VENDOR]-[SERVICE].

<end $DESCRIPTION>

<begin %PREP>
<end %PREP>

<begin %SETUP>
<end %SETUP>

<begin %BUILD>
<end %BUILD>

<begin %INSTALL>
<end %INSTALL>

<begin %FILES>
<begin HEADER>
%files [LABEL]
%defattr(-,root,root)
<end HEADER>

<begin locale>
[AUTOFILL]

<end locale>

<begin glue>
[AUTOFILL]

<end glue>

<begin ui>
[AUTOFILL]

<end ui>

<begin capstone>
%{RootDir}/capstone/%{Vendor}-%{Service}.cap
[AUTOFILL]

<end capstone>
<end %FILES>

<begin %POST-INSTALL>
<begin HEADER>
%post [LABEL]
<end HEADER>

<begin glue>
# glue post-install

<end glue>
<begin ui>
# ui post-install
# this is somewhat nasty, but it always makes sure that there's a
# default .html file in case the browser doesn't specify a locale
if [ x"[DEFLOCALE]" != x ]; then
	for dir in `find [CCEWEB] -type d`; do 
		(cd $dir; 
		if [ x"`ls *.htm[l].[DEFLOCALE] 2> /dev/null`" != x ]; then
			for file in `ls *.htm[l].[DEFLOCALE]`; do
				base=`basename $file .[DEFLOCALE]`
				if [ ! -f $base ]; then
					ln -s $file $base
 				fi
			done
		fi)
	done
fi

<end ui>
<begin locale>
# locale post-install

<end locale>
<end %POST-INSTALL>

<begin %POST-UNINSTALL>
<begin HEADER>
%postun [LABEL]
<end HEADER>

<begin glue>
# glue post-uninstall

<end glue>
<begin ui>
# ui post-uninstall

<end ui>
<begin locale>
# locale post-uninstall

<end locale>
<end %POST-UNINSTALL>

<begin $CHANGELOG>

* Sat Dec 14 2013 Michael Stauber <mstauber@solarspeed.net> 1.1-0BX02
- Merged in locales for the Netherlands ('nl_NL').

* Fri Dec 06 2013 Michael Stauber <mstauber@solarspeed.net> 1.1-0BX01
- Preparational build for 5207R/5208R. Doesn't include new GUI yet.
- Merged in new locales from 5207R ("es_ES", "fr_FR", "it_IT", "pt_PT").
- Dropped all two character locales.
- Converted "ja_JP" from EUC-JP to UTF-8.
- New Capabilities for admin.

* Mon Dec 17 2012 Michael Stauber <mstauber@solarspeed.net> 1.0-19BX12
- Changed various include() calls to include_once()

* Tue Mar 20 2012 Michael Stauber <mstauber@solarspeed.net> 1.0-19BX11
- Converted locale encoding from UTF-8 to ISO-8859-1.

* Sun Jun 06 2010 Michael Stauber <mstauber@solarspeed.net> 1.0-19BX10
- Fixed 'Assigning the return value of new by reference is deprecated' issue in ui/web/shellAccess.php and ui/web/vsiteShell.php
- Remaining issue: Save button doesn't work.

* Sat Jun 05 2010 Michael Stauber <mstauber@solarspeed.net> 1.0-19BX09
- Copied 'en' locales to 'en_US'

* Thu Jun 03 2010 Michael Stauber <mstauber@solarspeed.net> 1.0-19BX08
- Version number bump for consistency

* Wed Dec 03 2008 Michael Stauber <mstauber@solarspeed.net> 1.0-19BQ7
- Rebuilt for BlueOnyx.

* Sun Jan 27 2008 Michael Stauber <mstauber@solarspeed.net> 1.0-19BQ6
- German locales added.

* Tue Jan 22 2008 Michael Stauber <mstauber@solarspeed.net> 1.0-19BQ5
- Danish locales added. Thanks to Jes Klittum!

* Tue Nov 29 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.0-19BQ4
- rebuild with devel-tools 0.5.1-0BQ7.

* Tue Oct 18 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.0-19BQ3
- rebuild with devel-tools 0.5.1

* Fri Aug 12 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.0-19BQ2
- clean up spec file.
- fix security problem that can be accessed unauthorized function.
<end $CHANGELOG>
