# configuration bits for mod_rpmize
# syntax:
# <begin [x]section>
# <end [x]section>
#
# x an be $ for a string or % for a hash.
# if a hash is being used, you can add sub-sections with
# <begin sub-section>
# <end sub-section>


<begin $DESCRIPTION>
%package [LABEL]
Group: System Environment/BlueOnyx
Summary: [LABEL] for [VENDOR]-[SERVICE].
[AUTOFILL]
[BUILDARCH]

%description [LABEL]
The [VENDOR]-[SERVICE]-[LABEL] package contains the [LABEL]
information for [VENDOR]-[SERVICE].

<end $DESCRIPTION>

<begin %PREP>
<end %PREP>

<begin %SETUP>
<end %SETUP>

<begin %BUILD>
<end %BUILD>

<begin %INSTALL>
<end %INSTALL>

<begin %FILES>
<begin HEADER>
%files [LABEL]
%defattr(-,root,root)
<end HEADER>

<begin locale>
[AUTOFILL]

<end locale>

<begin glue>
[AUTOFILL]
<end glue>

<begin ui>
[AUTOFILL]

<end ui>

<begin capstone>
%{RootDir}/capstone/%{Vendor}-%{Service}.cap
[AUTOFILL]

<end capstone>
<end %FILES>

<begin %POST-INSTALL>
<begin HEADER>
%post [LABEL]
<end HEADER>
<begin capstone>
# capstone post-install

ADMINCONFIG="/etc/phpMyAdmin/config.inc.php"

AUTH_TYPE=`grep auth_type $ADMINCONFIG | grep signon`
if [ "$AUTH_TYPE" ] ; then
    chmod 644 $ADMINCONFIG
    exit 0
else
    cat /etc/phpMyAdmin/config.inc.php|	sed "s/\['auth_type'\]     = 'http';/\['auth_type'\]     = 'signon';\n\$cfg\['Servers'\]\[\$i\]\['SignonSession'\] = 'SignonSession';\n\$cfg\['Servers'\]\[\$i\]\['SignonURL'\]     = '\/base\/phpmyadmin\/index.php';\n\/\/ \$cfg\['Servers'\]\[\$i\]\['auth_type'\]     = 'http';/g" > $ADMINCONFIG.new
    mv $ADMINCONFIG.new $ADMINCONFIG
    chmod 644 $ADMINCONFIG
fi
<end capstone>
<begin glue>
# glue post-install

#if [ -S /usr/sausalito/cced.socket ]; then
#    /etc/init.d/cced.init restart
#fi

<end glue>
<begin ui>
# ui post-install

<end ui>
<begin locale>
# locale post-install

<end locale>
<end %POST-INSTALL>

<begin %POST-UNINSTALL>
<begin HEADER>
%postun [LABEL]
<end HEADER>

<begin glue>
# glue post-uninstall

<end glue>
<begin ui>
# ui post-uninstall

<end ui>
<begin locale>
# locale post-uninstall

<end locale>
<end %POST-UNINSTALL>

<begin $CHANGELOG>
* Sat Jun 05 2010 Michael Stauber <mstauber@solarspeed.net> 1.0.0-0BX10
- Copied 'en' locales to 'en_US'

* Sun Mar 08 2009 Michael Stauber <mstauber@solarspeed.net> 1.0.0-0BO09
- German locales updated for single signon.
- English locales copied to Danish and Japanese.

* Sun Mar 08 2009 Michael Stauber <mstauber@solarspeed.net> 1.0.0-0BO08
- Reworked single signon so it now automatically fills in login details of siteAdmin's.

* Wed Mar 04 2009 Rickard Osser <rickard.osser@bluapp.com> 1.0.0-0BO07
- Added script to patch /etc/phpMyAdmin/config.inc.php to support signon.
  It's implemented as a post-install script in the capstone package. It also
  checks if the auth_type is already set to signon.

* Wed Jan 28 2009 Rickard Osser <rickard.osser@bluapp.com> 1.0.0-0BO06
- Re-added automated logins for admin user, correctly implemented with single signon.
- Added signon page and check to the GUI.

* Mon Jan 12 2009 Michael Stauber <mstauber@solarspeed.net> 1.0.0-0BO05
- Removed automated logins for user admin as it makes IE cry.

* Tue Jan 06 2009 Michael Stauber <mstauber@solarspeed.net> 1.0.0-0BO04
- Added Rickard Osser's suggestion for automated logins for user admin.

* Sat Jan 02 2009 Michael Stauber <mstauber@solarspeed.net> 1.0.0-0BO03
- Added requirement for missing Japanese locales to force their install.

* Sat Jan 02 2009 Michael Stauber <mstauber@solarspeed.net> 1.0.0-0BO02
- Added stub for Japanese locales. Otherwise the locale defaults to German.

* Sun Dec 21 2008 Michael Stauber <mstauber@solarspeed.net> 1.0.0-0BO01
- German locales done.
- ui/phpmyadmin/index.php based on the one for base-squirrelmail.mod
- Requires phpMyAdmin - served out of the BlueOnyx repository. Oh boy. We're gonna regret this, as often as it updates.
- Initial build for BlueOnyx.

<end $CHANGELOG>
