[Unit]
Description=The PHP-7.8 FastCGI Process Manager
After=syslog.target network.target

[Service]
Type=notify
PIDFile=/run/php-fpm/php-fpm-7.8.pid
EnvironmentFile=/etc/sysconfig/php-fpm
ExecStart=/home/solarspeed/php-7.8/sbin/php-fpm --nodaemonize
ExecReload=/bin/kill -USR2 $MAINPID
PrivateTmp=true
Restart=on-failure

[Install]
WantedBy=multi-user.target

