[Unit]
Description=The PHP-5.5 FastCGI Process Manager
After=syslog.target network.target

[Service]
Type=notify
PIDFile=/run/php-fpm/php-fpm-5.5.pid
EnvironmentFile=/etc/sysconfig/php-fpm
ExecStart=/home/solarspeed/php-5.5/sbin/php-fpm --nodaemonize
ExecReload=/bin/kill -USR2 $MAINPID
PrivateTmp=true
Restart=on-failure

[Install]
WantedBy=multi-user.target

