[Unit]
Description = Swatch - Service Watcher
After = network.service

[Service]
Type=oneshot
ExecStart=/usr/sausalito/sbin/swatch.sh
ExecStop=/usr/bin/true
ExecReload=/usr/sausalito/sbin/swatch.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

