# configuration bits for mod_rpmize
# syntax:
# <begin [x]section>
# <end [x]section>
#
# x an be $ for a string or % for a hash.
# if a hash is being used, you can add sub-sections with
# <begin sub-section>
# <end sub-section>


<begin $DESCRIPTION>
%package [LABEL]
Group: System Environment/BlueQuartz
Summary: [LABEL] for [VENDOR]-[SERVICE].
[AUTOFILL]
[BUILDARCH]
[PROVIDES]

%description [LABEL]
The [VENDOR]-[SERVICE]-[LABEL] package contains the [LABEL]
information for [VENDOR]-[SERVICE].

<end $DESCRIPTION>

<begin %PREP>
<end %PREP>

<begin %SETUP>
<end %SETUP>

<begin %BUILD>
<end %BUILD>

<begin %INSTALL>
<begin ui>
mkdir -p $RPM_BUILD_ROOT/%{RootDir}/ui/web/%{Vendor}/%{Service}/img
<end ui>
<end %INSTALL>

<begin %FILES>
<begin HEADER>
%files [LABEL]
%defattr(-,root,root)
<end HEADER>

<begin locale>
[AUTOFILL]

<end locale>

<begin glue>
[AUTOFILL]

<end glue>

<begin ui>
%defattr(-,apache,root)
%dir /%{RootDir}/ui/web/%{Vendor}/%{Service}/img
[AUTOFILL]

<end ui>

<begin capstone>
%{RootDir}/capstone/%{Vendor}-%{Service}.cap
[AUTOFILL]

<end capstone>
<end %FILES>

<begin %POST-INSTALL>
<begin HEADER>
%post [LABEL]
<end HEADER>

<begin glue>
# glue post-install

<end glue>
<begin ui>
# ui post-install
# this is somewhat nasty, but it always makes sure that there's a
# default .html file in case the browser doesn't specify a locale
if [ x"[DEFLOCALE]" != x ]; then
	for dir in `find [CCEWEB] -type d`; do 
		(cd $dir; 
		if [ x"`ls *.htm[l].[DEFLOCALE] 2> /dev/null`" != x ]; then
			for file in `ls *.htm[l].[DEFLOCALE]`; do
				base=`basename $file .[DEFLOCALE]`
				if [ ! -f $base ]; then
					ln -s $file $base
 				fi
			done
		fi)
	done
fi
/bin/chown apache.root /%{RootDir}/ui/web/%{Vendor}/%{Service}/img

<end ui>
<begin locale>
# locale post-install

<end locale>
<end %POST-INSTALL>

<begin %POST-UNINSTALL>
<begin HEADER>
%postun [LABEL]
<end HEADER>

<begin glue>
# glue post-uninstall

<end glue>
<begin ui>
# ui post-uninstall

<end ui>
<begin locale>
# locale post-uninstall

<end locale>
<end %POST-UNINSTALL>

<begin $CHANGELOG>
* Wed Nov 19 2008 Michael Stauber <mstauber@solarspeed.net> 1.0-124BQ17
- Fixed array merge error in ui/web/reportHandler.php

* Tue Jun 03 2008 Michael Stauber <mstauber@solarspeed.net> 1.0-124BQ16
- reportForm.php fixed for 5106

* Sun Jan 27 2008 Michael Stauber <mstauber@solarspeed.net> 1.0-124BQ15
- German locales added.
- Danish locales updated. Thanks to Jes Klittum!

* Tue Jan 22 2008 Michael Stauber <mstauber@solarspeed.net> 1.0-124BQ14
- Danish locales added. Thanks to Jes Klittum!

* Sun Dec 16 2007 Brian N. Smith <brian@nuonce.net> 1.0-124BQ13 
- problem when extended stats are turned on in /etc/webalizer.conf : 
- The extended file links are not correctly translated for display in the gui 
- webalizer. 
- translate any local link (starting with ./) to an appropriate form for embedding in the gui like  
- the rest of webalizer output. 
- Fix provided by Steph  

* Mon Jun 25 2007 Hisao SHIBUYA <shibuya@bluequartz.org> 1.0-124BQ13
- Fixed duplicate include issue.

* Thu Aug 17 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.0-124BQ12
- ui package requires coreutils.

* Sun Dec 18 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.0-124BQ11
- modifed webalizer.php to fix capability issue siteuser can access the other site webalizer stats.

* Tue Nov 29 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.0-124BQ10
- rebuild with devel-tools 0.5.1-0BQ7.

* Tue Oct 18 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.0-124BQ9
- rebuild with devel-tools 0.5.1

* Tue Aug 16 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.0-124BQ8
- modified server_webalizer.xml to fix menu order.

* Fri Aug 12 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.0-124BQ7
- fix security problem that can be accessed unauthorized function.
- clean up spec file.
<end $CHANGELOG>
