[Unit]
Description=BlueOnyx - Setup Assistent
After=network.target remote-fs.target nss-lookup.target cced.init.service
Before=admserv.service netfs.service sendmail.service httpd.service sshd.service

[Service]
Type=oneshot

ExecStart=/usr/sausalito/sbin/bx_runonce.sh
ExecReload=/usr/sausalito/sbin/bx_runonce.sh
ExecStop=/usr/sausalito/sbin/bx_runonce.sh
RemainAfterExit=yes

# We send a SIGTERM signal right after the ExecStop, which will kill CCEd for sure. 
KillSignal=SIGTERM
PrivateTmp=true

[Install]
WantedBy=multi-user.target
Alias=blueonyx