[Package -- Version=1.0]
Vendor:                knox
VendorTag:             [[vendor]]
Name:                  arkeia
NameTag:               [[name]]
Location:              http://adrian1.cobalt.com/qube3/arkeia.pkg
Version:               4.2
Product:               4...WG
PackageType:           complete
Options:               uninstallable,refreshui,refreshcce
LongDesc:	       [[longDesc]]
ShortDesc:             [[shortDesc]]
Copyright:	       [[copyright]]
License:               [[license]]
Depend:                Cobalt:OS >= 6.0
[/Package]
