# configuration bits for mod_rpmize
# syntax:
# <begin [x]section>
# <end [x]section>
#
# x an be $ for a string or % for a hash.
# if a hash is being used, you can add sub-sections with
# <begin sub-section>
# <end sub-section>


<begin $DESCRIPTION>
%package [LABEL]
Group: System Environment/BlueOnyx
Summary: [LABEL] for [VENDOR]-[SERVICE].
[AUTOFILL]
[BUILDARCH]

%description [LABEL]
The [VENDOR]-[SERVICE]-[LABEL] package contains the [LABEL]
information for [VENDOR]-[SERVICE].

<end $DESCRIPTION>

<begin %PREP>
<end %PREP>

<begin %SETUP>
<end %SETUP>

<begin %BUILD>
<end %BUILD>

<begin %INSTALL>
<end %INSTALL>

<begin %FILES>
<begin HEADER>
%files [LABEL]
%defattr(-,root,root)
<end HEADER>

<begin locale>
[AUTOFILL]

<end locale>

<begin glue>
[AUTOFILL]

<end glue>

<begin ui>
[AUTOFILL]
%{RootDir}/ui/web/robots.txt
%{RootDir}/ui/web/libImage/*
%{RootDir}/ui/web/.adm/*
%{RootDir}/ui/web/.htaccess
%{RootDir}/ui/web/index.php
%config(noreplace) %{RootDir}/ui/web/.adm/styles/customer/customer.css
%{RootDir}/ui/chorizo/ci/*
/usr/share/doc/blueonyx-release-520XR/CHORIZO-readme.txt
%{RootDir}/ui/chorizo/ci/CHORIZO-readme.txt

<end ui>

<begin capstone>
%{RootDir}/capstone/%{Vendor}-%{Service}.cap
/etc/sysconfig/firstboot
[AUTOFILL]

<end capstone>
<end %FILES>

<begin %POST-INSTALL>
<begin HEADER>
%post [LABEL]
<end HEADER>

<begin capstone>
# capstone post-install
/usr/sausalito/constructor/base/alpine/12_handle_sl_repos.pl
<end capstone>

<begin glue>
# glue post-install 
<end glue>
<begin ui>
# ui post-install

<end ui>
<begin locale>
# locale post-install

<end locale>
<end %POST-INSTALL>

<begin %POST-UNINSTALL>
<begin HEADER>
%postun [LABEL]
<end HEADER>

<begin glue>
# glue post-uninstall

<end glue>
<begin ui>
# ui post-uninstall

# Set random number for $config['encryption_key'] in the CodeIgniter config:
RANDNUMA=`/usr/bin/od -vAn -N8 -tx8 < /dev/urandom | /bin/sed -e 's/^\s//'`;
RANDNUMB=`/usr/bin/od -vAn -N8 -tx8 < /dev/urandom | /bin/sed -e 's/^\s//'`;
/bin/sed -i -e "s/cf81d0da4acb2dbf276413111e8e4d48/$RANDNUMA$RANDNUMB/" /usr/sausalito/ui/chorizo/ci/application/config/config.php

<end ui>
<begin locale>
# locale post-uninstall

<end locale>
<end %POST-UNINSTALL>

<begin $CHANGELOG>

* Sun Jul 13 2014 Michael Stauber <mstauber@solarspeed.net> 1.0-1BX03
- Chorizo-fied base-alpine: This module now contains enough changes to
  warrant a complete name change. I resisted that urge. It now contains
  the CodeIgniter base-install and configuration, various modifications
  to CodeIgniter, the UIFC classes, helpers and libraries of Chorizo and
  some base modules such as the ones for /gui and /login.
- Added CHORIZO-readme.txt
- Added randomized encryption_key for ci/application/config/config.php

* Tue Apr 29 2014 Michael Stauber <mstauber@solarspeed.net> 1.0-1BX02
- Modified constructor/setup_capabilities.pl to add 'CapabilityGroup' 
  'reseller' for an extended reseller management.

* Sat Apr 26 2014 Michael Stauber <mstauber@solarspeed.net> 1.0-1BX01
- Major version number bump for 520XR.

* Fri Apr 04 2014 Michael Stauber <mstauber@solarspeed.net> 0.3-1BX05
- Modified web/login.php to use libPhp/BXBrowserLocale.php to properly
  detect the browser locale.

* Thu Apr 03 2014 Michael Stauber <mstauber@solarspeed.net> 0.3-1BX04
- Added improved Japanese translation as provided by Hiroyuki Sasahide.
- Modified web/login.php to hard wire charset to UTF-8.

* Sat Mar 22 2014 Michael Stauber <mstauber@solarspeed.net> 0.3-1BX03
- Modified constructor/setup_capabilities.pl to add ACL 'serverConfig'
  to 'menuServerSecurity'.
- Added improved French translation as provided by Meaulnes Legler.

* Wed Mar 12 2014 Michael Stauber <mstauber@solarspeed.net> 0.3-1BX02
- Modified constructor/setup_capabilities.pl to add ACL 'siteDNS' to admin.

* Tue Feb 25 2014 Michael Stauber <mstauber@solarspeed.net> 0.3-1BX01
- Major version number bump to tell this apart from the 510XR tree.

* Wed Feb 05 2014 Michael Stauber <mstauber@solarspeed.net> 0.2-1BX06
- Added cleaned up French translation as provided by Meaulnes Legler.

* Sat Dec 21 2013 Michael Stauber <mstauber@solarspeed.net> 0.2-1BX05
- Modified constructor/setup_capabilities.pl as our Capabilities for 
  'admin' have been shot six ways 'til Sunday. Added Capability group 
  'admin' that contains all the missing extra Capabilities that 'admin' 
  has. The whole Capabilities management for 5207R/5208R needed a full 
  overhaul anyway, as we can't haggle with Globals and assumptions. 
  Better to do it the right way and load 'admin' with really all 
  Capabilities that he should have instead of just waving him through.

* Sat Dec 15 2013 Michael Stauber <mstauber@solarspeed.net> 0.2-1BX04
- Merged in locales for the Netherlands ('nl_NL').
- Other non-English locales had the PO-headers missing. Fixed.

* Thu Dec 12 2013 Michael Stauber <mstauber@solarspeed.net> 0.2-1BX03
- Small fix to constructor/setup_capabilities.pl

* Sun Dec 08 2013 Michael Stauber <mstauber@solarspeed.net> 0.2-1BX02
- Various charset fixes.

* Tue Dec 03 2013 Michael Stauber <mstauber@solarspeed.net> 0.2-1BX01
- Preparational build for 5207R/5208R. Doesn't include new GUI yet.
- Platform strings still set to 5107R/5108R at this time.
- Cleaned out 'REQUIRED' list in Makefile.
- Merged in new locales from 5207R ("es_ES", "fr_FR", "it_IT", "pt_PT").
- Dropped all two character locales.
- Converted "ja_JP" from EUC-JP to UTF-8.
- Merged in new capabilities from Hisao Shibuya's 5200R code branch.
- Modified web/intro.html.ja from EUC-JP to UTF-8.

* Tue Aug 14 2012 Michael Stauber <mstauber@solarspeed.net> 0.1-85BX43
- Updated locale/de_DE/alpine.po as the German locales were claiming this to be 5106R.

* Mon Aug 13 2012 Michael Stauber <mstauber@solarspeed.net> 0.1-85BX42
- Added 12_handle_sl_repos.pl to switch sl-release YUM repository files from hard
  coded versions to 6x, which is the actual release. This is for more seamless 
  automated updates to the latest versions.

* Sat Mar 31 2012 Michael Stauber <mstauber@solarspeed.net> 0.1-85BX41
- Added dependencies for RPMs from YUM Group 'Japanese Support' to Makefile

* Tue Mar 20 2012 Michael Stauber <mstauber@solarspeed.net> 0.1-85BX40
- Converted locale encoding from UTF-8 to ISO-8859-1.

* Thu Aug 11 2011 Michael Stauber <mstauber@solarspeed.net> 0.1-85BX39
- Updated web/login.php to remove the doctype from first line. Must not be set here or we cannot redirect from inside the PHP script.

* Thu Aug 11 2011 Michael Stauber <mstauber@solarspeed.net> 0.1-85BX38
- Replaced web/login.php with Stephanie's fully xhtml transitional 1.0 compliant version.
- That should also fix the login problems on mobile devices, as we removed the Netscape onresize stuff.

* Thu Jul 28 2011 Michael Stauber <mstauber@solarspeed.net> 0.1-85BX37
- Added manuals/manual-en_US.pdf
- Updated locales for that purpose

* Fri Jun 04 2010 Michael Stauber <mstauber@solarspeed.net> 0.1-85BX36
- Copied 'en' locales to 'en_US'

* Fri Jun 04 2010 Michael Stauber <mstauber@solarspeed.net> 0.1-85BX35
- PHP 5.3 issue: web/redirector.php line 11 - Assigning the return value of new by reference is deprecated

* Fri Jun 04 2010 Michael Stauber <mstauber@solarspeed.net> 0.1-85BX34
- Fixed typo in web/login.php

* Wed Jun 02 2010 Michael Stauber <mstauber@solarspeed.net> 0.1-85BX33
- web/login.php was using deprecated ereg()
- web/login.php was using printPage, which doesn't work. Didn't even work on 5106R!

* Wed Jun 02 2010 Michael Stauber <mstauber@solarspeed.net> 0.1-85BX32
- Locales: Product changed from '5106R' to '5107R/5108R'

* Mon Apr 05 2009 Michael Stauber <mstauber@solarspeed.net> 0.1-85BQ31
- English License text in locale/en/product.po was still too rough and gramatically incorrect. 

* Sun Mar 08 2009 Michael Stauber <mstauber@solarspeed.net> 0.1-85BQ30
- The static error message pages in web/error/ exist in multiple languages.
  However, whatever mechanism is supposed to copy or link them to the default 
  ones: It's not working. Ultimately we would need a constructor that checks
  which locale the server is set to and then copies the static pages over. Or
  re-creates the correct symbolic links. Which would still be undesireable, as 
  the user using the GUI may have a different locale. Why show a Danish user the 
  German error messages? Or the English ones? I think in the long run we need
  dynamically created error pages. 
- Copied English error pages over to defaults for now.

* Mon Mar 02 2009 Michael Stauber <mstauber@solarspeed.net> 0.1-85BQ29
- Found an old instance of 5102R naming in locale/de_DE/alpine.po
- Changed that string to 5106R as it should be.

* Wed Dec 03 2008 Michael Stauber <mstauber@solarspeed.net> 0.1-85BQ27
- Renamed to BlueOnyx.
- New default admin password 'blueonyx' needed to be added to the intro.html pages.

* Wed Nov 19 2008 Michael Stauber <mstauber@solarspeed.net> 0.1-85BQ26
- Added images for BlueOnyx skin
- Modified images for BlueOnyx product type

* Wed Nov 19 2008 Michael Stauber <mstauber@solarspeed.net> 0.1-85BQ25
- Further modification of web/login.php to clear $target on CSS instead of exiting.

* Wed Nov 19 2008 Michael Stauber <mstauber@solarspeed.net> 0.1-85BQ24
- Modified web/login.php to prevent cross site scripting attacks.

* Wed Nov 19 2008 Michael Stauber <mstauber@solarspeed.net> 0.1-85BQ23
- Added web/robots.txt to prevent search engines from indexing AdmServ pages.

* Thu May 28 2008 Michael Stauber <mstauber@solarspeed.net> 0.1-85BQ22
- New default admin password 'bluequartz' needed to be added to the intro.html pages.

* Sun Jan 27 2008 Michael Stauber <mstauber@solarspeed.net> 0.1-85BQ21
- German locales added.

* Tue Jan 22 2008 Michael Stauber <mstauber@solarspeed.net> 0.1-85BQ20
- Danish locales added. Thanks to Jes Klittum!

* Mon Jun 25 2007 Hisao SHIBUYA <shibuya@bluequartz.org> 0.1-85BQ19
- Fixed duplicate include issue.

* Sun Oct 29 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 0.1-85BQ18
- reimport libImage/* and manuals/* to fix curruption issues.

* Thu Oct 12 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 0.1-85BQ17
- modify setup_capabilities.pl, re-setup capability group.

* Tue Aug 14 2006 Brian Smith <brian@nuonce.net> 0.1-85BQ16
- Missing comma added to "setup_capabilities.pl" script

* Sat Aug 12 2006 Brian Smith <brian@nuonce.net> 0.1-85BQ15
- modify setup_capabilities.pl, added dnsAdmin

* Fri Apr 07 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 0.1-85BQ14
- modify login.php to be enabled secure login by default.

* Sun Dec 25 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 0.1-85BQ13
- modified intro.html for BlueQuartz by Anders.

* Sat Dec 24 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 0.1-85BQ12
- login.php checks to accept license.

* Fri Dec 23 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 0.1-85BQ11
- change splash_G_top_left.gif for BlueQuartz by Anders.

* Sun Nov 27 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 0.1-85BQ10
- rebuild with devel-tools 0.5.1-0BQ7.

* Mon Oct 18 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 0.1-85BQ9
- rebuild with devel-tools 0.5.1

* Sun Oct 02 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 0.1-85BQ8
- fixed typo message.

* Thu Aug 18 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 0.1-85BQ7
- modified locale file to provide BlueQuartz and BlueQuartz for the other locale.

* Fri Aug 12 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 0.1-85BQ6
- modified Group tag in rpmdefs.tmpl.

* Fri Aug 12 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 0.1-85BQ5
- add serial number.

* Thu Aug 11 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 0.1-85BQ4
- clean up spec file.
<end $CHANGELOG>
