# configuration bits for mod_rpmize
# syntax:
# <begin [x]section>
# <end [x]section>
#
# x an be $ for a string or % for a hash.
# if a hash is being used, you can add sub-sections with
# <begin sub-section>
# <end sub-section>


<begin $DESCRIPTION>
%package [LABEL]
Group: System Environment/BlueQuartz
Summary: [LABEL] for [VENDOR]-[SERVICE].
[AUTOFILL]
[BUILDARCH]
[PROVIDES]

%description [LABEL]
The [VENDOR]-[SERVICE]-[LABEL] package contains the [LABEL]
information for [VENDOR]-[SERVICE].

<end $DESCRIPTION>

<begin %PREP>
<end %PREP>

<begin %SETUP>
<end %SETUP>

<begin %BUILD>
<end %BUILD>

<begin %INSTALL>
<end %INSTALL>

<begin %FILES>
<begin HEADER>
%files [LABEL]
%defattr(-,root,root)
<end HEADER>

<begin locale>
[AUTOFILL]

<end locale>

<begin glue>
[AUTOFILL]
/etc/skel/vsite/*
%attr(0755,-,-) /usr/sausalito/sbin/vsite_destroy.pl

<end glue>

<begin ui>
[AUTOFILL]

<end ui>

<begin capstone>
%{RootDir}/capstone/%{Vendor}-%{Service}.cap
[AUTOFILL]

<end capstone>
<end %FILES>

<begin %POST-INSTALL>
<begin HEADER>
%post [LABEL]
<end HEADER>

<begin glue>
# glue post-install
if [ -S /usr/sausalito/cced.socket ]; then
    /etc/init.d/cced.init restart
fi

<end glue>
<begin ui>
# ui post-install
# this is somewhat nasty, but it always makes sure that there's a
# default .html file in case the browser doesn't specify a locale
if [ x"[DEFLOCALE]" != x ]; then
	for dir in `find [CCEWEB] -type d`; do 
		(cd $dir; 
		if [ x"`ls *.htm[l].[DEFLOCALE] 2> /dev/null`" != x ]; then
			for file in `ls *.htm[l].[DEFLOCALE]`; do
				base=`basename $file .[DEFLOCALE]`
				if [ ! -f $base ]; then
					ln -s $file $base
 				fi
			done
		fi)
	done
fi

<end ui>
<begin locale>
# locale post-install

<end locale>
<end %POST-INSTALL>

<begin %POST-UNINSTALL>
<begin HEADER>
%postun [LABEL]
<end HEADER>

<begin glue>
# glue post-uninstall

<end glue>
<begin ui>
# ui post-uninstall

<end ui>
<begin locale>
# locale post-uninstall

<end locale>
<end %POST-UNINSTALL>

<begin $CHANGELOG>
* Thu Sep 30 2010 Hideki Oride <oride@gachapom.jp> 1.1-132BQ44
- The DNS management authority is subdivided. 

* Sun Aug 08 2010 Hisao SHIBUYA <shibuya@bluequartz.org> 1.1-132BQ43
- resolve the issue that the administrator can configure the disk space without any limit, when the disk space will be 0 by Oride-san.
- Add new feature by Oride-san.
-- The feature the user limit for the administrator.
-- The feature the enable/disable shell access for the administrator.
-- The feature that admin only can configure the template for the vsite.
-- The feature that enable 'server_admin' is the specific rule for 'admin_name' + '_' for user prefix.

* Thu Jul 22 2010 Hisao SHIBUYA <shibuya@bluequartz.org> 1.1-132BQ42
- add user prefix feature by Oride-san.

* Sat Jun 19 2010 Hisao SHIBUYA <shibuya@bluequartz.org> 1.1-132BQ41
- add RewriteCond for webAliases.

* Sun May 30 2010 Hisao SHIBUYA <shibuya@bluequartz.org> 1.1-132BQ40
- resolved the issue that site quota isn't correct for administrator and admin.

* Sun May 30 2010 Hisao SHIBUYA <shibuya@bluequartz.org> 1.1-132BQ39
- add 'admin' for default alias for virtual site.

* Sun May 16 2010 Hisao SHIBUYA <shibuya@bluequartz.org> 1.1-132BQ38
- Ability added to disable user owned websites.

* Thu May 13 2010 Hisao SHIBUYA <shibuya@bluequartz.org> 1.1-132BQ37
- add new feature to limit site max and site quote for administrator.

* Mon Apr 19 2010 Hisao SHIBUYA <shibuya@bluequartz.org> 1.1-132BQ36
- resolved the issue that the error pages doesn't have group writable.

* Fri Apr 16 2010 Hisao SHIBUYA <shibuya@bluequartz.org> 1.1-132BQ35
- resolved the issue that the ServerAlias was lost when SSL will be enabled.

* Thu Apr 15 2010 Hisao SHIBUYA <shibuya@bluequartz.org> 1.1-132BQ34
- resolved the issue that the siteadmin can check preview site configuration checkbox.

* Sat Apr 10 2010 Hisao SHIBUYA <shibuya@bluequartz.org> 1.1-132BQ33
- resolved the issue that the advanced search doesn't work with services.

* Tue Mar 16 2010 Hisao SHIBUYA <shibuya@bluequartz.org> 1.1-132BQ32
- change selector size for administrator permission.

* Wed Mar 10 2010 Hisao SHIBUYA <shibuya@bluequartz.org> 1.1-132BQ31
- new Capabilities for admin.

* Mon Dec 14 2009 Hisao SHIBUYA <shibuya@bluequartz.org> 1.0-132BQ30
- fixed the issue that can not deliver to alias address.

* Tue Sep 22 2009 Hisao SHIBUYA <shibuya@bluequartz.org> 1.0-132BQ29
- add vsite limitation feature.

* Wed Sep 16 2009 Hisao SHIBUYA <shibuya@bluequartz.org> 1.0-132BQ28
- merge from 5100R between r970 with r1218. 
- convert po file to utf-8.

* Mon Jun 25 2007 Hisao SHIBUYA <shibuya@bluequartz.org> 1.0-132BQ27
- Fixed duplicate include issue.

* Wed Mar 07 2007 Brian N. Smith <brian@nuonce.net> 1.0-132BQ26
- Applied 'unique.pl' patch that Taco submited.  Supposed to allow
- aliases same as web alias.

* Sun Aug 13 2006 Brian N. Smith <brian@nuonce.net> 1.0-132BQ25
- Added access control for siteadmin into Disable E-Mail

* Sun Aug 06 2006 Brian N. Smith <brian@nuonce.net> 1.0-132BQ24
- For Auto DNS, host "" (empty) wasn't added.  That has been fixed.

* Sun Aug 06 2006 Brian N. Smith <brian@nuonce.net> 1.0-132BQ23
- Removed postmaster
- Removed admin

* Sat Aug 05 2006 Brian N. Smith <brian@nuonce.net> 1.0-132BQ22
- added auto-populate of email & web server aliase in vsiteAdd.php.
- Added Auto DNS Feature.  Add multiple hostnames + 1 MX record when Auto DNS is checked

* Fri Aug 04 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.0-132BQ21
- add disable email feature by Brian.

* Sun Jul 02 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.0-132BQ20
- modify Vsite.pm to add apache@FQDN into virtusertable when Vsite is added.

* Sun Mar 26 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.0-132BQ19
- remove post script to remove server.conf.

* Tue Mar 14 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.0-132BQ18
- change skelton index.html encoding to EUC-JP.

* Sun Mar 12 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.0-132BQ17
- add preview site function again.

* Thu Mar 09 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.0-132BQ16
- remove preview site function.

* Sun Dec 18 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.0-132BQ15
- modified JavaScript to fix the browser issue with Safari by Anders, BlackSun, Inc.

* Tue Nov 29 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.0-132BQ14
- rebuild with devel-tools 0.5.1-0BQ7.

* Mon Oct 31 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.0-132BQ13
- fixed the issue that vsite isn't removed.

* Mon Oct 31 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.0-132BQ12
- add preview site function.

* Tue Oct 18 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.0-132BQ11
- rebuild with devel-tools 0.5.1

* Mon Aug 15 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.0-132BQ10
- modified menu order for siteName.xml.

* Mon Aug 15 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.0-132BQ9
- modified Group tag.

* Mon Aug 15 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.0-132BQ8
- fix security problem that can be accessed unauthorized function.
- clean up spec file.
<end $CHANGELOG>
