/var/log/tomcat/* {
    rotate 52
    compress
    missingok
    notifempty
    size 5M
    sharedscripts
    prerotate
        service tomcat stop
    endscript
    postrotate
        service tomcat start
    endscript
}
