# vendor and service name
%define Vendor [VENDOR]
%define Service [SERVICE]
%define RootDir [ROOTDIR]

Summary: skeleton spec template 
Name: %{Vendor}-%{Service}
Vendor: [VENDORNAME]
Version: [VERSION]
Release: [RELEASE]
License: Sun modified BSD
Group: CCE/%{Service}
Source: %{Vendor}-%{Service}-[VERSION].tar.gz
BuildRoot: /var/tmp/%{Vendor}-%{Service}

%description
Solarspeed Console Applications for BlueQuartz, BlueOnyx and Aventurin{e}.

[DESCRIPTION_SECTION]

%prep
[PREP_SECTION]

%setup
[SETUP_SECTION]

%build
make
[BUILD_SECTION]

%install
rm -rf $RPM_BUILD_ROOT
PREFIX=$RPM_BUILD_ROOT make install
[INSTALL_SECTION]

[POST-INSTALL_SECTION]

[POST-UNINSTALL_SECTION]

[FILES_SECTION]

%changelog
