# configuration bits for mod_rpmize
# syntax:
# <begin [x]section>
# <end [x]section>
#
# x an be $ for a string or % for a hash.
# if a hash is being used, you can add sub-sections with
# <begin sub-section>
# <end sub-section>


<begin $DESCRIPTION>
%package [LABEL]
Group: System Environment/BlueOnyx
Summary: [LABEL] for [VENDOR]-[SERVICE].
[AUTOFILL]
[BUILDARCH]

%description [LABEL]
The [VENDOR]-[SERVICE]-[LABEL] package contains the [LABEL]
information for [VENDOR]-[SERVICE].

<end $DESCRIPTION>

<begin %PREP>
<end %PREP>

<begin %SETUP>
<end %SETUP>

<begin %BUILD>
<end %BUILD>

<begin %INSTALL>
<end %INSTALL>

<begin %FILES>
<begin HEADER>
%files [LABEL]
%defattr(-,root,root)
<end HEADER>

<begin locale>
[AUTOFILL]

<end locale>

<begin glue>
%attr(0755,root,root)/usr/local/sbin/vacation.pl
%attr(0755,root,root)/usr/local/sbin/break-smrsh-loop.pl
%attr(0644,root,root)/etc/cron.d/break-smrsh-loop.cron
%attr(0644,root,root)/etc/dovecot/conf.d/10-ssl.conf.bx
%attr(0755,root,root)/etc/cron.daily/mboxfix.pl
%attr(0755,root,root)/usr/sausalito/bin/remove_domain.pl
%attr(0755,root,root)/usr/sausalito/bin/findalias.pl
/etc/smrsh/vacation.pl
[AUTOFILL]

<end glue>

<begin ui>
[AUTOFILL]

<end ui>

<begin capstone>
%{RootDir}/capstone/%{Vendor}-%{Service}.cap
[AUTOFILL]

<end capstone>
<end %FILES>

<begin %POST-INSTALL>
<begin HEADER>
%post [LABEL]
<end HEADER>

<begin capstone>
# capstone post-install

<end capstone>

<begin glue>
# glue post-install
if [ ! -d /etc/mail ]; then \
	mkdir -p /etc/mail; \
fi

if [ $1 -gt 1 ]; then
    /usr/sausalito/bin/remove_domain.pl
fi

# Check if we already have the ciphers set:
if [ -f /etc/dovecot/conf.d/10-ssl.conf ]; then
  ISPRESENT=`cat /etc/dovecot/conf.d/10-ssl.conf|grep ^ssl_cipher_list|wc -l`
else
  ISPRESENT=0
fi

# If the ciphers are not yet set, copy the new config over:
if (test $ISPRESENT = 0 ); then
  cat /etc/dovecot/conf.d/10-ssl.conf.bx > /etc/dovecot/conf.d/10-ssl.conf
fi

if [ -f /var/run/dovecot/login/imap ]; then
	/sbin/service dovecot restart
fi

# Restart CCEd and run Swatch for good measure:
if [ -S /usr/sausalito/cced.socket ]; then
    # Restart CCEd: 
    if [ -d "/usr/sausalito/yumcce" ];then 
      touch /usr/sausalito/yumcce/restart
    fi 
    echo "Running constructor/base/email/syncEmailService.pl"
    /usr/sausalito/constructor/base/email/syncEmailService.pl
    if [ -f /usr/sbin/swatch ]; then
       echo "Running swatch"
      /usr/sbin/swatch
    fi
else
    echo "Running constructor/base/email/syncEmailService.pl"
    /usr/sausalito/constructor/base/email/syncEmailService.pl
fi

<end glue>
<begin ui>
# ui post-install

<end ui>
<begin locale>
# locale post-install

<end locale>
<end %POST-INSTALL>

<begin %POST-UNINSTALL>
<begin HEADER>
%postun [LABEL]
<end HEADER>

<begin glue>
# glue post-uninstall

<end glue>
<begin ui>
# ui post-uninstall

<end ui>
<begin locale>
# locale post-uninstall

<end locale>
<end %POST-UNINSTALL>

<begin $CHANGELOG>

* Mon Jan 2017 Michael Stauber <mstauber@solarspeed.net> 1.6.0-0BX42
- Fixed constructor/syncEmailService.pl to handle the 'forgotten' params
  as well. Like smarthost, hideHeaders, delayChecks, masqAddress and
  maxRecipientsPerMessage.

* Thu Aug 25 2016 Michael Stauber <mstauber@solarspeed.net> 1.6.0-0BX41
- Modified glue/usr/local/sbin/vacation.pl to allow config of aliases
  as sender address of vacation messages.

* Thu Jun 16 2016 Michael Stauber <mstauber@solarspeed.net> 1.6.0-0BX40
- Made service restarts in constructor/syncEmailService.pl dependent on
  if one is needed.

* Thu Jun 16 2016 Michael Stauber <mstauber@solarspeed.net> 1.6.0-0BX39
- Modified constructor/syncEmailService.pl to also copy present admserv
  intermediates to ca-bundle.

* Mon Mar 21 2016 Michael Stauber <mstauber@solarspeed.net> 1.6.0-0BX38
- Updated Italian locales added as provided by Simone Capra.

* Wed Dec 23 2015 Michael Stauber <mstauber@solarspeed.net> 1.6.0-0BX37
- Small fix in glue/usr/local/sbin/vacation.pl

* Mon Oct 12 2015 Michael Stauber <mstauber@solarspeed.net> 1.6.0-0BX36
- Modified debugging in glue/handlers/validate_alias.pl

* Wed Jul 01 2015 Michael Stauber <mstauber@solarspeed.net> 1.6.0-0BX35
- Modified glue/usr/local/sbin/vacation.pl to add Postlayer work around.

* Wed Jun 24 2015 Michael Stauber <mstauber@solarspeed.net> 1.6.0-0BX34
- Another mod to constructor/syncEmailService.pl to fix a typo in the
  cipher list. Interestingly enough it had no effect for the better or
  worse.

* Tue Jun 16 2015 Michael Stauber <mstauber@solarspeed.net> 1.6.0-0BX33
- Another mod to constructor/syncEmailService.pl to allow two wildly 
  supported (but weaker) extra ciphers to make sure that we can talk to
  even the most crappy servers out there. As long as they still support
  at least TLSv1.0. This isn't ideal, but will have to do for now.

* Mon Jun 15 2015 Michael Stauber <mstauber@solarspeed.net> 1.6.0-0BX32
- Modified constructor/syncEmailService.pl to make sure the new additions
  to sendmail.mc are printed only once.

* Fri Jun 12 2015 Michael Stauber <mstauber@solarspeed.net> 1.6.0-0BX31
- To deal with Logjam and OpenSSL related oddities we will now start using
  2048 bit Diffie-Hellman certs. Additionally we disable SSLv3 and SSLv2 in
  Sendmail as well and enforce stricter cipher usage.
- Modified base-email.mod/constructor/syncEmailService.pl to deal with the
  sendmail.mc / sendmail.cf related changes of this.
- Minor code indentation changes in base-email.mod/glue/handlers/system.pl

* Mon Mar 09 2015 Michael Stauber <mstauber@solarspeed.net> 1.6.0-0BX30
- Sendmail.cf wasn't rebuild after RBL changes.
- Modified glue/handlers/blacklist.pl to wiggle in a cf rebuild.
- Modified glue/handlers/restart.pl

* Sat Mar 07 2015 Michael Stauber <mstauber@solarspeed.net> 1.6.0-0BX29
- Prepared package for merge down to release it for 5106R, 5207R and 5108R
  as well. Modified various post-install transactions for that.

* Thu Mar 05 2015 Michael Stauber <mstauber@solarspeed.net> 1.6.0-0BX28
- Added feature to (optionally) suppress previous headers from sent email
  messages. Configureable under 'Network Services' / 'Email' / 'Advanced'.
- Modified glue/schemas/email.schema to add 'hideHeaders' to 'System' . 
  'Email'.
- Modified glue/handlers/system.pl to handle the required sendmail.mc 
  configuration to implement this feature.
- Modified ui/chorizo/web/controllers/emailsettings.php to add the needed
  checkbox to toggle this feature in the new GUI.
- Modified glue/conf/email.conf to trigger this config change.
- Extended all locales with the new texts for this feature.
- Modified ui/web/email.php and ui/web/emailHandler.php to also add this
  to the old GUI.

* Tue Feb 24 2015 Michael Stauber <mstauber@solarspeed.net> 1.6.0-0BX27
- Added requirement for cyrus-sasl-plain to Makefile.

* Thu Dec 04 2014 Michael Stauber <mstauber@solarspeed.net> 1.6.0-0BX26
- Some Systemd love in post-install and AM-scripts.

* Wed Dec 03 2014 Michael Stauber <mstauber@solarspeed.net> 1.6.0-0BX25
- One more fix in constructor/syncEmailService.pl. We better use 
  Sauce::Service consistently for best compatability with InitV, Upstart
  and Systemd.

* Wed Dec 03 2014 Michael Stauber <mstauber@solarspeed.net> 1.6.0-0BX24
- Modified constructor/syncEmailService.pl to deal with EL7 related oddities.

* Wed Dec 03 2014 Michael Stauber <mstauber@solarspeed.net> 1.6.0-0BX23
- Updated constructor/syncEmailService.pl to handle RBL settings as well.

* Tue Oct 28 2014 Michael Stauber <mstauber@solarspeed.net> 1.6.0-0BX22
- Modified glue/handlers/enable.pl to handle the new config file format
  of Dovecot > 2.2.

* Mon Oct 27 2014 Michael Stauber <mstauber@solarspeed.net> 1.6.0-0BX21
- Updated 10-ssl.conf.bx for Dovecot 2.2.15
- Updated Require in Makefile to require Dovecot >= 2.2.15
- Disabled SSLv3 for Dovecot, set ssl_prefer_server_ciphers to yes changed
  ssl_dh_parameters_length from 1024 to 2048 and updated ssl_cipher_list
  with latest suggestion from bettercrypto.org

* Sat Oct 11 2014 Michael Stauber <mstauber@solarspeed.net> 1.6.0-0BX20
- Modified glue/handlers/forward.pl to turn off forwarding on suspend.

* Tue Sep 09 2014 Michael Stauber <mstauber@solarspeed.net> 1.6.0-0BX19
- Dovecot was not properly disabled when turned off in the GUI. Fixed.
- Modified constructor/syncEmailService.pl
- Modified glue/handlers/enable.pl
- Fiddled a newalias run into various handlers. I trust this more than
  makemap hash after all.

* Wed Jul 16 2014 Michael Stauber <mstauber@solarspeed.net> 1.6.0-0BX18
- Several locale fixes.

* Fri Jul 11 2014 Michael Stauber <mstauber@solarspeed.net> 1.6.0-0BX17
- Chorizo GUI added, old GUI disabled.

* Wed May 28 2014 Michael Stauber <mstauber@solarspeed.net> 1.6.0-0BX16
- Small mod to glue/usr/local/sbin/vacation.pl to handle quota better.

* Thu Apr 17 2014 Michael Stauber <mstauber@solarspeed.net> 1.6.0-0BX15
- Modified glue/handlers/vacation.pl yet again. Massive code cleanup.
  Better debugging straight to maillog added. Fiddled with UTF-8 ecoding
  again, because non-Japanese Subjects with non-ASCII chars were buggered
  up yet again. This should fix it. If not, then I am close to give this
  the axe. Or blow it to the moon. Or kill it with fire.

* Wed Apr 02 2014 Michael Stauber <mstauber@solarspeed.net> 1.6.0-0BX14
- Modified glue/handlers/vacation.pl yet again. 510XR was moved entirely
  to UTF-8, too. So we no longer need to transform from EUC-JP to UTF-8,
  as it is stored in UTF-8 right away.

* Sat Mar 29 2014 Michael Stauber <mstauber@solarspeed.net> 1.6.0-0BX13 
- Modified glue/handlers/vacation.pl yet again. 520XR was moved entirely 
  to UTF-8. This neccesitates that the vacation message is written off 
  in pure UTF-8 for all languages including Japanese. 

* Sat Mar 29 2014 Michael Stauber <mstauber@solarspeed.net> 1.6.0-0BX13
- Modified glue/handlers/vacation.pl yet again. 520XR was moved entirely
  to UTF-8. This neccesitates that the vacation message is written off
  in pure UTF-8 for all languages including Japanese.

* Thu Mar 27 2014 Michael Stauber <mstauber@solarspeed.net> 1.6.0-0BX12
- Added improved French translation as provided by Meaulnes Legler.

* Thu Mar 27 2014 Michael Stauber <mstauber@solarspeed.net> 1.6.0-0BX11
- Fix for Japanese vacation messages.
- Modified glue/handlers/vacation.pl to store .vacation_msg in UTF-8 format
  even (and especially if) the locale preference is set to Japanese.
- Modified glue/usr/local/sbin/vacation.pl to email out Japanese vacation
  messages in UTF-8 encoding. For this the subject had to be turned from
  EUC-JP into UTF-8 as well and the subject itself needed proper 
  MIME-encoding.

* Thu Feb 18 2014 Michael Stauber <mstauber@solarspeed.net> 1.6.0-0BX10
- Modified constructor/syncEmailService.pl and glue/handlers/copy_certs.pl
  to copy/create the intermediate cert files for Dovecot. If no intermediates
  are being used by AdmServ, then a blank file is created instead. 
  10-ssl.conf is thenupdated and the needed 'ssl_ca' line is added, pointing
  to the intermediate. The editing uses Sauce::Util, which will prevent that
  the line shows up twice in case someone has already added it.

* Thu Feb 13 2014 Michael Stauber <mstauber@solarspeed.net> 1.6.0-0BX09
- On Server host- and domain-name changes handler hostname.pl failed.
  We actually don't need it, as it's only needed for Postfix.
- Modified glue/handlers/hostname.pl to disable the disturbing sections.
- Modified glue/conf/email.conf to disable calling hostname.pl
- Modified glue/handlers/system.pl to nicen up formatting.

* Sun Feb 09 2014 Michael Stauber <mstauber@solarspeed.net> 1.6.0-0BX08
- The concatenation fix for sendmail.pem had gone walkies. Added it again.
- Fixed glue/handlers/copy_certs.pl
- Fixed constructor/syncEmailService.pl

* Wed Feb 05 2014 Michael Stauber <mstauber@solarspeed.net> 1.6.0-0BX07
- Added cleaned up French translation as provided by Meaulnes Legler.

* Tue Feb 04 2014 Michael Stauber <mstauber@solarspeed.net> 1.6.0-0BX06
- Added /etc/dovecot/conf.d/10-ssl.conf.bx, which on post-install will be
  dumped into /etc/dovecot/conf.d/10-ssl.conf. With that we now specify
  the ciphers and protocols, which will allow TLSv1.2 on EL6 based boxes.
  We also use it to specify the SSL cipher list and use the recommended
  one from https://bettercrypto.org/static/applied-crypto-hardening.pdf

* Tue Jan 28 2014 Michael Stauber <mstauber@solarspeed.net> 1.6.0-0BX05
- Modified glue/handlers/copy_certs.pl and glue/conf/email.conf as email
  related services were not restarted on SSL certificate updates.
- Added restart for xinetd as well.

* Fri Dec 27 2013 Michael Stauber <mstauber@solarspeed.net> 1.6.0-0BX04
- German locale had incorrect charset.

* Sat Dec 14 2013 Michael Stauber <mstauber@solarspeed.net> 1.6.0-0BX03
- Merged in locales for the Netherlands ('nl_NL').

* Sun Dec 08 2013 Michael Stauber <mstauber@solarspeed.net> 1.6.0-0BX02
- Added missing localization string for 'cap_serverEmail'.

* Thu Dec 05 2013 Michael Stauber <mstauber@solarspeed.net> 1.6.0-0BX01
- Preparational build for 5207R/5208R. Doesn't include new GUI yet.
- Merged in new locales from 5207R ("es_ES", "fr_FR", "it_IT", "pt_PT").
- Dropped all two character locales.
- Converted "ja_JP" from EUC-JP to UTF-8.
- Updated dependency list in Makefile.
- Modified glue/usr/local/sbin/vacation.pl so that ja_JP encoded messages now use UTF-8 again.

* Fri Aug 23 2013 Michael Stauber <mstauber@solarspeed.net> 1.5.1-0BX13
- Modified constructor/syncEmailService.pl with provisions for 5106R only that allow us to bypass the problem with
  'TLS message: tlsv1 alert insufficient security:s3_pkt.c:1092:SSL alert number 71' as per 
  http://bugs.debian.org/cgi-bin/bugreport.cgi?bug=461802. Fix suggeste by Tobias Gablunsky in [BlueOnyx:13533].

* Sat Mar 31 2012 Michael Stauber <mstauber@solarspeed.net> 1.5.1-0BX12
- Modified glue/usr/local/sbin/vacation.pl to switch 'content-type.charset' to 'EUC-JP' for Japanese messages.
  This is far from being perfect, as the subject encoding is now a bit illegal. But it'll have to do for now.

* Tue Mar 20 2012 Michael Stauber <mstauber@solarspeed.net> 1.5.1-0BX11
- Converted locale encoding from UTF-8 to ISO-8859-1.

* Tue Sep 27 2011 Michael Stauber <mstauber@solarspeed.net> 1.5.1-0BX10
- Updated locale/ja/email.po again with updated Japanese translation as provided by Eiji Hamano. Many thanks.

* Mon Sep 23 2011 Michael Stauber <mstauber@solarspeed.net> 1.5.1-0BX9
- Changed sendmail 'start' to 'restart' in glue/handlers/restart.pl, as start often doesn't fire up sm-client.
- Added conditional Sendmail restart to glue/handlers/personal.pl, as it runs last after useradd/userdelete.

* Mon Sep 19 2011 Michael Stauber <mstauber@solarspeed.net> 1.5.1-0BX8
- Updated locale/ja/email.po with Japanese translation as provided by Eiji Hamano. Many thanks.

* Wed Aug 24 2011 Michael Stauber <mstauber@solarspeed.net> 1.5.1-0BX7
- Modified glue/etc/cron.daily/mboxfix.pl to remove path from find command as it is different between EL5 and EL6

* Thu Jul 21 2011 Rickard Osser <rickard.osser@bluapp.com> 1.5.1-0BX6
- Added support for date handling in vacation messages.

* Tue Apr 26 2011 Michael Stauber <mstauber@solarspeed.net> 1.5.1-0BX5
- Modified glue/handlers/Email.pm to handle both MailMan or Majordomo presence.

* Wed Nov 17 2010 Taco Scargo <taco@scargo.nl> 1.5.1-0BX4
- Removed games from the reserved aliases

* Sat Apr 10 2010 Michael Stauber <mstauber@solarspeed.net> 1.5.1-0BX3
- Japanese locales are busted. Removed them by copying over the English ones. Getting pointless anyway.
- Fixed typo in German locales.

* Sat Apr 10 2010 Michael Stauber <mstauber@solarspeed.net> 1.5.1-0BX2
- Forgot to add dependency for php-pear-Mail to Makefile. Fixed.

* Sat Apr 10 2010 Michael Stauber <mstauber@solarspeed.net> 1.5.1-0BX1
- Added Z-Push support
- Added requirement for blueonyx-z-push to Makefile
- Extended GUI with ability to enable Z-Push support

* Fri Mar 05 2010 Rickard Osser <rickard.osser@bluapp.com> 1.5.0-0BQ4
- Added delay_checks to Advanced settings.

* Tue Mar 02 2010 Rickard Osser <rickard.osser@bluapp.com> 1.5.0-0BQ3
- Changed system.pl to dynamically add maxRecipientsPerMessage to sendmail.mc if it's not there.

* Mon Mar 01 2010 Michael Stauber <mstauber@solarspeed.net> 1.5.0-0BQ2
- constructor/syncEmailService.pl didn't update maxMessageSize correctly and by factor 1024 too small
- Added provisions for maxRecipientsPerMessage to module
- Added cronjob /etc/cron.daily/mboxfix.pl work around to fix issue with UID 0 owned mbox files
- Fixed display problem in non-English versions of "blackist" in ui/web/email.php
- Added missing blacklist strings to da_DK, de_DE and ja locales. In English for now
- Added missing 'error_writing_sendmail_mc' string to all locales

* Tue Aug 25 2009 Rickard Osser <rickard.osser@bluapp.com> 1.5.0-0BQ1
- Reverted back to use sendmail.mc only.
- Fixed so that all MAILER() records always gets added last.
- Added support for using DNSBL blacklisting in the GUI.

* Fri Jul 17 2009 Rickard Osser <rickard.osser@bluapp.com> 1.4.0-0BQ1
- Major rewrite in sendmail configuration.
- We don't hack sendmail.cf directly, all GUI changes are done in bgui.mc.
- New sendmail.mc file which will be static is needed.

* Fri Mar 27 2009 Rickard Osser <rickard.osser@bluapp.com> 1.3.2-0BQ49
- Fixed type in emailHandler.php.

* Fri Mar 20 2009 Michael Stauber <mstauber@solarspeed.net> 1.3.2-0BQ48
- Added missing schema file mx2email.schema 
- Updated ui/web/email.php to display missing help text for add button
- Removed unneeded Add-button label text from all locales.

* Wed Mar 18 2009 Michael Stauber <mstauber@solarspeed.net> 1.3.2-0BQ47
- Copied new locale strings from 'en' to 'ja' and 'da_DK'
- German translation 100% done.

* Wed Mar 18 2009 Rickard Osser <rickard.osser@bluapp.com> 1.3.2-0BQ46
- Fixed problem in scrollList for Secondary mailservice.

* Wed Mar 18 2009 Rickard Osser <rickard.osser@bluapp.com> 1.3.2-0BQ45
- Fixed some small bugs in the gui, turned off DEBUG in mailertable handler.

* Wed Mar 18 2009 Rickard Osser <rickard.osser@bluapp.com> 1.3.2-0BQ44
- Added capability to manage secondary mailservers in the GUI.

* Mon Dec 22 2008 Michael Stauber <mstauber@solarspeed.net> 1.3.1-0BQ43
- Removed requirement for base-squirrelmail-capstone again. Makes no sense to force the install.

* Sun Dec 21 2008 Michael Stauber <mstauber@solarspeed.net> 1.3.1-0BQ42
- Added requirement for base-squirrelmail-capstone

* Sat Dec 20 2008 Michael Stauber <mstauber@solarspeed.net> 1.3.1-0BQ41
- Fixed glue/usr/local/sbin/vacation.pl again to break loop if reply had been sent.

* Sat Dec 20 2008 Michael Stauber <mstauber@solarspeed.net> 1.3.1-0BQ40
- Added requirement for base-email-am to Makefile.

* Thu Dec 18 2008 Michael Stauber <mstauber@solarspeed.net> 1.3.1-0BQ39
- Modified vacation.pl to set charset to ISO-8859-1.

* Thu Dec 18 2008 Michael Stauber <mstauber@solarspeed.net> 1.3.1-0BQ38
- Vacation messages were pretty much foobar thanks to the crappy Sauce::I18nMail.
- Switched vacation.pl to use MIME::Lite instead.
- Added requires for MIME::Lite and its dependency perl-Email-Date-Format

* Sun Dec 07 2008 Michael Stauber <mstauber@solarspeed.net> 1.3.1-0BQ37
- Forgot to remove comment in glue/usr/local/sbin/vacation.pl. Clear case of 'doh!' :p

* Sat Dec 06 2008 Michael Stauber <mstauber@solarspeed.net> 1.3.1-0BQ36
- Modified glue/usr/local/sbin/vacation.pl to not send vacation messages if user or group are over quota.

* Wed Dec 03 2008 Michael Stauber <mstauber@solarspeed.net> 1.3.1-0BQ35
- Rebuilt for BlueOnyx.

* Thu Nov 13 2008 Michael Stauber <mstauber@solarspeed.net> 1.3.1-0BQ34
- Fixed ca-bundle.crt location for CentOS5 in constructor/syncEmailService.pl

* Wed Jul 04 2008 Michael Stauber <mstauber@solarspeed.net> 1.3.1-0BQ32
- Fixes for BlueQuartz 5106, removed APOP feature again (slipped back into code-tree when merging code bases :p)

* Thu May 22 2008 Michael Stauber <mstauber@solarspeed.net> 1.3.1-0BQ31
- Added /usr/sausalito/bin/findalias.pl - small helper script that lists 
- all web- and email-server aliasses.

* Tue Apr 15 2008 Michael Stauber <mstauber@solarspeed.net> 1.3.1-0BQ30
- POP before SMTP for Active Monitor set to disabled by default.

* Thu Feb 28 2008 Hisao SHIBUYA <shibuya@bluequartz.org> 1.3.1-0BQ29
- clean up APOP feature to remove extension, conf, schema, handler (#14).

* Sun Jan 27 2008 Michael Stauber <mstauber@solarspeed.net> 1.3.1-0BQ28
- German locales added.
- Fixed /usr/sausalito/swatch/bin/check-popb4smtp.sh in base-email-am *again*.
- Was not working right with German locales. Should be fine for all now.

* Wed Jan 23 2008 Michael Stauber <mstauber@solarspeed.net> 1.3.1-0BQ27
- Fixed /usr/sausalito/swatch/bin/check-popb4smtp.sh in base-email-am
- Was not working right with non English locales.

* Tue Jan 22 2008 Michael Stauber <mstauber@solarspeed.net> 1.3.1-0BQ26
- Danish locales added. Thanks to Jes Klittum!

* Wed Dec 19 2007 <brian@nuonce.net> 1.3.1-0BQ25
- loosen sendmail permission by hardcoding Envelope fields.
- patch submited by Patricko

* Sun Dec 16 2007 05:36 PM EST <mstauber@solarspeed.net> 1.3.1-0BQ24
- Added provisions to monitor SMTP-Auth and POP before SMTP in Active Monitor

* Sat Dec 14 2007 Brian N. Smith <brian@nuonce.net> 1.3.0-0BQ23
- Fixed the issue with the "server map".  Duplicate keys in
- the /etc/mail/access file caused issues

* Sat Dec 2 2006 Brian N. Smith <brian@nuonce.net> 1.3.0-0BQ22
- added a killall -9 in the restart script.  Also made it so it
- stops and starts the service instead of just restarting it.

* Tue Aug 22 2006 Brian N. Smith <brian@nuonce.net> 1.3.0-0BQ21
- fixed break-smrsh-loop.cron.  Piped to /dev/null

* Tue Aug 15 2006 Brian N. Smith <brian@nuonce.net> 1.3.0-0BQ20
- fixed "user.conf" & "vsite.conf" needed to add; _CREATE to both

* Thu Aug 10 2006 Brian N. Smith <brian@nuonce.net> 1.3.0-0BQ19
- Added contrib: break-smrsh-loop.pl by; Patrick

* Thu Aug 10 2006 Brian N. Smith <brian@nuonce.net> 1.3.0-0BQ18
- Updated vacation.pl w/ Patrick (patricko@staff.singnet.com.sg) fixes

* Sun Aug 06 2006 Brian N. Smith <brian@nuonce.net> 1.3.0-0BQ17
- Removed: abuse, postmaster, operator, manager from protected
- Aliases

* Thu Aug 03 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.3.0-0BQ16
- add disable email feature by Brian.

* Sun Jul 16 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.3.0-0BQ15
- fixed the error that the block or relay list is removed by Brian.

* Sat Jul 15 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.3.0-0BQ14
- add remove_domain.pl.

* Sat Jul 15 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.3.0-0BQ13
- modify syncEmailService.pl to remove .backup files.

* Sat Jul 15 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.3.0-0BQ12
- modified validate_alias.pl back to Cobalt codes.

* Sun Jun 15 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.3.0-0BQ11
- enable imap and pop services by default to fix the issue that service is disabled after update.
- remove server's domain name from '/etc/mail/access' by Brian.
- modify system.pl to fix the issue that the handler doesn't set queue time correctly.

* Thu Jun 15 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.3.0-0BQ10
- disable ActiveMonitor for imap by default.

* Thu Jun 15 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.3.0-0BQ9
- require base-bluequartz-glue >= 1.20060618.

* Thu Jun 15 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.3.0-0BQ8
- require base-bluequartz-glue >= 1.20060615.

* Mon Jun 12 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.3.0-0BQ7
- disable ActiveMonitor for pop and imap by default.

* Sun Jun 11 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.3.0-0BQ6
- remove backup scripts at syncEmailService.pl.

* Sun Jun 11 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.3.0-0BQ5
- require base-bluequartz-glue >= 1.20060611.

* Sun Jun 11 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.3.0-0BQ4
- restart cced after updating glue package.

* Sun Jun 11 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.3.0-0BQ3
- to copy certs file for ssl services.

* Sat Jun 10 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.3.0-0BQ2
- remove APOP extensions.

* Sat Jun 10 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.3.0-0BQ1
- add SMTPS, submission port, SMTP Auth, POPS and IMAPS functions.

* Thu May 04 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.2.0-92BQ21
- modify forward.pl to fix the .forward issue with cmu by C. Hemsing.

* Tue Apr 18 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.2.0-92BQ20
- modify validate_alias.pl to remove 'amanda' alias from the reserved list by Brian.

* Sun Apr 16 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.2.0-92BQ19
- modify validate_alias.pl to add 'amanda' alias to the reserved list.

* Sat Apr 15 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.2.0-92BQ18
- modify validate_alias.pl to remove address usuful used.

* Tue Mar 14 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.2.0-92BQ17
- Relaying for your entire network is kind of stupid. By Brian.

* Fri Feb 17 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.2.0-92BQ16
- modify the link for smrsh.

* Tue Feb 13 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.2.0-92BQ15
- modified validate_alias.pl to reject the user who will be reserved.

* Tue Nov 29 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.2.0-92BQ14
- modified validate_alias.pl to reject the user which in /etc/mail/aliases.

* Wed Nov 16 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.2.0-92BQ13
- don't restart sendmail, if sendmail is already enabled.

* Fri Oct 28 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.2.0-92BQ12
- modified apop handler that quoated popauth command.

* Tue Oct 18 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.2.0-92BQ11
- rebuild with devel-tools 0.5.1

* Fri Aug 12 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.2.0-92BQ10
- modified Group tag in rpmdefs.tmpl.

* Thu Aug 11 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.2.0-92BQ9
- clean up spec file.
<end $CHANGELOG>
