# configuration bits for mod_rpmize
# syntax:
# <begin [x]section>
# <end [x]section>
#
# x an be $ for a string or % for a hash.
# if a hash is being used, you can add sub-sections with
# <begin sub-section>
# <end sub-section>


<begin $DESCRIPTION>
%package [LABEL]
Group: System Environment/BlueQuartz
Summary: [LABEL] for [VENDOR]-[SERVICE].
[AUTOFILL]
[BUILDARCH]
[PROVIDES]

%description [LABEL]
The [VENDOR]-[SERVICE]-[LABEL] package contains the [LABEL]
information for [VENDOR]-[SERVICE].

<end $DESCRIPTION>

<begin %PREP>
<end %PREP>

<begin %SETUP>
<end %SETUP>

<begin %BUILD>
<end %BUILD>

<begin %INSTALL>
<end %INSTALL>

<begin %FILES>
<begin HEADER>
%files [LABEL]
%defattr(-,root,root)
<end HEADER>

<begin locale>
[AUTOFILL]

<end locale>

<begin glue>
[AUTOFILL]
<end glue>

<begin ui>
[AUTOFILL]

<end ui>

<begin capstone>
%{RootDir}/capstone/%{Vendor}-%{Service}.cap
[AUTOFILL]

<end capstone>
<end %FILES>

<begin %POST-INSTALL>
<begin HEADER>
%post [LABEL]
<end HEADER>

<begin glue>
# glue post-install

<end glue>
<begin ui>
# ui post-install
# this is somewhat nasty, but it always makes sure that there's a
# default .html file in case the browser doesn't specify a locale
if [ x"[DEFLOCALE]" != x ]; then
	for dir in `find [CCEWEB] -type d`; do 
		(cd $dir; 
		if [ x"`ls *.htm[l].[DEFLOCALE] 2> /dev/null`" != x ]; then
			for file in `ls *.htm[l].[DEFLOCALE]`; do
				base=`basename $file .[DEFLOCALE]`
				if [ ! -f $base ]; then
					ln -s $file $base
 				fi
			done
		fi)
	done
fi

<end ui>
<begin locale>
# locale post-install

<end locale>
<end %POST-INSTALL>

<begin %POST-UNINSTALL>
<begin HEADER>
%postun [LABEL]
<end HEADER>

<begin glue>
# glue post-uninstall
<end glue>
<begin ui>
# ui post-uninstall

<end ui>
<begin locale>
# locale post-uninstall

<end locale>
<end %POST-UNINSTALL>

<begin $CHANGELOG>

* Tue Mar 20 2012 Michael Stauber <mstauber@solarspeed.net> 2.1.0-17
- Converted locale encoding from UTF-8 to ISO-8859-1.

* Sat Nov 26 2011 Michael Stauber <mstauber@blueonyx.it> 2.1.0-16
- Updated ACL's in glue/schemas/subdomainsVsite.schema to allow siteAdmin's to create subdomains again.

* Sun Jul 04 2010 Michael Stauber <mstauber@blueonyx.it> 2.1.0-15
- Switched handlers from platform related checks to 'PHP_version' check:
- Updated glue/handlers/subdomain-new.pl and glue/handlers/subdomain-services.pl

* Sun Jul 04 2010 Michael Stauber <mstauber@blueonyx.it> 2.1.0-14
- Updated glue/handlers/subdomain-new.pl and glue/handlers/subdomain-services.pl
- They didn't set the PHP flags in a way compatible with the PHP security settings.
- While at it, also added the suPHP support to it.
- Remaining bug: On change of Vsite PHP settings subdomain-services.pl ought to run, but it doesn't.
- Hence PHP settings are never updated after subdomain creation.

* Tue Jun 08 2010 Michael Stauber <mstauber@solarspeed.net> 2.0.0-13
- Various PHP-5.3 related fixes

* Sat Jun 05 2010 Michael Stauber <mstauber@solarspeed.net> 2.0.0-12
- Copied 'en' locales to 'en_US'

* Fri Jun 04 2010 Michael Stauber <mstauber@solarspeed.net> 2.0.0-11
- Changed requirement from blueonyx-cgiwrap to cgiwrap
- Not sure why we had a separate instance of the same cgiwrap around.

* Wed Feb 25 2009 Michael Stauber <mstauber@solarspeed.net> 2.0.0-10
- Updated ui/extensions/subdomains.php.modify.User
- Needed to set sane default for subdomain enabled. Otherwise user modification through GUI may throw errors.

* Wed Feb 25 2009 Michael Stauber <mstauber@solarspeed.net> 2.0.0-9
- ACL's were still a bit fubar, giving siteAdmins and serverAdmins grief.
- Modified ACLs in glue/schemas/subdomainsUser.schema and glue/schemas/subdomainsVsite.schema to sort this out.

* Sat Jan 03 2009 Michael Stauber <mstauber@solarspeed.net> 2.0.0-8
- Added missing create and destroy ACL's to glue/schemas/subdomainsUser.schema

* Fri Jan 01 2009 Michael Stauber <mstauber@solarspeed.net> 2.0.0-7
- Repaired German locales.

* Wed Dec 31 2008 Brian Smith <brian@nuonce.net>> 2.0.0-6
- Resolved bug for "new_sub" on display

* Wed Dec 31 2008 Michael Stauber <mstauber@solarspeed.net> 2.0.0-5
- German locales added.
- Stub for Danish locales added.
- i18n'ed the menu entries.
- Fixed display bug in ui/web/vsite.php which pops up when using non-English locales (empty string in scroll-list).

* Wed Dec 31 2008 Michael Stauber <mstauber@solarspeed.net> 2.0.0-4
- Added dependency blueonyx-cgiwrap to Makefile

* Mon Dec 29 2008 Brian N. Smith <brian@nuonce.net> 2.0.0-1
- Lots of changes, but new v2 to be brought into BlueOnyx

* Tue Aug 08 2006 Brian N. Smith <brian@nuonce.net> 1.0.0-1
- Rebuilt using "BQ" style of RPMS

* Sun Jul 16 2006 Brian N. Smith <brian@nuonce.net>
- Fixed problem with showing more then 25 on scroll.  Will scroll through
- all virtual sites now!

* Sat Jul 8 2006 Brian N. Smith <brian@nuonce.net>
- Inital Installer Build

<end $CHANGELOG>
