# configuration bits for mod_rpmize
# syntax:
# <begin [x]section>
# <end [x]section>
#
# x an be $ for a string or % for a hash.
# if a hash is being used, you can add sub-sections with
# <begin sub-section>
# <end sub-section>


<begin $DESCRIPTION>
%package [LABEL]
Group: System Environment/BlueQuartz
Summary: [LABEL] for [VENDOR]-[SERVICE].
[AUTOFILL]
[BUILDARCH]

%description [LABEL]
The [VENDOR]-[SERVICE]-[LABEL] package contains the [LABEL]
information for [VENDOR]-[SERVICE].

<end $DESCRIPTION>

<begin %INSTALL>
<begin glue>
<end glue>
<end %INSTALL>

<begin %FILES>
<begin HEADER>
%files [LABEL]
%defattr(-,root,root)
<end HEADER>

<begin locale>
[AUTOFILL]

<end locale>

<begin glue>
%config /etc/rc.d/init.d/*
%config /etc/logrotate.d/admserv
/etc/admserv
/usr/sbin/httpd.admsrv
/var/log/admserv
%attr(700,admserv,-) /var/cache/admserv

<end glue>

<begin ui>
[AUTOFILL]

<end ui>

<begin capstone>
%{RootDir}/capstone/%{Vendor}-%{Service}.cap
[AUTOFILL]

<end capstone>
<end %FILES>
<begin %PRE-INSTALL> 
<begin HEADER> 
%pre [LABEL] 
<end HEADER> 
 
<begin glue> 
<end glue> 
<end %PRE-INSTALL> 
<begin %POST-INSTALL>
<begin HEADER>
%post [LABEL]
<end HEADER>

<begin glue>
# glue post-install
if [ "$1" = 1 ]; then
        for file in admserv; do
                /sbin/chkconfig --add $file
        done
fi

if [ ! -f /etc/admserv/certs/certificate ] ; then
	/usr/bin/openssl genrsa -rand /proc/apm:/proc/cpuinfo:/proc/dma:/proc/filesystems:/proc/interrupts:/proc/ioports:/proc/pci:/proc/rtc:/proc/uptime 2048 > /etc/admserv/certs/key 2> /dev/null
fi

FQDN=`hostname`
if [ "x${FQDN}" = "x" ]; then
   FQDN=localhost.localdomain
fi
 
if [ ! -f /etc/admserv/certs/certificate ] ; then
cat << EOF | /usr/bin/openssl req -new -key /etc/admserv/certs/key -x509 -days 365 -out /etc/admserv/certs/certificate 2>/dev/null
--
SomeState
SomeCity
SomeOrganization
SomeOrganizationalUnit
${FQDN}
root@${FQDN}
EOF
fi

# change php.ini for x86_64 environment
%ifarch x86_64
perl -pi -e 's|extension_dir = /usr/lib/php|extension_dir = /usr/lib64/php|g' /etc/admserv/php.ini
%endif

# Increase memory_limit in /etc/admserv/php.ini:
perl -pi -e 's|^memory_limit = 8M      ; Maximum amount of memory a script may consume \(8MB\)|memory_limit = 256M      ; Maximum amount of memory a script may consume \(256MB\)|g' /etc/admserv/php.ini

# Increase upload_max_filesize to 300MB, as some Java WAR files can be rather large on uploads:
perl -pi -e 's|^upload_max_filesize = (.*)|upload_max_filesize = 300M|g' /etc/admserv/php.ini

# Set ServerName in /etc/admserv/conf/httpd.conf:
if [ -f /usr/sausalito/constructor/base/apache/set_apache_hostname.pl ] ; then
    /usr/sausalito/constructor/base/apache/set_apache_hostname.pl
fi

# Add user 'admserv':
/usr/sbin/useradd -c "Admserv" -u 49 -s /sbin/nologin -r -d /usr/sausalito/ui admserv 2> /dev/null || : 

if [ $1 = 2 ]; then
    /etc/init.d/admserv condrestart
fi
<end glue>
<begin ui>
# ui post-install

<end ui>
<begin locale>
# locale post-install

<end locale>
<end %POST-INSTALL>

<begin %POST-UNINSTALL>
<begin HEADER>
%postun [LABEL]
<end HEADER>

<begin glue>
# glue post-uninstall

<end glue>
<begin ui>
# ui post-uninstall

<end ui>
<begin locale>
# locale post-uninstall

<end locale>
<end %POST-UNINSTALL>

<begin $CHANGELOG>

* Wed Oct 29 2014 Michael Stauber <mstauber@solarspeed.net> 2.0.1-0BX06
- glue/etc/admserv/conf.d/ssl.conf: Turned off SSLv3 protocol.

* Wed Apr 02 2014 Michael Stauber <mstauber@solarspeed.net> 2.0.1-0BX05
- Modified glue/etc/admserv/conf/httpd.conf to set 'AddDefaultCharset' 
  to off. This allows us to set the charset in the page headers. 
- Modified glue/etc/admserv/php.ini to hard wire charsets to UTF-8: 
  default_charset, exif.encode_unicode, iconv.input_encoding,
  iconv.internal_encoding and iconv.output_encoding all set to UTF-8.

* Wed Feb 05 2014 Michael Stauber <mstauber@solarspeed.net> 2.0.1-0BX04
- Modified ciphers and protocols in glue/etc/admserv/conf.d/ssl.conf 
  again, so that we now can use TLSv1.2 if available.

* Tue Dec 31 2013 Michael Stauber <mstauber@solarspeed.net> 2.0.1-0BX03
- Accidentially pushed the 5207R changes to the 5107R versions of this module.
  And pushed it to the testing YUM repository. So this is now the rollback.

* Mon Dec 30 2013 Michael Stauber <mstauber@solarspeed.net> 2.0.1-0BX02 
- Somehow the change of UID for AdmServ from 'apache' to 'admserv' got dropped. 
  Readding it again. 
 
* Wed Dec 18 2013 Michael Stauber <mstauber@solarspeed.net> 2.0.1-0BX01 
- Modified for 5207R/5208R with new configs. 

* Wed Dec 04 2013 Michael Stauber <mstauber@solarspeed.net> 1.0.2-0BX01
- Disabled some modules for SL6.
- Change of UID for AdmServ from 'apache' to 'admserv'.
- Raised PHP memory_limit from 80MB to 256MB. These days we have oodles of RAM, so let us use it.
- Some cleanups in httpd.conf

* Sun Sep 08 2013 Michael Stauber <mstauber@solarspeed.net> 1.0.1-0BX23
- Modified glue/etc/admserv/conf.d/ssl.conf to force more secure protocols and ciphers

* Wed Aug 08 2012 Michael Stauber <mstauber@solarspeed.net> 1.0.1-0BX22
- Added glue/etc/admserv/conf.d/security.conf to disable TRACK/TRACE.

* Tue Mar 20 2012 Michael Stauber <mstauber@solarspeed.net> 1.0.1-0BX21
- Updated glue/etc/admserv/conf/httpd.conf to switch it to UTF-8

* Tue Jul 19 2011 Michael Stauber <mstauber@solarspeed.net> 1.0.1-0BX20
- Modified AdmServ's php.ini to set upload_max_filesize to 300MB for Java WAR uploads.
- Modified templates/rpmdefs.tmpl to run a replace on php.ini as well in case the RPM 
  doesn't replace it due to user modifications.

* Thu Jul 14 2011 Michael Stauber <mstauber@solarspeed.net> 1.0.1-0BX19
- AdmServ was generating 1024-bit SSL certs again. Fixed.

* Tue Jun 28 2011 Michael Stauber <mstauber@solarspeed.net> 1.0.1-0BX18
- Updated glue/etc/admserv/php.ini to set register_globals and register_long_globals to 'on'.
  I know this is ugly and just a dirty work around. But that's the fastest way to get the GUI
  working with PHP-5.3 until the time that we can get it to work without this messy fix.

* Wed Jun 02 2010 Michael Stauber <mstauber@solarspeed.net> 1.0.1-0BX17
- Commented out mod_file_cache.so in httpd.conf
- Commented out mod_mem_cache.so in httpd.conf
- Changed lenght of AdmServ SSL cert from 1024 bit to 2048 bit
- Added mod_ssl to required packages

* Thu Oct 15 2009 Michael Stauber <mstauber@solarspeed.net> 1.0.1-0BQ16
- Modified glue/etc/admserv/conf.d/ssl.conf
- Disabled SSLv2, so that the more secure SSLv3 or TLSv1 are used for AdmServ-SSL instead.
- Added post-install exec of /usr/sausalito/constructor/base/apache/set_apache_hostname.pl to set ServerName in AdmServ config.

* Fri Jul 17 2009 Michael Stauber <mstauber@solarspeed.net> 1.0.1-0BQ15
- Edited glue/etc/admserv/php.ini to raise memory_limit from 8M to 80M.
- Module base-console.mod needs a higher memory limit for processing large ScrollLists.
- Modified templates/rpmdefs.tmpl post install script to raise memory_limit in /etc/admserv/php.ini

* Wed Dec 03 2008 Michael Stauber <mstauber@solarspeed.net> 1.0.1-0BQ14
- Rebuilt for BlueOnyx.

* Thu Nov 13 2008 Michael Stauber <mstauber@solarspeed.net> 1.0.1-0BQ13
- Changed ServerTokens to ProductOnly in glue/etc/admserv/conf/httpd.conf

* Sun Jun 01 2008 Michael Stauber <mstauber@solarspeed.net> 1.0.1-0BQ12
- Added PHP5 and Apache-2.2.6 related provisions for 5106R
- httpd.conf, php.ini and php.conf have been modified for usage on CentOS5 only.
- httpd.conf was changed because some modules on the newer Apache have been renamed.
- php.conf was of course modified because we now use PHP5 instead of PHP4.
- php.ini was changed to switch the extension_dir path from ...
- extension_dir = /usr/lib/php4
- ... to ..
- extension_dir = /usr/lib/php/modules
- ALL THIS IS NO LONGER COMPATIBLE WITH CENTOS4 !!!

* Sun May 11 2008 Michael Stauber <mstauber@solarspeed.net> 1.0.1-0BQ11
- Added extension=crack.so to /etc/admserv/php.ini for cracklib support.

* Sun Jan 27 2008 Hisao SHIBUYA <shibuya@bluequartz.org> 1.0.1-0BQ10
- add sign to the package.

* Thu Aug 17 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.0.1-0BQ9
- glue package requires httpd.

* Tue Jun 27 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.0.1-0BQ8
- add requires openssl in glue package.

* Thu Jun 22 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.0.1-0BQ7
- add requires to openssl.

* Sat Jun 10 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.0.1-0BQ6
- modify error_reporting to remove notify message.

* Tue Mar 14 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.0.1-0BQ5
- modify init script to add condrestart.

* Mon Mar 13 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.0.1-0BQ4
- change upload_size in php.ini.

* Mon Mar 13 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.0.1-0BQ3
- added php.ini for admserv again.

* Thu Mar 09 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.0.1-0BQ2
- modify php.ini on x86_64 environment.

* Mon Jan 16 2006 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.0.1-0BQ1
- added php.ini for admserv.

* Sat Dec 24 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.0.0-0BQ15
- modified redirect rules in httpd.conf.

* Sun Dec 18 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.0.0-0BQ14
- modified error alias in httpd.conf.

* Tue Nov 29 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.0.0-0BQ13
- rebuild with devel-tools 0.5.1-0BQ7.

* Tue Nov 08 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.0.0-0BQ12
- added logrotate config by anders.
- fixed the issue that cannot open SSLSessionCache DBM file by anders.

* Tue Oct 18 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.0.0-0BQ11
- rebuild with devel-tools 0.5.1

* Tue Aug 23 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.0.0-0BQ10
- modified init script to fix starting problem when /etc/sysconfig/i18n isn't exist.

* Fri Aug 12 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.0.0-0BQ9
- modified Group tag in rpmdefs.tmpl.

* Fri Aug 12 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.0.0-0BQ8
- add serial number

* Thu Aug 11 2005 Hisao SHIBUYA <shibuya@alpha.or.jp> 1.0.0-0BQ7
- clean up spec file.
<end $CHANGELOG>
